<div id="approved" style="display:none">
  <div class="formANet__request">
    <h3><span class="glyphicon glyphicon-ok"></span><span class="formANet__request--title">Approved requests</span></h3>  
    <span id="approved_requests_count"></span> <span>/ 3</span>
  <div class="users-list"></div>
  <div id="waiting"></div>
  </div>
</div>
