<form class="formANet form" role="form">
	<h2 class="h2">Aproval process
	<small>
		<%%= @approved_requests_count %>/3

		<small>
			Approved requests
		</small>
	</small>
	</h2>
	<p class="lead">Before you can enter the AlumNet platform you have to pass through an approval process where other AIESEC Alumni will certify that you are another AIESEC Alumni fellow.</p>
	<hr>
	<div class="row">
		<div class="col-md-2">
			<%= image_tag("registration/searchIcon.png", alt: "question mark", width: 90, height: 90, class: "img-circle") %>
		</div>
		<div class="col-md-10">
			<h3>Find 3 People</h3>
			<p>Who can confirm that you are an AISEC Alumni</p >
			<div class="form-group has-feedback">
				<label class="control-label">Search by name</label>
				<input type="text" class="form-control input-lg" placeholder="Write a name or email" name="search_term" id="search_term">
				<span class="formANet__input__icon glyphicon glyphicon-user form-control-feedback">
			</div>
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Search by Country</label>
						<div class="formANet__select">
							<select name="searchCountry" class="form-control input-lg">
								<option value=""></option>
								<option value="1"></option>
								<option value="2"></option>
								<option value="3"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Search by City</label>
						<div class="formANet__select">
							<select name="searchCity" class="form-control input-lg">
								<option value=""></option>
								<option value="1"></option>
								<option value="2"></option>
								<option value="3"></option>
							</select>
						</div>
					</div>
				</div>
			</div> -->
			<div class="text-right"><button class="btn btn-primary btn-lg text-uppercase js-search" type="submit"> <span class="glyphicon glyphicon-search"></span> Search</button>
			</div>
			<hr>
			<h3>Results</h3>
			<div class="users-list">
				
			</div>
			
			
			<!-- <button class="btn btn-default text-uppercase btn-primary-noBackground " type="submit"><span class=" icon-entypo-down-open "> SHOW MORE (3)</button> -->
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2">
			<%= image_tag("registration/questionIcon.png", alt: "question mark", width: 90, height: 90, class: "img-circle") %>
			<!--<img src="assets/registration/questionIcon.png" alt="question mark"  width="90px" height="90px" class="img-circle">-->
		</div>
		<div class="col-md-10">
			<h3 >Didnt find anyone?</h3>
			<p class="lead" >Ask an administrator to approve you manually</p>
			<div class="js-buttonContainer">
				<button class="btn btn-primary btn-lg text-uppercase js-askAdmin" type="button">SEND YOUR REQUEST TO ADMIN</button>				
			</div>
		</div>
	</div>
</form>