<div id="sent" style="display:none">
	<div class="formANet__request">
		<h3><span class="icon-entypo-paper-plane"></span><span class="formANet__request--title" >Sent Request</span></h3>
		<div class="users-list"></div>	
	</div>
</div>


