/***

DESCRIPTION: These are the styles for profiles pages in public scope

***/

@import 'conf/conf.css.less';

.publicProfile {
  margin-top: 50px;

  &__membership {
    padding-top: 18px;

    div {
      background-color: #2099d0;
      border-radius: 50px;
      color: #ffffff;      
      padding: 9px 18px 9px 13px;
      display: inline;

      .glyphicon__right {
        margin-right: 5px;
      }
      .glyphicon__big {
        font-size: 20px;
        top: 3px;
      }

    }

  }
  
}

.avatarImage {
  width: 100%;
}