@import 'conf/conf.css.less';

.announcement {
  margin: 50px auto;
  border-top: 1px solid @light-gray;
  border-bottom: 1px solid @light-gray;
  background: @form-inner-gray;
  .header {
    height: 176px;
    width: 100%;
    background: @white image-url('announcement_header.jpg') 70% top;
  }

  .images {
    text-align: left;
    margin: 0 0 30px -5px;
    a {
      border: 1px solid @gray;
      padding: 2px;
      border-radius: 2px;
      .inline-block();
      margin: 3px;
      &:hover {
        border-color: @main-blue;
      }
      img {
        width: 72px;
        height: 72px;
      }
    }
  }

  .video-wrap {
    margin: 0;
    iframe {
      width: 100%;
      max-height: 250px;
      max-width: 600px;
      @media(min-width: 500px){
        max-height: 300px;
      }
    }

    @media(min-width: 650px){
      margin: 0 10%;
      iframe {
        max-height: 350px;
      }
    }
  }

  &.announcement-panel {
    z-index: 99;
    .images {
      margin: 0 0 30px -5px;
    }
  }

  .subject {
    color: @form-inner-dark;
    padding: 50px 50px 0 50px;
    font-size: 2.3em;
    font-weight: 700;
    margin: 0;
  }

  .date {
    padding: 0 50px;
    color: @dim-gray;
  }
  .by {
    padding: 10px 50px;
    color: @form-inner-dark;
  }

  .text-wrap {
    padding: 60px 50px 20px 50px;
    font-size: 1.1em;
    line-height: 1.3em;
    .text {
      margin-top: 20px;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: @gray;
      border: 3px solid @white;
    }

    p {
      margin-bottom: 1.5em;
    }
  }

  @media(min-width: 900px){
    width: 854px;
    border: 1px solid @light-gray;
    .header {
      background-position: right top;
    }
  }

}