<% content_for :title, "AlumNet - Public Profile" %>
<article class="container-fluid publicProfile">
  <div class="row col-md-10 col-md-offset-1">
    
    <div class="col-md-3">
      <img src="http://placehold.it/250x250" alt="avatar" class="img-circle avatarImage">
    </div>
    
    <div class="col-md-9">
      
      <div class="publicProfile__membership">
        <div>
          <span class="glyphicon glyphicon-certificate"></span>
          <span class="glyphicon glyphicon-certificate glyphicon__big"></span>
          <span class="glyphicon glyphicon-certificate glyphicon__right"></span>
          LIFETIME MEMBER
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">
              Nelson Ramirez  
            </h3>

            <ul class="metaInfoCard__list">
              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-asterisk"></span> From:</span> City 1 of Country 0001 - Country 0001 in 1990/8/24
              </li>
              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-map-marker"></span> Lives in:</span> London - United Kingdom              
              </li>
            
              <li>              
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-envelope"></span> Email:</span>
                nramirez@upsidecorp.ch
              </li>
            </ul>        
          </div>

        </div>
        
        <div class="col-md-3">
          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Languages</h3>
            
            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              
              <li>
                <div class="overfloadText metaInfoCard__language">
                  English
                </div>
                <div class="progress metaInfoCard__language__lvl" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Professional working">
                  <div class="progress-bar progress-bar-info" style="width: 50%">
                    <span class="sr-only">Professional working</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="overfloadText metaInfoCard__language">
                  Spanish
                </div>
                <div class="progress metaInfoCard__language__lvl" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Professional working">
                  <div class="progress-bar progress-bar-info" style="width: 50%">
                    <span class="sr-only">Professional working</span>
                  </div>
                </div>
              </li>

            </ul>   

          </div>  
        </div>
        <div class="col-md-3">
          
          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Skills</h3>
            
            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              
              <li>
                <div class="overfloadText metaInfoCard__language">
                  Marketing
                </div>
                
              </li>
              <li>
                <div class="overfloadText metaInfoCard__language">
                  Backbone
                </div>                
              </li>
              <li>
                <div class="overfloadText metaInfoCard__language">
                  Ruby
                </div>                
              </li>
              <li>
                <div class="overfloadText metaInfoCard__language">
                  UI Design
                </div>                
              </li>

            </ul>   

          </div>

        </div>
      </div>
      
      <div class="row">
        <div class="col-md-10">
          <h2 id="professionalExperience">
              Professional Experience    
          </h2>

          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position            
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br> 
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->

          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position            
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br> 
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->
          
          <%= image_tag("profile/aiesec130x20.png", alt: "AIESEC") %>
          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position            
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br> 
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->

          <%= image_tag("profile/logoaiesec130.png", alt: "ALUMNI") %>

           <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position            
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br> 
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->


        </div>
      </div>

    </div>

  </div>

  
</article>