<div class="container-fluid">
  <div class="row" style="position:relative">
<!--   <div class="col-md-2 col-md-offset-2 metaInfoCard__affix">
      <div id="aboutUseraffix">
        <div  class="metaInfoCard metaInfoCard--menu">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">
              <span class="text-uppercase">
                Search Engine
              </span>

              <span class="pull-right glyphicon glyphicon-search">              
              </span>
            </a>  </li>

            <li><a href="#">           
              <span class="text-uppercase">
                Interaction              
              </span>

              <span class="pull-right glyphicon glyphicon-hand-up">              
              </span>
            </a></li>

            <li><a href="#">
              <span class="text-uppercase">
                Contact              
              </span>      

              <span class="pull-right glyphicon glyphicon-send">              
              </span>              
            </a></li>

            <li><a href="#">
              <span class="text-uppercase">
                My Profile              
              </span>
              
              <span class="pull-right glyphicon glyphicon-user">              
              </span>
              
            </a>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="col-md-8 col-md-offset-2" >
      <div class="metaInfoCard">
        <h3 class="metaInfoCard__title">Who can see my profile information</h3>
        
        <ul id="js-list" class="metaInfoCard__list">
          
        </ul>
      </div>
    </div>
   
  </div>
</div>