@import 'conf/conf.css.less';

.after-sign-up-form .radio-label {
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
  color: @mid-gray;
  span {
    display: inline;
    position: relative;
    top: 1px;
  }
  input {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    display: inline;
    vertical-align: middle;
  }
  .help-inline.error {
    position: absolute;
    top: 61px;
    left: 20px;
    font-size: 14px;
  }
}