web: rails s
api: subcontract --rvm ruby-2.1.2@alumnet --chdir ../alumnet-api -- bundle exec rails s -p 4000
worker: subcontract --rvm ruby-2.1.2@alumnet --chdir ../alumnet-api -- bundle exec sidekiq -q profinda -q mailers -q pusher -q rollbar -q indexer