<div class="container-fluid">
  <div class="row" style="position:relative">
    <div class="col-md-2 metaInfoCard__affix">
      <div id="aboutUseraffix">
        <div  class="metaInfoCard metaInfoCard--menu">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">
              <span class="text-uppercase">
              Details & Contact
              </span>
              <span class="pull-right glyphicon glyphicon-envelope">
              
              </span>

            </a>  </li>
            <li><a class="smoothClick" id="toaiesecExperience">
            <%= image_tag("profile/aiesec130x20.png", alt: "AIESEC") %>
            
            <br/>
              <span class="text-uppercase">
              Experiences
              
              </span>
              <span class="pull-right glyphicon glyphicon-book">
              
              </span>
            </a></li>

             <li><a class="smoothClick" id="toalumniExperience">
            <%= image_tag("profile/logoaiesec130.png", alt: "AIESEC") %>
              <span class="text-uppercase">
              Experiences
              
              </span>
              
              <span class="pull-right glyphicon glyphicon-asterisk">
              
              </span>
              
            </a></li>
            <li><a class="smoothClick" id="toacademicExperience">Academic <br/>
              <span class="text-uppercase">
              Experiences
              
              </span>
              
              <span class="pull-right glyphicon glyphicon-asterisk">
              
              </span>
              
            </a></li>
            <li><a class="smoothClick" id="toprofessionalExperience">Professional <br/>
              <span class="text-uppercase">
              Experiences
              
              </span>
              
              <span class="pull-right glyphicon glyphicon-briefcase">
              
              </span>
              
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div id="profile-info" class="metaInfoCard">
      </div>
    </div>
    <div class="col-md-3">
      <div class="metaInfoCard">
        <h3 class="metaInfoCard__title">IM & Web</h3>
        <%% if @userCanEdit: %>
          <a href="#" class="js-addContact">Add new +</a>
        <%% end %>
        <ul id="contacts-list" class="metaInfoCard__list">
          
        </ul>
      </div>
      <div class="metaInfoCard">
        
        <h3 class="metaInfoCard__title">Languages</h3>
        <%% if @userCanEdit: %>
          <a href="#" class="js-addLanguage">Add new +</a>
        <%% end %>
        <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills">
          
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="metaInfoCard">
        <h3 class="metaInfoCard__title">Skills</h3>
        <%% if @userCanEdit: %>
          <a href="#" class="js-addSkill">Add new +</a>
        <%% end %>

        <ul id="skills-list" class="metaInfoCard__list metaInfoCard__list--skills">

        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <div id="experiences-list">
        
      </div>
    </div>
  </div>
</div>
<div id="js-modal-container">
        
</div>