


.top-sub-nav {
    min-height: 60px;
    background: #2099d0;
}




.sub-bar-groups-link {
    height: 60px;
    font-family: "Roboto",sans-serif;
    color: #fff;
    padding-top: 20px ;
}
.sub-bar-groups-link {
    height: 60px;
    font-family: "Roboto",sans-serif;
    color: #fff;
    padding-top: 20px ;
}
.top-bar-groups-profile-link {

    padding-top: 9px ;
}
.sub-bar li a {
    border-bottom: none;
    color:#fff;
    text-align: left;
}
.sub-bar li a:hover, .sub-bar > li > a:focus {
    border-bottom: 5px solid #fff
}
.profile-link {
    height: 60px;
}

.new-group-button-li{
    height: 60px;
    width:230px;

}
.new-group-button{
    height:40px;
    background: none repeat scroll 0 0 #8fcce7;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold; 
    border-color: #fff;
}
.new-group-button:hover{
    background: none repeat scroll 0 0 #107daf;
}