<div class="container">
  <div class="tab-content padding_small">
    <div role="tabpanel" class="tab-pane active" id="table">
      <div class="row main-events-area"><!-- Begin group container -->
      </div>
    </div>
    <div class="text-center">
      <span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
    </div>
    <div role="tabpanel" class="tab-pane" id="calendar">
      <div id="calendar" class="container">

        <!-- Events Calendar View -->
      </div>
    </div>
  </div>
</div>