@import 'conf/conf.css.less';

.what-common {
  width: 100%;
  &.clicked {
    color: @black;
  }
}

.what-in-common-region {
  ul {
    margin: 0 0 4px -4px;
  }
  li {
    margin: 0 0 4px 4px;
  }
  .btn {
    padding: 0 4px;
    font-size: 0.95em;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    border-radius: 3px;
    max-width: 100%;
    word-break: break-all;
  }
  .loading {
    padding: 0;
    height: 38px;
    background-position: right 5px;
  }
}
