@import 'conf/conf.css.less';

.after-sign-up-partial-wrap {
  margin-top: 24px;
  margin-bottom: 24px;
}

.fieldset-elem {
  margin: 0 0 16px 0;
  padding: 16px 0;
}

.start-end-date-horizontal {
  margin-bottom: 10px;
  input {
    width: 75px;
  }
  .input {
    .inline-block();
    width: 90px;
  }
  .current {
    width: 50px;
    margin-left: 5px;
    input {
      width: 14px;
    }
    label {
      padding-top: 2px;
      font-size: 12px;
    }
  }
}

.section_edit {
  font-size: 14px;
  float: right;
}

.profile-position-part {
  margin: 0;
  position: relative;
  border-top: 1px solid @light-gray;
  &:first-of-type {
    border-top-width: 0;
  }
}

.profile_agree_to_terms_and_conditions .controls {
  margin: 0;
}
