.pages.about-connections h2 {
  background-image: image-url('landing/about_connections.png');
 // background-position: 15px 10px;
}

.pages.about-software h2 {
  background-image: image-url('landing/about_software.png');
// background-position: 10px 10px;
}

.pages.about-us h2 {
  background-image: image-url('landing/about_us.png');
//  background-position: 15px 10px;
}

.pages.about-hopes h2 {
  background-image: image-url('landing/about_hopes.png');
//  background-position: 25px 10px;
}

.pages.about-history h2 {
  background-image: image-url('landing/about_history.png');
//  background-position: 20px 10px;
}

