.benefits-about h2 {
  background-image: image-url('landing/problem_what.png');
}

.benefits-benefits h2 {
  background-position: 10px 0px;
  background-image: image-url('landing/benefits_benefits.png');

}