.eu-cookie-ok {
  color:  @white;
  display: inline-block;
  padding: 3px 16px;
  margin: 0 8px;
  .gradient(#4D90FE, #4787ED);
  border: 1px solid #3079ED;
  border-radius: 2px;
  font-size: 11px;
  &:hover {
    color:  @white;
    .gradient(#4787ED, #4D90FE);
    text-decoration: none;
  }

}

.eu-cookie-more {
  color: #4D90FE;
}


.eu-cookie-inner {
  margin: 0 20px;
}

.eu-cookie {
  text-shadow: 1px 1px 0 white;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  background: rgba(242,242,242,0.9);
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #d4d4d5;

}

.eu-cookies-explained h2 {
  background: image-url('landing/cookies.png');
}