.flashes {
  .alert {
    text-align: left;
    .gradient(lighten(@landing-blue, 10%), lighten(@landing-blue, 16%));
    border-radius: 4px;
    color: @white;
    text-shadow: 0 1px 0 @landing-blue;
    border-bottom: 1px solid lighten(@landing-blue, 5%);
    margin: 0 5% 20px 5%;
    padding-bottom: 0;
    p {
      margin: 0;
      padding: 16px 16px 24px 16px;
    }
  }
}