.integration-wrapper {
  background: image-url('landing/integration_bg.png') center bottom no-repeat;
  padding-bottom: 72px;
}

.integration-easy h2 {
  background-image: image-url('landing/integration_easy.png');
}

.integration-cloud,
.integration-premises {
  text-align: center;
  padding-top: 50px;
  h3 {
    padding-top: 55px;
    font-weight: normal;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    margin: 0 5px;
    padding: 0;
  }
  li {
    padding: 5px 0;
  }
}

.integration-cloud h3 {
  background: image-url('landing/integration_cloud.png') center 10px no-repeat;
}

.integration-premises h3 {
  background: image-url('landing/integration_premises.png') center top no-repeat;
}