@import 'conf/conf.css.less';

@import "../helpers.css.less";
@import "../components/grid.css.less";
@import "../components/buttons.css.less";
@import "../components/icons/font-icons.css.less";
@import "../typography.css.less";
@import '../apps/footer/footer.css.less';
@import '../apps/contact_us/contact-us.css.less';


@white: #fff;
@whitish: #f0f0f1;
@light-gray: #e2e2e2;
@dim-gray: #b1b3b4;
@landing-footer-color: #e1e4e6;
@gray: #949293;
@dark-gray: #424243;
@black: #09080a;
@true-black: #000;

@landing-blue: #0077bd;
@light-blue: #0091d4;
@sky-blue: #7Fbcd8;

@error: #bd1500;

@import 'landing/global.css.less';
@import 'landing/typography.css.less';
@import 'landing/big-list.css.less';
@import 'landing/legal-list.css.less';
@import 'landing/flashes.css.less';
@import 'landing/form.css.less';
@import 'landing/eu-cookie.css.less';
@import 'landing/box.css.less';

@import 'landing/sign-in.css.less';
@import 'landing/top-bar.css.less';
@import 'landing/home.css.less';
@import 'landing/home-carousel.css.less';
@import 'landing/testimonials.css.less';
@import 'landing/as-seen-in.css.less';
@import 'landing/pages.css.less';
@import 'landing/about.css.less';
@import 'landing/problem.css.less';
@import 'landing/integration.css.less';
@import 'landing/benefits.css.less';
@import 'landing/trial.css.less';
@import 'landing/contact-us.css.less';
@import 'landing/premium.css.less';
