.problem-what h2 {
  background-image: image-url('landing/problem_what.png');
}

.problem-inefficient h2 {
  background-image: image-url('landing/problem_inefficient.png');
}

.problem-solution h2 {
  background-image: image-url('landing/problem_solution.png');
}
