<article class="container staticContentBox">
  <h1>A-Groups</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
      


      
    <p class="staticContentBox__firstP">
       Committed to continuing the AIESEC legacy of dynamic responsible leadership through empowering networks.

    </p>
      
    <p>
    A-Groups are AIESEC Alumni groups of 12 to 14 members who commit to meet 6-8 times a year in confidential discussions in support of each other, like a personal life-coach group or a personal Board of Directors for each member.

    </p>
       <%= image_tag('static_pages/programs/agroups2.jpg', class: "img-responsive staticContentBox__Img", alt: "A-Groups", width:"50%" ) %>
    <%= image_tag('static_pages/programs/agroups.jpg', class: "img-responsive staticContentBox__Img", alt: "A-Groups", width:"50%" ) %>
 

  </section>
</article>