<article class="container staticContentBox">
  <h1>Global Business Exchange</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
     
    <p class="staticContentBox__firstP">
       
While everyone joins AIESEC for many different reasons, the reason we stay involved is always the people! ALUMnite events bring together Alumni, sometimes also AIESEC’ers, Trainees and externals, in cities around the world.   Ranging from casual get-togethers in restaurants and homes, to in-depth discussions on a topic, we connect on so many levels.  Many cities have monthly social events, some do visits to a company or school, and ski trips, picnics, and cruises have all brought alumni together again.

      
    <p>
      Right now, facebook groups capture the quick, dynamic, friendly nature of ALUMnite events… and alumni have created 100’s of facebook groups and events.  We are happy that most are also shared on our ALUMnite by AAI group <a href="https://www.facebook.com/groups/ALUMnitebyAAI/">https://www.facebook.com/groups/ALUMnitebyAAI/</a>

    </p>
    <p>
      Already today, alumni meet on regular basis in a number of cities around the world, and we know that many more would participate if they knew when and where to go.... This is an ongoing effort, whereby our soon-to-be-launched AlumNet Platform will play a tremendous growth driver.


    </p>
    <p>
      Every AIESECer is welcome to join us… alumni, students, trainees and our corporate partners. If there is no event in your city yet, we encourage you to organize one. We will be happy to help.We are as many as one million strong, and our potential “to the power of AIESEC” is huge! Let us unleash this potential together every month in as many cities worldwide as we can. This is a great channel for us to learn from one other, create synergies and have impact.We invite YOU to get engaged in this global effort in your city every month.  

    </p>
    <%= image_tag('static_pages/programs/alumnite2.jpg', class: "img-responsive staticContentBox__Img", alt: "Alumnite", width:'50%' ) %>
     <%= image_tag('static_pages/programs/alumnite.jpg', class: "img-responsive staticContentBox__Img", alt: "Alumnite", width:'50%'  ) %>
      
  </section>
</article>