<article class="container staticContentBox">
  <h1>Global Business Exchange</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
      <%= image_tag('static_pages/programs/business_exchange.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Business Exchange Program" ) %>
    <p class="staticContentBox__firstP">
        The Global Business Exchange is an online marketplace where AIESEC Alumni can seek help from each other. Get or give help on market research and consulting, distribution channel development or business partner selection in another country.
      
    <p>
      Find the help you need based on region, country or even city. Find the right Alumni to help you according to your industry, type of business, product or service.
    </p>
    <p>
      Help others with their requests, and open great opportunities for business partnerships in the future.
    </p>
  </section>
</article>