<div class="row">
  <div class="col-md-12 text-right">
    <a href="" id="js-modal-home"><span class="glyphicon glyphicon-question-sign" style="font-size: x-large;"></span></a>
  </div>
</div>

<article class="container staticContentBox">
  <h1>Global Home Exchange</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
          <p class="staticContentBox__firstP">
        The Global Home Exchange application will allow AIESEC alumni to swap homes for vacation purposes.
      
    <p>
      Plan your vacations and swap your home with other fellow Alumni and live an incredible experience!

    </p>
    <p>
      Just add your home into the system and choose some desired destinations for your vacations and the system will find a match!
    </p>
    <%= image_tag('static_pages/programs/home_exchange.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Home Exchange Program",width:"50%") %>
      <%= image_tag('static_pages/programs/home_exchange2.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Home Exchange Program",width:"50%" ) %>
  </section>
</article>

<div id="container-modal-home" class="modalPrograms"></div>