<article class="container staticContentBox">
  <h1>Global Job Exchange</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
      <%= image_tag('static_pages/programs/job_exchange.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Job Exchange Program", width:"30%" ) %>
    <p class="staticContentBox__firstP">
        The Global Job Exchange is meant to allow AIESEC Alumni to participate in an online exchange for either temporary or permanent jobs, Board of Director or consulting assignments.
      
    <p>
      Get the best talent from a trusted community of AIESEC Alumni or kick start a meaningful career in a company that shares the same values you treasure.

    </p>
    <p>
     This also includes short-term internships, where an alumnus would work in a company for a period of 1-4 weeks.  The objective of these short-term assignments is to provide the participant with a meaningful work/cultural experience, while avoiding work visa issues.  The exchange would allow this to be done either nationally or internationally. 
    </p>
  </section>
</article>