<article class="container staticContentBox">
  <h1>Global Meet-Ups</h1>
  <section class="staticContentBox__content clearfix margin_bottom">
     
    <p class="staticContentBox__firstP">
       The Global Meet-Ups program offers AAI members the ability to connect with other ex-AIESECers with specific profiles/interests during international travel.
      
    <p>
      When you are planning a trip, you can see who is available for a meeting or even to offer you a couch for your short stay, or if you are always happy to meet other fellow AIESEC Alumni you can host them or meet them when they are on the go!

    </p>
     
          <%= image_tag('static_pages/programs/meetups.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Meet-Ups Program",width:"33%" ) %>
          <%= image_tag('static_pages/programs/meetups2.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Meet-Ups Program",width:"33%" ) %>
          <%= image_tag('static_pages/programs/meetups3.jpg', class: "img-responsive staticContentBox__Img", alt: "Global Meet-Ups Program",width:"33%" ) %> 

  </section>
</article>