
/***

COMPONENT NAME: Paddings and Margins
DESCRIPTION: Displays paddings and margins

***/

.pad-15 {
    padding: 15px;
}
.pad-30 {
    padding: 30px;
}
.pad-5 {
    padding: 5px !important;
}
.pad-5 {
    padding: 5px !important;
}
.pad-2 {
    padding: 2px !important;
}
.pad-10 {
    padding: 10px !important;
}
.pad-0 {
    padding: 0 !important;
}
.pad-left-0 {
    padding-left: 0;
}
.pad-right-0 {
    padding-right: 0;
}
.pad-left-5 {
    padding-left: 5px;
}
.pad-top-10 {
    padding-top: 10px;
}
.pad-top-15 {
    padding-top: 15px;
}
.pad-bottom-15 {
    padding-bottom: 15px;
}
.pad-right-5 {
    padding-right: 5px;
}
.pad-left-15 {
    padding-left: 15px;
}
.pad-right-15 {
    padding-left: 15px;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-1 {
    margin: 1px !important;
}
.margin-3
{
    margin: 3px !important;
}
.margin-5
{
    margin: 5px !important;
}
.margin-15
{
    margin: 15px !important;
}
.no-margin {
    margin: 0 !important;
}