/***

COMPONENT NAME: timeline_top
DESCRIPTION: Displays a top of timeline page

***/



.cover-group-name {
    background: none repeat scroll 0 0 #2b2b2b;
    height: 60px;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    top: 50px;
    width: 370px;
}
.timeline-group-name {
    color: #fff !important;
    font-family: "Roboto" !important;
    font-size: 26px !important;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px;
    margin-top: 10px;
    text-align: left;
}
.timeline-cover-ribbon {
    float: left;
    left: 10px;
    position: absolute;
    top: -20px;
}
.timeline-top-bar
{
    height:60px;

    background:#fff;
}
.timeline-menu {
    float: none;
    height: 60px;
    margin-left: auto;
    margin-right: auto;

}
.timeline-menu li{
    display: inline;
    height: 60px;

}
.timeline-menu li a {
    color: #677f8a;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 300;
    height: 60px;
    padding-top: 15px !important;
}
.timeline-menu li a:hover{
    background: #2099d0;
}
.timeline-link
{
 height: 60px;
}
.timeline-link:hover
{
    height: 60px;
}