<div class="container margin_bottom_small pointsTimeline">
<h1 class="text-center">How you earned points</h1>
	
	
	<div class="row-fluid pointsTimeline__collection">
		<div class="row-fluid pointsTimeline__collection__item clearfix">
		
			<div class="col-xs-6 col-xs-offset-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 pointsTimeline__collection__item__activity">
				<div class="pointsTimeline__collection__item__activity__day">					
					<span class="pointsTimeline__collection__item__activity__day__landmarkTop"></span>  
				      Today  
				      					    
				</div>
				
			</div>		
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 col-xs-4   text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--self">
			5 points
			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__self">	<span class="pointsTimeline__collection__item__activity__self__landmarkMiddle"></span>  
					<div class="cardInfo">
						<div class="legend">You were using AlumNet for 15 days</div>
						<div class="time">November 7, 2014.</div>
					</div>
						    
				</div>
				
			</div>
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-4   col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--friend">
			10 points
			
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__friend">	<span class="pointsTimeline__collection__item__activity__friend__landmarkMiddle"></span>  
				      
					<div class="row-fluid">
						<div class="col-md-2 col-sm-2 col-lg-2 cardImage">
							<img src="<%%= @avatar %>" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 cardInfo">
							<div class="margin_top_medium">
								<div class="legend">You gave your approval to</div>
								<div class="name"><%%= @name %></div>
								<div class="time">today, 3:24 pm</div>	
							</div>
							
					      		
					      	
						    
						</div>
						<div class="col-md-1 col-sm-1 col-lg-1 text-right">
							<span class="icon-entypo-check"></span>
						</div>
					</div>


				      
						    
				</div>
				
			</div>
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-4   col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--self">
			5 points
			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__self">	<span class="pointsTimeline__collection__item__activity__self__landmarkMiddle"></span>  
					<div class="cardInfo">
						<div class="legend">You were using AlumNet for 15 days</div>
						<div class="time">November 7, 2014.</div>
					</div>
						    
				</div>
				
			</div>
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-4   col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--friend">
			10 points
			
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__friend">	<span class="pointsTimeline__collection__item__activity__friend__landmarkBottom"></span>  
				      
					<div class="row-fluid">
						<div class="col-md-2 col-sm-2 col-lg-2 cardImage">
							<img src="<%%= @avatar %>" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 cardInfo">
							<div class="margin_top">
								<div class="name"><%%= @name %></div>
								<div class="time">today, 3:24 pm</div>
								<div class="legend">joined AlumNet thaks to you</div>			
								
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-lg-1 text-right">
							<span class="icon-entypo-check"></span>
						</div>
					</div>
				</div>
				
			</div>
		</div>


	</div> 



	<div class="row-fluid pointsTimeline__collection">
		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-6 col-xs-offset-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__day">					
					<span class="pointsTimeline__collection__item__activity__day__landmarkTop"></span>  
				      Yesterday  
				      					    
				</div>
				
			</div>		
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-4   col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--self">
			5 points
			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__self">	<span class="pointsTimeline__collection__item__activity__self__landmarkMiddle"></span>  
					<div class="cardInfo">
						<div class="legend">You were using AlumNet for 15 days</div>
						<div class="time">November 7, 2014.</div>
					</div>
						    
				</div>
				
			</div>
		</div>

		<div class="row-fluid pointsTimeline__collection__item clearfix">
			<div class="col-xs-4   col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 col-sm-4 col-sm-offset-2 text-right pointsTimeline__collection__item__quantity pointsTimeline__collection__item__quantity--group">
			10 points
			
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pointsTimeline__collection__item__activity">	
				<div class="pointsTimeline__collection__item__activity__group">	<span class="pointsTimeline__collection__item__activity__friend__landmarkBottom"></span>  
	<!-- This was just for reference, this is a area for activity in groups -->			      
					<div class="row-fluid">
						<div class="col-md-2 col-sm-2 col-lg-2 cardImage">
							<img src="<%%= @avatar %>" width="100%"/>
						</div>
						<div class="col-md-9 col-sm-9 col-lg-9 cardInfo">
							<div class="margin_top_medium">
								<div class="legend">You were active in</div>	
								<div class="name"><%%= @name %></div>
								<div class="time">today, 3:24 pm</div>	
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-lg-1 text-right">
							<i class="icon-entypo-share"></i>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div> 

	


	


</div>
