<div id="carousel-example-generic" class="homeSlideshow carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			
			<%= image_tag("slideshow/1.jpg", alt: "AIESEC Alumni", width: "100%") %>
			<div class="carousel-caption">
				<p>
					Search alumni and build your AIESEC-inspired global network.
					<br>
					Reconnect with old alumni friends, or find new ones, in nearly every country.
				</p>
			</div>
		</div>
		<div class="item">
			
			<%= image_tag("slideshow/2.jpg", alt: "AIESEC Alumni", width: "100%") %>
			<div class="carousel-caption">
				<p>
					Search alumni and build your AIESEC-inspired global network.
					<br>
					Reconnect with old alumni friends, or find new ones, in nearly every country.
				</p>
			</div>
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- <h1><%= @name %></h1>
-->
<div  class="container-fluid margin_top_small">
	<div class="row">
		<div  class="col-md-8 col-md-offset-2">
			<div class="row" >
				<!-- FORM ON -->
				<div class="item col-md-6 ">
					<div class="groupCreatePostForm clearfix">
						<div class="groupCreatePostForm__avatar">
							<%= image_tag(@current_user_avatar, class="img-circle") %> 
						</div>
						<div class="groupCreatePostForm__form">
							<form class="form">
								<div class="form-group groupCreatePostForm__textarea ">
									<textarea class=" form-control" name="body" id="body" placeholder="Write a new post"></textarea>
								</div>
								<a href="#" class="btn btn-default" id="js-post-submit">Post</a>
							</form>
						</div>
					</div>
				</div>
				<!-- FORM OFF -->
			</div>
			<div id="timeline" class="row posts-container"></div>
		</div>
	</div>
</div>