/***

APP NAME: groups
DESCRIPTION: shared styles among group applications

***/

@import 'conf/conf.css.less';


.companyCard {
  &__logo {
    text-align: center;
    padding: 10px;
  }

  &__description {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: @black
    }
  }
}