<div class="tasks-container tasks-container container-fluid"></div>
<!-- <div class="text-center">
  <span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
</div>
 -->