<footer class="alumNetFooter">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-md-4 col-lg-4">
        <%= image_tag("home/alumNetLogo.png", alt: "Company Logo AlumNet",width:"190px" ) %>
        <br>
        <p><strong>AIESEC Alumni International</strong></p>
        <small><p>Boulevard du Souverain N° 280, B-1160 Brussels, Belgium.</p></small>
        <small><p>International Non Profit Organisation recognized by Belgian Royal Decree 16/05/1991 iVZW- AiSBL.</p></small>
        <small><p>Registered in Belgium under 0456.060.148, RPR/RPM Brussels.</p></small>
      </div>
      <div class="col-md-8 col-lg-8 text-right">
        <div class="clearfix">
          <ul class=" hidden-xs hidden-sm alumNetFooter__navigation navbar-right nav nav-pills">
            <li>
              <a href="/about" title="About Us"> About Us</a>
            </li>
            <li>
              <a href="http://aiesec-alumni.org/blog/" title="Blog" target="new">Blog</a>
            </li>
            <li>
              <a href="/terms" title="Terms of Use">Terms of Use</a>
            </li>
            <li>
              <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
            </li>
            <li>
              <a href="/joinAAI" title="Join AAI">Join AAI Team</a>
            </li>
            <li>
              <a href="/donate" title="Donate">Donate</a>
            </li>
            <li>
              <a href="/contact" title="Contact">Contact</a>
            </li>
          </ul>
        </div>
        <p class="hidden-xs"><small> Copyright © <script>document.write(new Date().getFullYear())</script> AIESEC Alumni International. All rights reserved. </small></p>
      </div>
    </div>
  </div>
</footer>