/***
COMPONENT NAME: Filters
DESCRIPTION: Style for filters used with elasticsearch
***/

@import 'conf/conf.css.less';

/*Advanced Filters*/
.advancedFilters{	
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border: 1px solid @lighter-gray;
	span.country-select {
		color: @info-gray;
	}

  h4 {
    text-transform: uppercase;
  }
}