/***
COMPONENT NAME: Filters
DESCRIPTION: Style for filters used with elasticsearch
***/

@import 'conf/conf.css.less';

/*Advanced Filters*/
.advancedFilters{	
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	border: 1px solid @lighter-gray;
	span.country-select {
		color: @info-gray;
	}

  &_group{
    h4 {
      text-transform: uppercase;
      margin: 0 0 4px 0;
      font-weight: bold;
    }    
    .row label {
      font-weight: normal;
    }
    //Styles for select2
    .select2-container {

      .select2-choice {
        padding: 3px;
        height: 34px;
        .select2-arrow b {
          margin: 0;
        }
      }
    }

    .group_title {

      h4 {
        color: #818181;
      }
      .arrow:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: grey;         /* adjust as needed */
        font-size: 10px;

      }
      &.collapsed {
        .arrow:after {
          /* symbol for "collapsed" panels */
          content: "\e080";    /* adjust as needed, taken from bootstrap.css */
        }
      }
    }
    
  }
}

.marginFilters{
	margin: 0 25px;
}
