/***

COMPONENT NAME: backgrounds
DESCRIPTION: background colors and patters 

***/

@import 'conf/conf.css.less';

.bg{
	&--black{
		background-color: @black;
	}
	&--blue{
		background-color: @blue;
	}
	&--gray{
		background-color: @gray;
	}
	&--white{
		background-color: @white;
	}


}