/***

COMPONENT NAME: baner
DESCRIPTION: styles for baners 

***/

@import 'conf/conf.css.less';

.visibility, #js-editImgBanner{
  display: none;
}

.createBaner{
	
	&__img{
		width: 100%;
  	height: 250px;
  	background: @blue;
  	position: relative;
  	z-index: 0;
	}

  &__btnEdit{
    font-size: 2.5em;
    color: @white;
    float: right;
    cursor: pointer;  
  }

	&__label{
		font-size: 1.2em;
  		color: @black;
  		font-weight: 300;
	}

	&__file{
		z-index: 999;
  		line-height: 0;
  		font-size: 50px;
  		position: absolute;
  		opacity: 0;
  		margin: 0;
  		padding: 0;
  		left: 0;

  		&Label{
  			text-align: center;
  			color: @white;
  			display: block;
  			width: 190px;
  			font-size: 1.5em;
  			line-height: 1.6em;
  			cursor: pointer;
  			border: 1px solid @white;
  			font-weight: 400;
  			position: relative;
  			z-index: 20;
  			top: -140px;
  			left: 50%;
  			margin-left: -95px;
  		}
	}

	&__btn{
		padding: 10px 40px;
  	text-transform: uppercase;
  	font-size: 1.2em;

  		&Add{
  			background: @blue;
  			color: @white;
        border: 2px solid @blue;
        float: right;

  			&:hover{
  				color: @white;
  			}
  		}

  		&Delete{
  			color: @redPure;
  			border: 1px solid @redPure;
        float: left;

  			&:hover{
  				color: @redPure;
  			}
  		}

      &Cancel{
        color: @blue-gray;
        border: 1px solid @blue-gray;
        float: right;
        margin-right: 10px;

        &:hover{
          color: @blue-gray;
        }
      }
	}

	&__flecha{
		font-size: 2.1em;
    color: @white;
	}

  &__titulo{
    display: block;
  }

  &__time{
    width: 300px;
    height: 55px;
    font-size: 1.3em;

    & select{
      height: 60px;
    }

    & select + span{
      margin-top: 20px;
    }
  }

  &__blackBox{
    background: rgba(17, 17, 17, 0.71);
    width: 100%;
    height: 60px;
    z-index: 10;
    position: relative;
    top: -250px;
    padding: 10px;

    & h2 {
      display: inline-block;
      color: @white;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
    .createBaner{

      &__titulo{
        display: inline-block;
      }

      &__time{
        display: inline-block;
        float: right;
      }
    }
 }