/***

COMPONENT NAME: baner
DESCRIPTION: styles for baners 

***/

@import 'conf/conf.css.less';

.createBaner{
	
	&__img{
		width: 100%;
  		height: 250px;
  		background: @lighter-gray;
  		position: relative;
  		z-index: 0;
	}

	&__label{
		font-size: 1.2em;
  		color: @black;
  		font-weight: 300;
	}

	&__file{
		z-index: 999;
  		line-height: 0;
  		font-size: 50px;
  		position: absolute;
  		opacity: 0;
  		margin: 0;
  		padding: 0;
  		left: 0;

  		&Label{
  			text-align: center;
  			color: @white;
  			display: block;
  			width: 190px;
  			font-size: 1.5em;
  			line-height: 1.6em;
  			cursor: pointer;
  			border: 1px solid @white;
  			font-weight: 400;
  			position: relative;
  			z-index: 1;
  			top: -140px;
  			left: 50%;
  			margin-left: -95px;
  		}
	}

	&__btn{
		padding: 10px 40px;
  		text-transform: uppercase;
  		font-size: 1.2em;
  		float: right;

  		&Add{
  			background: @blue;
  			color: @white;
  			&:hover{
  				color: @blue;
  			}
  		}

  		&Delete{
  			color: @redPure;
  			border: 1px solid @redPure;

  			&:hover{
  				color: @redPure;
  			}
  		}
	}

	&__flecha{
		font-size: 2.4em;
	}

  &__titulo{
    display: inline-block;
  }

  &__time{
    display: inline-block;
    width: 300px;
    height: 55px;
    float: right;
    margin-top: -60px;
    font-size: 1.3em;
  }
}