/***

COMPONENT NAME: buttons
DESCRIPTION: Specific style for the forms of AlumNet

***/

@import 'conf/conf.css.less';

.btn-primary-noBackground{
	background: transparent;
	border-color: @blue;
	color: @blue;
	&:hover{
		border-color: darken(@blue, 10%);
		color: darken(@blue, 10%);
		background-color: @white;
	}

	&--borderBlue{
		border: 3px solid @blue;
	}
}
.btn-danger-noBackground{
	background: transparent;
	border-color: #d9534f;
	color: #d9534f;
	&:hover{
		border-color: darken(#d9534f, 10%);
		color: darken(#d9534f, 10%);
		background-color: @white;
	}

	&--borderRed{
		border: 3px solid darken(#d9534f, 10%);
	}
}

.btn-success-noBackground{
	background: transparent;
	border-color: @green;
	color: @green;
	&:hover{
		border-color: darken(@green, 10%);
		color: darken(@green, 10%);
		background-color: @white;
	}

	&--borderGreen{
		border: 3px solid darken(@green, 10%);
	}
}
.btn-default-noBackground{
	background: transparent;
	border-color: @gray;
	color: @black;
	&:hover{
		border-color: darken(@gray, 10%);
		color: darken(@black, 10%);
		background-color: @gray;
	}

	&--borderGray{
		border: 3px solid darken(@gray, 10%);
	}
}
.btn-default-gray{
	background: @gray;
	border-color: darken(@gray, 5%);
	color: @white;
	&:hover{
		background-color: darken(@gray, 10%);
		color: @white;
	}
}

.btn-default-blue{
	background-color: #ffffff;
  	border-color: #2099D0;
  	margin-top: 1px;
	&:hover{
	background-color: #E6E6E8;
	color: @white;
	}
}

.btn-alert{
	&--edit{
		color:@gray;
		background-color: rgba(0, 0, 0, 0.3);
		transition:1s;
		border-radius: 0px;
	}
	&--edit:hover{

		color:@main-blue;
		background-color: rgba(0, 0, 0, 0.9);
		
	}
	&--edit:visited{
		text-decoration: underline;
	}
	&--edit:focus{
		text-decoration: underline;
	}

	&--rounded{
		padding:10px;
		border-radius: 50%;
		font-size: 30px;
	}

}
.btn-commentImage{

		color:@white;
		background-color: #677f8b;
		transition:1s;
		border-radius: 0px;
		margin-top:-3px;
		border:solid 1px #677f8b;		
	&--close{
		opacity:0.5;
		margin-top:0px;
	}
	&--close:hover{
		opacity:1;
		color:@white;
		background-color: #677f8b;
	}
}

.btn-commentImage:hover{	

	color:#677f8b;
	background-color: @white;
	border:solid 1px #677f8b;
}
.btn-commentImage:focus, .btn-commentImage:active, .btn-commentImage:visited{
	color:#FFF;
	background-color: #677f8b;
	border:solid 1px #677f8b;
}

.btn-import{
	border: 1px solid @main-blue;
	color: @main-blue;
	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;
	font-weight: 400;
	padding: 10px 20px 10px 15px;
	border-radius: 0px;
	&--larger{
		padding: 14px 20px 14px 15px;
	}
	&--active{
		background-color: @main-blue;
		color: @white;
	}
	&--active:hover{
		color: @white !important;
	}
	&:hover{
		color: @white !important;
	}
	span.icon-char{
		font-size: 26px;
		padding-right: 4px;
	}
}
/* file type inpout button */
input.uploadBox{
	height: 60px;
	border:solid 2px #677f8b;
}
input.uploadBox::-webkit-file-upload-button {
  visibility: hidden;
}
input.uploadBox::before {
  content: 'BROWSE';
  display: inline-block;
  background: #677f8b;
  border: 1px solid #999;
  margin-top: 5px;
  color:@white;
  padding: 8px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

.btn-loginFB{
  color: #fff;
  background: #2099d0;
  padding: 10px 20px;
  position: relative;

}
.btn-loginLIN{
  color: #fff;
  background: #2099d0;
  padding: 10px 74px;
  position: relative;

}

.btn-addFilter{
	border: 1px solid #2099d0;
	padding: 8px 15px 8px 10px;
	margin-top: 10px;
	background: #e6e6e8;
	color: #2099d0;
	text-transform: uppercase;
	font-size: inherit;
}

.btn-go{
	border: 1px solid #2099d0;
  	padding: 5px 8px 5px 8px;
  	margin-top: -8px;
    color: #2099d0;
}

.btn-delete{
	border: 1px solid #818181;
  	padding: 8px 10px 8px 10px;
  	margin-top: -9px;
    color: #818181;
    margin-left: 2px;
}

.btn-user{
	background: transparent;
	
	&__ban
    {
		border-color: #d9534f;
		color: #d9534f;
		padding: 3px 8px 3px 3px;
		
		&--product
    	{
		padding: 3px;
		margin-top: -4px;
		margin-left: 15px;
    	}

		&:hover{

			color: #ffffff;
  			background-color: #d9534f;
  			border-color: #d43f3a;
		}

    }

	&__activate
    {
		border-color: #2099d0;
		color: #2099d0;
		padding: 3px 8px 3px 3px;

		&--product
    	{
			padding: 3px;
			margin-top: -4px;
			margin-left: 5px;
			padding: 3px 10px 3px 10px;


    	}

		&:hover{

			color: #ffffff;
  			background-color: #2099d0;
  			border-color: #2099d0;
		}

    }

}
.btn-onboarding{
  	color: #ffffff;
  	background-color: #2099d0;
  	border-color: #1d89ba;

	&:hover{
  		color: #ffffff;
 	 	background-color: #1978a4;
  		border-color: #146285;
	}
}
@media (min-width: @media-smallest) {
	.btn-onboarding
	{
		padding: 5px 10px;
	  	font-size: 14px;
	  	line-height: 1.5;
	  	border-radius: 0px;
	  	margin-top:80px;
	}
}

@media (min-width: @media-xsmall-max) {
	.btn-user{
		
		
		&__ban
	    {
			&--product
	    	{
			padding: 3px;
			margin-top: 2px;
			margin-left: -5px;
			font-size: 12px;
	    	}

	    }

		&__activate
	    {

			&--product
	    	{
				padding: 3px;
				margin-top: 2px;
				margin-left: -5px;
				padding: 3px 10px 3px 10px;
				font-size: 12px;


	    	}

	    }

	}

	.btn-onboarding
	{
		padding: 5px 10px;
	  	font-size: 14px;
	  	line-height: 1.5;
	  	border-radius: 0px;
	}
}
@media (min-width: @media-msmall-min) {
	.btn-user{
		
		
		&__ban
	    {
			&--product
	    	{
			    padding: 3px;
			    margin-top: 20px;
			    margin-left: -40px;
			    font-size: 12px;
	    	}

	    }

		&__activate
	    {

			&--product
	    	{
			
			    margin-top: 20px;
			    margin-left: -49px;
			    padding: 3px 10px 3px 10px;
			    font-size: 12px;


	    	}

	    }

	}
}
 /* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
	.btn-onboarding {
    	padding: 5px 10px;
    	font-size: 18px;
    	line-height: 1.5;
    	border-radius: 0px;
    	margin-top: 80px;
  	}	
	.btn-loginLIN{
	  	color: #fff;
	  	background: #2099d0;
	  	padding: 10px 114px;
	  	position: relative;

	}
	.btn-user{
		
		
		&__ban
	    {
			&--product
	    	{
			padding: 3px;
			margin-top: -4px;
			margin-left: 15px;
	    	}

	    }

		&__activate
	    {

			&--product
	    	{
				padding: 3px;
				margin-top: -4px;
				margin-left: 5px;
				padding: 3px 10px 3px 10px;


	    	}

	    }

	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
	.btn-loginLIN{
	  	color: #fff;
	  	background: #2099d0;
	  	padding: 10px 114px;
	  	position: relative;

	}

	.btn-user{
		
		
		&__ban
	    {
			&--product
	    	{
				font-size: 14px;
	    	}

	    }

		&__activate
	    {

			&--product
	    	{
				font-size: 14px;

	    	}

	    }

	}
	.btn-commentImage{	
		padding: 10px 5px;
    	font-size: 10px;	
	}
}


@media (min-width: @media-smedium-min) {
	.btn-onboarding {
    	padding: 5px 10px;
    	font-size: 18px;
    	line-height: 1.5;
    	border-radius: 0px;
    	margin-top: 5px;
  	}	
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
	.btn-loginLIN{
	  	color: #fff;
	  	background: #2099d0;
	  	padding: 10px 114px;
	  	position: relative;

	}

	.btn-onboarding {
    	padding: 5px 10px;
    	font-size: 18px;
    	line-height: 1.5;
    	border-radius: 0px;
    	margin-top: 20px;
  	}

  	.btn-commentImage{
		padding: 10px 5px;
    	font-size: 14px;
	}	
}

/* Large devices (large desktops, 1400px and up) */
@media (min-width: @media-mmlarge-min) {
	.btn-commentImage{
		padding: 10px 5px;
    	font-size: 18px;
	}
}

/* Large devices (large desktops, 1600px and up) */
@media (min-width: @media-mmlarge-min) {
	.btn-commentImage{
		padding: 10px 16px;
    	font-size: 18px;
	}
}
