/***

COMPONENT NAME: buttons
DESCRIPTION: Specific style for the forms of AlumNet

***/

@import 'conf/conf.css.less';


.btn-primary-noBackground{
	background: transparent;
	border-color: @blue;
	color: @blue;
	&:hover{
		border-color: darken(@blue, 10%);
		color: darken(@blue, 10%);
		background-color: @white;
	}
}