@import 'conf/conf.css.less';

.chat{
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 62px;
  right: 15px;
  z-index: 10;
  
  .chatHeader{
    text-decoration: none;
  }
  &__content{
    background-color: #e6e6e8;
    border: 1px solid #cccccc;
    overflow-y: auto;
    overflow-x: hidden;
    &--search{
      background-color: @white;
      padding: 10px;
      border-bottom: 1px solid #cccccc;
      .js-search-input{
        display: initial;
      }
    }
    .searchMenu input{
      width: 86%;
    } 
    &--users{
      .friendsContainer{
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(~"100vh - 169px");
      }
      &__user{
        padding: 10px;
        .name{   
          display: initial; 
          margin-top: 10px;       
          a{
            color: @black;
            font-weight: 100;
            text-decoration: none;
          }
        }
        .status{
          padding-top: 10px;
          .online{
            color: @green;
            margin-left: 0px;
          }
          .offline{
            color: @gray;
            margin-left: 0px;
          }
        }
      }
    }
    .conversationsContainer{
      width: 100%;
      max-height: calc(~"100vh - 110px");
      overflow-y: auto;
      overflow-x: hidden;
    }
    &--conversations{
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid #cccccc;
      .name{
        display: initial;
        a{
          color: #111111;
          font-weight: 100;
          text-decoration: none;
        }
        .body{
          color: #111111;
          font-weight: 100;
          font-size: 12px;
        }
        .badge{
          color: @white;
          background-color: @blue;
          padding: 3px 7px;
        }
      }
    }
    &--messages{
      .name{
        display: initial;
        font-weight: 100;
        color: @black;
      .blue{
        color: @white;
        background-color: @blue;
      }
        .messagesDate{
          font-size: 10px;
          font-weight: 100;
        }
      }
      .typing{
        font-size: 12px;
        font-weight: 100;
        position: absolute;
        bottom: 90px;
        right: 0px;
      }
      .messagesContainer{
        width: 100%;
        max-height: calc(~"100vh - 165px"); 
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 10px;
      }
      .messagesInput{
        display: inline-block;
        border: solid #cccccc;
        border-width: 1px 1px 0px 0px;
        background-color: #ffffff;
        padding: 8px;
        position: absolute;
        bottom: 46px;
        width: 100%;
        height: 45px;
        textarea{
          border-color: #cccccc;
        }
      }
    }   
  } 
  &__footer{
    border: solid #cccccc;
    border-width: 0px 1px 1px;
    background-color: @white;
    .conversations, .friendsText{
      display: inline-block;
    }
    .btn-default{ 
      border-width: 0px 1px 0px 0px;
      padding: 12px;  
    }  
    .conversations{
      margin-left: -3px;
    }
  }
}

.chatReduce{
  .chat{
    transition: width 0.7s;
    width: 80px;
    &__header{
      .title{
        display: none;
      }
    }
    &__content{
      &--search{
        .js-search-input{
          display: none;
        }
      }
      &--users{
        .name{ 
          display: none;    
        }
        .online{
          margin-left: 15px;
        }
        .offline{
          margin-left: 15px;
        }
      }
      &--conversations{
        .name{ 
          display: none;    
        }
      }
      &--messages{
        .image{
          margin-bottom: 10px;
          margin-left: 15px;
        }
        .name{
          display: none; 
        }
        .messagesInput{
          display: none;
        }
      }
    }
    &__footer{
      .conversations, .friendsText{
        display: none;
      }
      .btn-default{
        background-color: #e6e6e8;
        width: 100%;
      }
    }
  }
}
.bubble {
  display: inline-flex;
  border-radius: 1px;
  background-color: #FFFFFF;
  overflow: hidden;
  margin: 1px 0;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.4;
}