@import 'conf/conf.css.less';

.donate{
  &__header{
    background-color: #f5f5f5;
    height: auto;
    padding: 20px;
    h3{
      color: #054984;
      font-weight: 400;
    }
    p{
      color: #054984;
      font-weight: 100;
      font-size: 18px;
    }
  }
  &__steps{
    background-color: #FFF;
    height: auto;
    padding: 30px;
    h3{
      color: @black;
      font-weight: 500;
      font-size: 25px;
    }
    .nav-tabs > li, .nav-pills > li {
      float:none;
      display:inline-block;
      *display:inline; /* ie7 fix */
       zoom:1; /* hasLayout ie7 trigger */
    }
    
    .nav-tabs, .nav-pills{
      border-bottom: 1px solid #2099CF;
      text-align: center;
      li{
        margin-right: 20px;
        margin-bottom: 15px;
        a{
          font-size: 16px;
          border: 1px solid #3288b9;
          border-radius: 6px;
          font-weight: 100;
        }
        a:hover{
          font-size: 16px;
          border-radius: 4px;
        }
      }
      li.active{
        a {
          font-size: 16px;
          border-radius: 4px;
        }
        a:hover, a:focus{
          font-size: 16px;
          border-radius: 4px;
        }
      }
    }
    .total, .data{
      border: 1px solid #2099CF;
      padding: 20px;
      border-radius: 5px;
      color: @black;
      font-weight: lighter;
      font-size: 13px;
      hr{
        border-color: #2099CF;
      }
      .amount{
        border: 1px solid #2099CF;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 25px;
      }
    }
    .data{
      h3{
        color: #444;
        font-weight: 100;
        font-size: 25px;
      }
      .login{
        input{
          border-color: #2099CF;
          border-width: 1px;
          padding: 10px;
          border-radius: 5px;
          width: 85%;
        }
      }
      .information{
        border: none;
        input{
          border: none;
          border-bottom: 1px solid @black;
          text-align: center;
        }
        p{
          line-height: 30px; 
        }
        select{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid @black;
          background: transparent;
        }
      }
    }
    .step3{
      .back{
        font-size: 18px;
        font-weight: 100;
        text-decoration: underline;
      }
    }
  }
  
  &__error{
    background-color: @white;
    height: auto;
    padding: 20px;
    padding-bottom: 6em;
    .text{
      color: #999999;
      position: absolute;
      padding-top: 40px;
      .textLarge{
        color: #D39EA4;
        font-size: 80px;
        font-family: sans-serif;
        font-weight: 500;
      }
      .textMedium{
        font-size: 20px;
      }
      .textSmall{
        font-size: 18px;
        font-weight: lighter;
      }
      ul{
        padding-left: 0px;
        li {
          list-style: none;
          a{
            color: #3288b9;
            text-decoration: none;
          }
        } 
      } 
    }
  }

  .btn-orange{
    width: 55%;
    border: none;
    border-radius: 6px;
    padding: 15px;
  } 
  .text-danger {
    color: #b92628;
  }
  .error_message {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
  }
}

// 992px
@media (min-width: @media-medium-min){
  .donate{
    &__steps{
      .data{
        .information{
          border: solid #2099CF;
          border-width: 0px 0px 0px 1px;
        }
      }
    }
  }
}
