/***

APP NAME: eventGridView
DESCRIPTION: CSS for styling a list of events
***/

@import 'conf/conf.css.less';


.eventsTableView{
	background-color: @white;

	&__cover{
		background-size:cover; 
     background-repeat: no-repeat;
		height: 105px; 
		width: 90px;
	}
  h3{
    width:100%;
  }

  &__name{
    text-transform: capitalize;
    padding-top: 0.1em;
    & a{
      color: #000;

      &:hover{
        text-decoration:none;
      }
    }
  }

  &__eventOwnerImg{
    width: 40px;
    float: left;
  }

  &__status{
    border-radius: 0px;
    border: none;
    
    box-shadow: none;
    padding: 0px 0px 0px 20px;
    color:@white;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    & option{
      color: #484848;
      -moz-appearance: none;
      background: #fff;
      border: none;
      box-shadow: none;

      &:hover{
        background-color:@green;
      }
    }

    &--going{
      background: #72da9e;
      &::-ms-expand {
        padding: .25em;
        margin-left: .25em;
        color: rgba(0, 0, 0, .25);
        background-color: #72da9e;
        border: 1px solid #72da9e;
        box-shadow: none;
      }
    }

    &--maybe{
      background: #f5ac45;
      &::-ms-expand {
        padding: .25em;
        margin-left: .25em;
        color: rgba(0, 0, 0, .25);
        background-color: #f5ac45;
        border: 1px solid #f5ac45;
        box-shadow: none;
      }
    }

    &--else{
      background-color: #6dc2e9;
      &::-ms-expand {
        padding: .25em;
        margin-left: .25em;
        color: rgba(0, 0, 0, .25);
        background-color: #6dc2e9;
        border: 1px solid #6dc2e9;
        box-shadow: none;
      }
    }

    &--not_going{
      background-color: #ea7952;

      &::-ms-expand {
        padding: .25em;
        margin-left: .25em;
        color: rgba(0, 0, 0, .25);
        background-color: #ea7952;
        border: 1px solid #ea7952;
        box-shadow: none;
      }
    }

    &--white{
      border-radius: 0px;
      -moz-appearance: none;
      -webkit-appearance : none;
      box-shadow: none;
      padding: 0px 0px 0px 8px;
      option{
        color: #484848;
      }    
    }



    &:active,&:checked,&:focus {
      box-shadow: none;
    }

  }



	&__ribbon{
        background: image-url('groups/ribbon-orange-noShadow.png') no-repeat;
        background-size: contain;
        display: block;
        height: 100px;
        position: relative;
        top: -3px;
        width: 51px;
        z-index: 10;
        float:left;
  }
  .creatorName{
    width: 100%;
    height: 2em;
  }

  &__isAdmin{
    background: #777;
    font-size: 12px;
    color: #fff;
    display: inline;

    &--left{
      padding: 10px;
      border-right: 3px solid #fff;
    }
    &--right{
      padding: 10px 25px;
    }

    &--rightMyevents{
      padding: 10px;
    }

    &--paddingCancel{
      padding: 10px;
      margin-top: -5px;
      border-left: 3px solid;
      background-color: #C9302C;
      border-color: #AC2925;
      color: @white;
    }

    &:hover,&:focus{
      text-decoration: none;
    }
  }

    &__isAdminCancel{
    
    font-size: 12px;
    color: #fff;
    display: inline;

    &--right{
      padding: 10px 25px;

    }

    &--rightMyevents{
      padding: 10px;
    }

    &--paddingCancel{
      padding: 10px 12px;
      margin-top: -5px;
      background-color: #d9534f;
      border-color: #AC2925;
      color: @white;
      margin-left: 3px;
    }


    &--paddingCancel:hover{

      background-color: #C9302C;
      border-color: #AC2925;
      color: @white;
    }
    

    &:hover,&:focus{
      text-decoration: none;
    }
  }

  &__isAdminDelete{

    font-size: 1.3em;
    color: #fff;
    display: inline;
    margin-left: 174px;


    &--right{
      padding: 10px 70px;
    }


    &--paddingCancel{
      padding: 11px;
      margin-top: -5px;
      border-left: 3px solid;

    }

    &:hover,&:focus{
      text-decoration: none;
    }
  }

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: @white;
  background-color: @blue;
  font-size: 2.2em;
}
.nav-tabs > li > a{
  font-size: 2.2em;
}

.flagEventPast{
  .box {
    position: relative;
    background: #EEE;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#D9534F 0%, #D9534F 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #D9534F;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #D9534F;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #D9534F;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #D9534F;
  }
}

.flagEventUpcoming{
  .box {
    position: relative;
    background: #EEE;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#269CCB 0%, #269ccb 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #269ccb;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #269ccb;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #269ccb;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #269ccb;
  }
}


@media (min-width: @media-smallest) {
  .eventsTableView{
    padding-bottom:0.5em;
  }
}
@media (min-width: @media-smallweb) {

.eventsTableView{
  &__isAdmin{
    font-size: 14px;
  }
  &__isAdminCancel{

    font-size: 14px;
  }
}

}

@media (min-width: @media-smedium-min) {
  .eventsTableView{
    padding-bottom:0px;
    &__isAdmin{
      font-size: 12px;
    }
    &__isAdminCancel{
      font-size: 12px;
    }
  }
  .eventsList{
    width: 70%;
  }
}
@media (min-width: @media-large-min) {
  .eventsTableView{
    padding-bottom:0px;
    &__isAdmin{
      font-size: 14px;
    }
    &__isAdminCancel{
      font-size: 14px;
    }
  }

  .eventsList{
    width: 70%;
  }
}

/*1500px*/
@media (min-width: @media-mxlarge-min) {
  .eventsList{
    width: 85%;
  }
}

/*1700px*/
@media (min-width: @media-largemm-max) {
  .eventsList{
    width: 95%;
  }
}