/***

COMPONENT NAME: FilesGroups
DESCRIPTION: Style to folder and files in groups.

***/

@import 'conf/conf.css.less';

.file{

	&__background{
  		height: 50px;
      padding: 5px;

      &--blue{
        background-color: @blue;
      }

      &--white{
        background-color: #fff;
      }
  	} 

  	&__iconFileC{
		  font-size: 130%;
      padding: inherit;
        
        &--sizeIcon{
          font-size: 160%;
        }
  	}

  	&__nameFolder{
		  color: @blue;
      font-size: 17px;

      &--align {
        text-align: left;
      }
  	}

  	&__positionDropdown{
		  margin-top: -20px;
  	}

    &__backFolder{
      color: #fff;
      padding: 10px;
      text-align: center;
    }
}