/***

COMPONENT NAME: FilesGroups
DESCRIPTION: Style to folder and files in groups.

***/

@import 'conf/conf.css.less';

.file{

	&__background{

		background-color: @white;
  		margin-right: 5px;
  		margin-top: 10px;
  		margin-left: 10px;
  		width: 300px;
  		height: 100px;
  	} 

  	&__iconFileC{

		padding-left: 260px;
		margin-top: 25px;
		font-size: 180%;
		color: #818181;
  	}

  	&__iconFileD{

		padding-left: 264px;
		margin-top: 30px;
		font-size: 150%;
		color: #818181;
  	}

  	&__nameFolder{
		
		width: 200px;
  	}

  	&__positionDropdown{

		margin-top: -20px;
  	}
}