/***

COMPONENT NAME: FilesGroups
DESCRIPTION: Style to folder and files in groups.

***/

@import 'conf/conf.css.less';

.file{

	&__background{
      background-color: #fff;
  		height: 50px;
      padding: 5px;
  	} 

  	&__iconFileC{
		  font-size: 130%;
      padding: inherit;
      text-align: center;
	
  	}

  	&__iconFileD{

		padding-left: 264px;
		margin-top: 30px;
		font-size: 150%;
		color: #818181;
  	}

  	&__nameFolder{
		  color: @blue;
      font-size: 17px
  	}

  	&__positionDropdown{

		margin-top: -20px;
  	}
}