/***
COMPONENT NAME: Filters
DESCRIPTION: Style to filters in Discover of Meetups and Jobpost.
***/

@import 'conf/conf.css.less';

.filters{

	&__input{
		-moz-appearance: none;
		-webkit-appearance: none;
		box-shadow: none;
		padding: 0px 0px 0px 8px;

		&--lg{
			background-color: #fff;
			border-radius: 0px;
		}
	}

	&__selectIcon{
		position: absolute;
	    margin-top: -30px;
	    right: 10px;
	    width: 34px;
	    pointer-events: none;

		&--grey{
			color: #4c6672;
		}
	
	}

	&__selectIconModal{
		position: absolute;
	    margin-top: -30px;
	    right: 25px;
	    width: 34px;
	    pointer-events: none;	
	}

	&__colorFilter{
		
		color: @black;
		padding: 1px 5px 10px 20px;
    	margin-top: 20px;
		font-weight: 100;

		&--blue{
			background-color: @blue;
			
		}
	}

	&__iconDelete{
		color: @white;
		background-color: #1978A4;
		margin-top: 10px;
	}

	&__btnClear{
		margin-top: 10px;
	  	border: #FFFFFF;
	  	background-color: #FFFFFF;
	  	text-transform: uppercase;
	  	font-size: inherit;
	  	color: @blue;
	}

	&__btnSearch{
		margin-top: 10px;
	  	border: #2099d0;
	  	background-color: #2099d0;
	  	text-transform: uppercase;
	  	font-size: inherit;
	}	

	&__hidden{
		display: none;
	}

}

.suggestions{
	&__content{
		background-color: white;
		border: 1px solid @lighter-gray;
		&--title{
			padding: 0 15px;
			color: @mid-gray;
		}
	}
}

.suggestionsGroups{
	&__cover{
		padding: 5px 0 5px 5px;
		img{
			height: 58px;
			width: 58px;
		}
	}
	&__title{
	    padding: 5px 0 0 0;
	    color: @blue;
	    &--description{
	    	color: @mid-gray;
	    }
	}
	&__buttons{
		background-color: @blue-gray;
        border:none;
        text-align: center;
        button{
	        border:none;
	        padding:10px 5px;
	        background-color: @blue-gray;
	        color: @white;
	        width: 100%;
      	}
		&--join{
            background-color: @lighter-gray;
            color: darken(#e1ecf1, 50%);
            background-color: darken(#e1ecf1, 10%);
            text-align: center;
            padding: 5px;
            display: block;
			&:hover{
				background-color: @blue;
				color: @white;
			}
        }
        &--paddingButtons{
            padding: 10px 5px 10px 0;
        }
	}
}

.groupCardSuggestions{
	height: 70px;
    border-bottom: 1px solid @lighter-gray;
}


/*768px*/
@media (min-width: @media-small-min){
	
	.suggestionsGroups{
		&__buttons{
	        &--paddingButtons{
	            padding: 10px 5px 10px 0;
	        }
		}
	}
}

/*1200px*/
@media (min-width: @media-large-min){
	
	.suggestionsGroups{
		&__title{
	    	padding: 5px 0 0 5px;	
		}
	}
}

/*1400px*/
@media (min-width: @media-mmlarge-min){
	
	.suggestionsGroups{
		&__buttons{
	        &--paddingButtons{
	                padding: 20px 5px 10px 0;
	        }
		}
	}

}

/*1900px*/
@media (min-width: @media-xxlarge-min){
	
	.suggestionsGroups{
		&__cover{
			padding: 5px 0 5px 8px;
			img{
				width: 75px;
			}
		}
		&__buttons{
	        &--join{
           		padding: 5px 20px 5px 25px;
        	}
		}
	}
}