/***

COMPONENT NAME: formANet
DESCRIPTION: Specific style for the forms of AlumNet

***/

@import 'conf/conf.css.less';

#js-message-group{
	padding: 10px 5px;
  	font-size: 0.9em;
  	text-align: justify;
}

.uploadFile{
	text-align: center;
  	background-color: #2099d0;
  	color: #fff;
  	width: 100%;
  	left: 5%;
  	position: relative;
  	cursor: pointer;
  	padding: 5px;

  	&--img{
  		position: relative;
  		z-index: 2;
  	}

  	& small{
  		display: block;
		font-size: 0.5em;
		margin-top: 2px;
  	}

  	&--cover{
  		padding: 0;
  		left: 0;
  		height: 215px;
  		cursor: pointer;
  	}

  	&--text{
  		color: #fff;
  		top: -140px;
  		font-weight: 700;
  		font-size: 1.7em;
  		position: relative;
  		z-index: 3;
  	}

	& input{
		z-index: 999;
		line-height: 0;
		font-size: 50px;
		position: absolute;
		opacity: 0;
		margin: 0;
		padding:0;
		left:0;
		width: 100px;
	}

	&__path{
		margin-left: 9%;
	}
}

.formANet{


	h1{
		margin-bottom: 1em;
	}
	&__input__icon{
		color: lighten(@black, 80%);
		&[class^="icon-entypo-"]:before, &[class*=" icon-entypo-"]:before{
			display: inline;
		}
		&:before{
			border: 2px solid lighten(@black, 80%);
			border-radius:30px;
			padding: 4px 6px;

		}
	}
	.form-group{
		padding-bottom: 10px;
	}
	label{
		font-weight: normal;
		color: @black;
	}
	
	&__removableRow{
		position: relative;
		&__removeButton{
			position: absolute;
			top: 10px;
			opacity: 0.9;
			color: @blue;
		}
	}
	&__colOneHalf{
		width: 50%;
		float: left;
	}
	&__select{
		background: image-url('general/caret.png')  no-repeat 96% 15px;
		width: 100%;
		overflow: hidden;
		border: 1px solid #ccc;
		select{
			width: 113%;
			   color: #000;
			   background: transparent;
			   border: none;
			   font-size: 14px;
			   background: rgba(255,255,255, .2);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,.2) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,.2)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
		}
	}
	&__inputAvatar{
		margin: 0 auto;
   		 width: 200px;
	}
	.input-lg, .form-group-lg .form-control{
		font-size: 14px;
	}

	.input--xxl{
      height: 150px;
    }
	
	&__close{
		opacity: 0.9;
	}
}