/***

COMPONENT NAME: formANet
DESCRIPTION: Specific style for the forms of AlumNet

***/

@import 'conf/conf.css.less';

.formANet{
	


	h1{
		margin-bottom: 1em;
	}
	&__input__icon{
		color: lighten(@black, 80%);
		&[class^="icon-entypo-"]:before, &[class*=" icon-entypo-"]:before{
			display: inline;
		}
		&:before{
			border: 2px solid lighten(@black, 80%);
			border-radius:30px;
			padding: 4px 6px;

		}
	}
	.form-group{
		padding-bottom: 10px;
	}
	label{
		font-weight: normal;
		color: @black;
	}
	
	&__removableRow{
		position: relative;
		&__removeButton{
			position: absolute;
			top: 10px;
		}
	}
	&__colOneHalf{
		width: 50%;
		float: left;
	}
	select{
		
		background: rgb(255,255,255);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
	}
	

}