/***

COMPONENT NAME: formANet
DESCRIPTION: Specific style for the forms of AlumNet

***/

@import 'conf/conf.css.less';

#js-message-group{
	padding: 10px 5px;
  	font-size: 0.9em;
  	text-align: justify;
}

.marginCreate{
	margin-top: -50px;
}

.paddingButton{
	padding: 5px 15px 10px 10px;
}

.textStyle{
	span{
		font-family: sans-serif;
		font-size: 25px;
	}
	&__label{
		display: inline;
		font-size: 24px
	}
	.note-editing-area{
		height: 476.172px;
	}
}

.bar{

	&__1{
		width: 0%;
	}

	&__2{
		width: 25%;
	}
	&__3{
		width: 50%;
	}
	&__4{
		width: 75%;
	}
	&__5{
		width: 100%;
	}

}

.uploadFile{
	text-align: center;
  	background-color: #2099d0;
  	color: #fff;
  	width: 100%;
  	left: 5%;
  	position: relative;
  	cursor: pointer;
  	padding: 5px;

  	&--img{
  		position: relative;
  		z-index: 2;
  	}

  	& small{
  		display: block;
		font-size: 0.5em;
		margin-top: 2px;
  	}

  	&--cover{
  		padding: 0;
  		left: 0;
  		height: 215px;
  		cursor: pointer;
  	}

  	&--text{
  		color: #fff;
  		top: -140px;
  		font-weight: 700;
  		font-size: 1.7em;
  		position: relative;
  		z-index: 3;
  	}

	&--textCompanies{
  		position: relative;
  		z-index: 3;
  		color: #fff;
  		font-weight: 700;
  		font-size: 1.7em;
  		top: -150px;
		text-align: center;
		cursor: pointer;
  		& small{
	  		display: block;
			font-size: 0.5em;
			margin-top: 2px;
	  	}
  	}

	& input{
		z-index: 999;
		line-height: 0;
		font-size: 50px;
		position: absolute;
		opacity: 0;
		margin: 0;
		padding:0;
		left:0;
		width: 100px;
	}

	&__path{
		margin-left: 9%;
	}
}

.formANet{


	h1{
		margin-bottom: 1em;
	}
	&__input__icon{
		color: lighten(@black, 80%);
		&[class^="icon-entypo-"]:before, &[class*=" icon-entypo-"]:before{
			display: inline;
		}
		&:before{
			border: 2px solid lighten(@black, 80%);
			border-radius:30px;
			padding: 4px 6px;

		}
	}
	.form-group{
		padding-bottom: 10px;
	}
	label{
		font-weight: normal;
		color: @black;
	}

	&__removableRow{
		position: relative;
		&__removeButton{
			position: absolute;
			top: 10px;
			opacity: 0.9;
			color: @blue;
		}
	}
	&__colOneHalf{
		width: 50%;
		float: left;
	}
	&__select{
		background: image-url('general/caret.png')  no-repeat 96% 15px;
		width: 100%;
		overflow: hidden;
		border: 1px solid #ccc;
		select{
			width: 113%;
			   color: #000;
			   background: transparent;
			   border: none;
			   font-size: 14px;
			   background: rgba(255,255,255, .2);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,.2) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,.2)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,.2) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
		}
	}
	&__inputAvatar{
		margin: 0 auto;
   		 width: 200px;
	}
	.input-lg, .form-group-lg .form-control{
		font-size: 14px;
	}

	.input--xxl{
      height: 150px;
    }

	&__close{
		opacity: 0.9;
	}

	&__find{
		text-align: center;
		img{
			width: 60px;
			height: 60px;
		}
	}
	&__findUser{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #869DA8;
		font-size: 19px;
		color: @white;
		text-align: center;
		line-height: 20px;
		i{
			font-size: 25px;
			margin-left: -3px;
		}

		&--iconSuggests{
			padding-top: 7px;
			i{
				font-size: 37px;
				margin-left: -7px;
			}

		}

	}
	&__text{

		p{
			font-size: 15px;
  		font-weight: 300;
		}
		}


	&__textHelp{
		text-align: center;
	}
	&__buttonSend{
		.btn-lg, .btn-group-lg > .btn{
			font-size: 16px;
		}
	}

	&__margin-top{
		margin-top: 2.18em;
	}

	&__button{
		color: @white;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 12px;
		width: 100%;
		i{
			padding-left: 10px;
		}

		&--google{
			background: #E04A39;
			border-color: #E04A39;

			&:hover{
				border-color: #C85649;
				color: @white;
				background-color: #C85649;
			}
			&--bar{
				margin-left: 10px;
				border-left: 1px solid @white;
			}
		}
		&--yahoo{
			background: #7B0099;
			border-color: #7B0099;

			&:hover{
				border-color: #7B0099;
				color: @white;
				background-color: #7B0099;
			}
			&--bar{
				margin-left: 10px;
				border-left: 1px solid @white;
			}
		}
		&--outlook_linkedin{
			background: #0073C5;
			border-color: #0073C5;

			&:hover{
				border-color: #0073C5;
				color: @white;
				background-color: #0073C5;
			}
			&--bar{
				margin-left: 10px;
				border-left: 1px solid @white;
			}
		}

	}
	&__search
	{
		margin-top: 36px;
		i{
			color:@blue;
		}
	}

	&__finAnyone{
		width: 100%;
		height: 110px;
		border: 1px solid #95A6B1;
		background: #D9F4FF;
		&--sentRequestAdmin{
			padding-top: 18px;
		}
	}

	&__request{
		min-height: 100px;
		background: @white;
		padding: 10px;
		h3{
			font-size: 21px;
		}

		&--title{
			padding-left: 10px;
		}

		&--sent{
			&---waiting{
				font-size: 13px;
			}
		}
		&--approved{
			color: green;
			font-size: 11px;
			i{
				padding-right: 10px;
			}
			&---date{
			  font-size: 11px;
  			padding-left: 22px;
  		}

		}

	}
	&__postJobNew{
		&--error{
			color: @red;
		}
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
.formANet{
	&__finAnyone{

		&--sentRequestAdmin{
			padding-top: 18px;
		}
	}

	&__find{
		text-align: left;
		img{
			width: 90px;
			height: 90px;
			}
		}

		&__textHelp{
			text-align: left;
		}

		&__buttonSend{
			.btn-lg, .btn-group-lg > .btn{
				font-size: 18px;
			}
		}

		&__margin-top{
			margin-top: 0;
		}
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
.formANet{
	&__find{
		text-align: left;
		img{
			width: 90px;
			height: 90px;
			}
		}
		&__textHelp{
			text-align: left;
		}
		&__buttonSend{
			.btn-lg, .btn-group-lg > .btn{
				font-size: 18px;
			}
		}
		&__margin-top{
			margin-top: 0;
		}
	}
	.textStyle{
		&__label{
			font-size: 21px;
		}
	}

	.eventsDescription{
		.note-editing-area{
			height: 328px;
		}
	}
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
.formANet{
	&__find{
		text-align: left;
		img{
			width: 90px;
			height: 90px;
			}
		}
		&__textHelp{
			text-align: left;
		}

		&__buttonSend{
			.btn-lg, .btn-group-lg > .btn{
				font-size: 18px;
			}
		}
		&__margin-top{
			margin-top: 0;
		}
	}
	.textStyle{
		&__label{
			font-size: 24px;
		}
	}
	.eventsDescription{
		.note-editing-area{
			height: 363px;
		}
	}
}