/***

COMPONENT NAME: groupCard
DESCRIPTION: Displays a list of groups in the Groups

***/

@import 'conf/conf.css.less';

.groupCard{
    background-color: @white;
    margin-bottom: 2em;

    // &:after{
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    // content: "";
    // display: block;
    // height: 240px;
    // position: absolute;
    // top: -6px;
    // transform: rotate(-1.3deg);
    // width: 93%;
    // z-index: 0;
    // }

    &:hover{
        box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }

    &__cover{    
        width: auto;
        height: 200px;
        
        img{
            max-width: 100%;
            display: block;
            width: 100%;
        }
        
    }
    &__ribbon{
        background: image-url('groups/ribbon-orange.png') no-repeat;
        display: block;
        height: 168px;
        left: 20px;
        position: absolute;
        top: -3px;
        width: 141px;
        z-index: 10;
    }

    &__content{
        width: auto;
       height: 224px;
       float: left;
       
       
    }
    &__text{
        height: 121px;
        overflow: hidden;
        

    }
    &__status{
        border-radius: 20px;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 25px;
        top: 8px;
        
        transition: all ease .2s;
        font-size: 0;
        color:@white;


        &:hover{
            text-indent: inherit;
            width: 50px;
            padding: 1px 5px 0;
            
            font-size: 12px;
        }
        
        &--public{
            background-color: @green;
        }

        &--closed{
            background-color: @orange;
        }
    }
    &__title{

        font-size: 19px;
        font-weight: 400;
        margin: 0px;
        padding: 15px 30px 5px 15px;
        text-transform: none;
        overflow: hidden;
        a{
            color: @black;
        }
    }
    &__description{
         font-size: 13px;
         padding: 0.5*@space_small;
         padding: 0 15px 10px;
    }
    &__atributes{
        background: none repeat scroll 0 0 #e1ecf1;
      
    }
    &__atribute{
        color: @blue-gray;
        background: none repeat scroll 0 0 #e1ecf1;
        border-bottom: 1px solid @white;
        width: 50%;
        float: left;
        &__container{
            padding: 8px 10px;
        }
        &__container--odd{
            padding: 8px 10px;
            border-right: 1px solid @white;
        }


    }
    &__icon{
        
        font-size: 16px;
        width: 20px;
        display: inline-block;
    }
    &__btn{
        color: @white;
        background-color: lighten(@blue,20%);
        font-size: 85%;
        border-color: lighten(@blue,20%);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
     &__waitingApproval{
        color: darken(#e1ecf1, 50%);
        background-color: darken(#e1ecf1, 10%);
        text-align: center;
        padding: 5px;
        display: block;
    }
    &__menu{
        color: @white;
        opacity: 0;
        background-color: rgba(0,0,0,.5);
        position: relative;
        z-index: 100;
        &:before{
            content: "";
            display: block;
            position: absolute;
            right: -15px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 0;
            border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
        }
        &__title{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 10px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
        }
        &__list{
            padding-left: 0;
            list-style: none;
        }
        &__item{
            padding: 6px 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            &:hover{
                background-color: rgba(255, 255, 255, 0.2)
            }
        }
        
        a{
            color: @white;
        }
        &:hover{
            opacity: 1;
        }
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
    .groupCard{
        &__cover{
            width: 50%;
            float: left;
            height: 225px;
            img{
                width: 100%;
            }
        }
        &__content{
            width: 50%;
        }
        &__atribute{
            height: auto;
        }
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
    .groupCard{
        &__cover{
            width: 50%;
            float: left;
            height: 266px;
            img{
                width: 100%;
            }
        }
        &__content{
            width: 50%;
        }
        &__atribute{
            height: auto;
        }
        &__icon{
            
        }
        &__menu{
            &__list{
                height: 188px;
                overflow: scroll;
            }
        }
    }
     
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
    .groupCard{
        &__cover{
            width: 50%;
            float: left;
            height: 225px;
            img{
                width: 100%;
            }
        }
        &__content{
            width: 50%;
        }
        &__atribute{
            height: 37px;
        }
        &__menu{
            &__list{
                height: 188px;
                overflow: scroll;
            }
        }
    }    
    
 }