/***

APP NAME: groupAbout
DESCRIPTION: shared styles among group applications

***/

@import 'conf/conf.css.less';

.groupAbout{
	&__box{
		background-color: #F4F4F4;
		padding: 10px 20px 20px;
	}
	&__title{
		a{
			color: @black;
		}
	}
	.editable{
		color: @black;
	}
	.editable:hover, .editable:active, .editable:visited, .editable:focus{
		text-decoration: none;
		cursor: default;
	}

	
}