/***

APP NAME: groupAbout
DESCRIPTION: shared styles among group applications

***/

@import 'conf/conf.css.less';

.groupAbout{
	&__box{
		background-color: #F4F4F4;
		padding: 10px 20px 20px;

		.boxUser{
			color: @blue;
			margin-bottom: 0.5em;
		}
	}
	&__title{
		a{
			color: @black;
		}
	}

	&__colorTitle{
		h3{
			color: @black;
			font-weight: 100;
			font-size: 20px;
		}
	}

	&__titleSection{
		p{
			color: black;
    	font-size: 20px;
    	font-weight: lighter;
		}
	}

	&__boxMembers{
		height: 208px;
    overflow-y: auto;
	}
	
	.editable{
		color: @black;
	}
	.editable:hover, .editable:active, .editable:visited, .editable:focus{
		text-decoration: none;
		cursor: default;
	}

	#mailchimpContainer{

		table{
			margin-bottom: 5px;
			tr td h5, tr td h4{
				margin:5px 0 0 0;
			}
		}
	}
}

.iconTypeGroup{
 	font-size: 35px;
 	color: @blue;
 
 	&:hover{
 		color: @black;
 	}
}