/***

APP NAME: groupGridView
DESCRIPTION: CSS for styling a list of groups
***/

@import 'conf/conf.css.less';


.groupTableView{
	background-color: transparent;

  &__cover{
    background-size:cover; 
    height: 90px; 
    width: 90px;
  }

 &__

  tr{
    border: none;
    margin-top: 5px;
    display: block;
  }

  & > tbody > tr{
    background-color: @white;
    &:hover{
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }

  table& > thead > tr> th{
    background-color: @main-bg;
    border: none;
    text-transform: uppercase;
    color: @blue-gray;
    min-width: 79px;
    text-align: center;

    &:nth-child(1){
      min-width:60px;
    }
    &:nth-child(2){
      min-width:400px;
    }
    &:nth-child(3){
      min-width:100px;
    }
    &:nth-child(4){
      min-width:100px;
    }
    &:nth-child(5){
      min-width:100px;
    }
    &:nth-child(6){
      min-width:100px;
    }
    &:nth-child(7){
      min-width:100px;
    }
  }
  
  table& > tbody > tr > td:nth-child(1){
       max-width: 60px;
  }
  table& > tbody > tr > td:nth-child(2){
       max-width: 400px;
  }

  table& > tbody > tr > td:nth-child(3){
       max-width: 100px;
  }

  table& > tbody > tr > td:nth-child(4){
       max-width: 100px;
  }
  table& > tbody > tr > td:nth-child(5){
       max-width: 100px;
  }

  table& > tbody > tr > td:nth-child(6){
       max-width: 100px;
  }

  table& > tbody > tr > td:nth-child(7){
       max-width: 100px;
  }

  table > tbody > tr > td&__col{
       vertical-align: middle;
       text-align: center;
       min-width: 79px;

       &Text{
          padding: 0px 10px;
       }
    }

  &__label{
    border-radius: 1em;
    padding: 2px 10px;
    font-weight: 400;
    font-size: 0.7em;
  }

  &__ribbon{
        background: image-url('groups/ribbon-orange-noShadow.png') no-repeat;
        background-size: contain;
        display: block;
        height: 100px;
        position: relative;
        top: -3px;
        width: 51px;
        z-index: 10;
        float:left;
    }

  &__actions{
        background-color: @blue-gray;
        
        border:none;
       
        text-align: center;
      button{
          border:none;
          padding:10px 5px;
          background-color: @blue-gray;
          color: @white;
          width: 100%;
      }

      &--enter{
            background-color: @light-blue;
            color: darken(#e1ecf1, 50%);
            background-color: darken(#e1ecf1, 10%);
            text-align: center;
            padding: 5px;
            display: block;
        }

        &--join{
            background-color: @lighter-gray;
            color: darken(#e1ecf1, 50%);
            background-color: darken(#e1ecf1, 10%);
            text-align: center;
            padding: 5px;
            display: block;
        }

        &--waitingApproval{
            color: darken(#e1ecf1, 50%);
            background-color: darken(#e1ecf1, 10%);
            text-align: center;
            padding: 5px;
            display: block;
        }
    

    }

    &__join{
      background-color: #fff;
    border: 0px;
    color: @blue;
    margin: 30px 0px;
    }

  &__SubGroup{
      cursor: pointer;
    }

    &__SubGroupList{
      list-style: none;
    }

    &__description{
      overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 570px;
    }
  
  &__marginText{
    margin-top: 20px;

  }
    
 
}

 @media (min-width: @media-smallest) {

  .groupTableView{

    &__actions{

      &--enter{
        font-size: 12px;
      }
    }
    &__cover{
      height: 60px; 
      width: 60px;
    }
    &__description{
      width: 100px;
    }
    
      & > tbody > tr{

      }   
      table& > tbody > tr > td:nth-child(1){
           max-width: 68px;
      }
      table& > tbody > tr > td:nth-child(2){
           max-width: 121px;
      }

      table& > tbody > tr > td:nth-child(7){
           max-width: 60px;
      }
  }
}

 @media (min-width: @media-smallphone) {

  .groupTableView{

    &__actions{

      &--enter{
        font-size: 13px;
      }
    }
    &__description{
      width: 140px;
    }
      & > tbody > tr{

      }   
      table& > tbody > tr > td:nth-child(2){
           max-width: 150px;
      }

  }
}
/*400px and up*/
 @media (min-width: @media-smallweb) {

  .groupTableView{

    &__cover{
      background-size:cover; 
      height: 90px; 
      width: 90px;
    }
    &__description{
      width: 70px;
    }
      & > tbody > tr{

      }   
      table& > tbody > tr > td:nth-child(2){
           max-width: 75px;
      }

  }
}

/*480px and up*/
 @media (min-width: @media-xsmall-max) {

  .groupTableView{

    &__description{
      width: 175px;
    }
      & > tbody > tr{

      }
      table& > tbody > tr > td:nth-child(1){
           max-width: 65px;
      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 124px;
      }

  }
}

/*677px and up*/
 @media (min-width: @media-msmall-min) {

  .groupTableView{

    &__description{
      width: 317px;
    }
      & > tbody > tr{

      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 204px;
      }

  }
}
/*768px and up*/
 @media (min-width: @media-small-min) {

  .groupTableView{

    &__description{
      width: 175px;
    }
      & > tbody > tr{
      }

      table& > tbody > tr > td:nth-child(1){
           max-width: 86px;
      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 166px;
      }

  }
}

/*980px and up*/
 @media (min-width: @media-medium-min) {

  .groupTableView{

    &__description{
      width: 220px;
    }
      & > tbody > tr{

      }
      table& > tbody > tr > td:nth-child(1){
           max-width: 106px;
      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 238px;
      }

  }
}
/*1200px and up*/
 @media (min-width: @media-large-min) {

  .groupTableView{

    &__description{
      width: 357px;
    }
      & > tbody > tr{

      }
      table& > tbody > tr > td:nth-child(1){
           max-width: 68px;
      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 238px;
      }

  }
}
/*1400px and up*/
 @media (min-width: @media-mmlarge-min) {

  .groupTableView{

    &__description{
      width: 406px;
    }
      & > tbody > tr{

      }
      table& > tbody > tr > td:nth-child(1){
           max-width: 68px;
      }
      table& > tbody > tr > td:nth-child(2){
         max-width: 288px;
      }

  }
}




