/***

APP NAME: groupCreatePostForm	
DESCRIPTION: shared styles among group applications

***/

@import 'conf/conf.css.less';

.groupCreatePostForm{
	background-color: #F4F4F4;
	padding: 10px 10px 20px;
	border: 1px solid #c3c3c3;
	margin-top: 15px;
	margin-bottom: 15px;

	&__avatar{
		float: left;
		width: 10%;
	}

	&__form{
		float: left;
		width: 90%;
		position: relative;
		margin-top: 5px;
	}
	&__textarea{
		textarea{
			box-shadow: none;
		}
		&:before{
			display: block;
			content: "";
			width: 18px;
			height: 20px;
			background: image-url('groups/triangleCreatePostForm.png') no-repeat;
			position: absolute;
			left: -17px;
			top: 0;
		}
	}	
}