/***

COMPONENT NAME: groupCoverArea
DESCRIPTION: Hero area of the group page. it includes the name of the group and the cover as a background. 

***/

@import 'conf/conf.css.less';

.groupCoverArea{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: -53px;
	padding: 10px 0;
	position: relative;

	&__title{
		font-size: 60px;
		padding: 10px 20px;
		color: @white;		
		background: rgba(0, 0, 0, 0.5);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
		a{
			color: @white;
			&:hover{
				text-decoration: none;

			}
			&.editable-click{
				border-bottom: 0;
			}
		}
	}
	& &__title--ribbon{

		padding: 10px 20px 10px 90px;

		&:before{
			content: "";
			background: image-url('groups/ribbon-orange-noShadow.png') no-repeat;
	        display: block;
	        height: 158px;
	        left: 20px;
	        position: absolute;
	        top: 26px;
	        width: 55px;
	        z-index: 10;
	        
	    }
	}
	&__btnInvite{
		.transition (@transition:1s);
		position: relative;
		display: block;
		width: 250px;
		margin: 20px auto;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 15px 20px;
		color: @white;
		border-radius: 0;
		-webkit-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		border: 2px solid @white;
		&:hover{
			color: @white;
			background-color: rgba(0, 0, 0, 0.8);
		}
		
	}

	&__btnUploadCover{
		.transition (@transition:1s);
		position: absolute;
		display: block;
		width: 250px;
		bottom: 40px;
		right: 300px;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 15px 20px;
		color: @white;
		border-radius: 0;
		-webkit-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		border: 2px solid @white;
		&:hover{
			color: @white;
			background-color: rgba(0, 0, 0, 0.8);
		}
		
	}

	&__editCover{
		position:relative;
		text-align: center; 
		margin-right: 10px;
	}

	&__attendanceOptions{
	  position: relative;
	  text-align: center;
	  bottom: 0px;
	  right: 0px;
	  background-color: rgba(0, 0, 0, 0.6);
	  padding: 10px;
	  margin-top:12px;
	  	&--option{
			color:@white;
			transition:1s;
			border-radius: 0px;
			margin:1px;
			border:2px solid @gray;
			width:10em;
		}
		&--option:hover, &--option--active{
			color:@white;
			background-color: @main-blue;
			opacity: 0.9;
		}
		&--option:visited{
			text-decoration: none;
			color:@white;
		}
		&--option:focus{
			text-decoration: none;
			color:@white;
		}

		&--past{
			cursor: default;
			color:@white;
			transition:1s;
			border-radius: 0px;
			margin:1px;
			border:2px solid @gray;
			width:10em;
		}
		&--past:hover, &--option--active{
			color:@white;
		}
	}

}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
 	.groupCoverArea{
 		height: 328px;
 		margin-top: -51px;
		
		&__btnInvite{
			position: relative;
			display: block;margin: 20px auto;
			
	 	}
	 }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
 	.groupCoverArea{
 		height: 428px;
 		margin-top: 0;

 		&__btnInvite{
			position: absolute;
			bottom: 20px;
			right: 20px;
			display: inline-block;
			width: auto;
		}
		
		&__editCover{			
			text-align: right; 			
		}
		&__attendanceOptions{
			position:absolute;
			margin-top:0px;
		}
 	}
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
    .groupCoverArea{
    	height: 428px;
    	margin-top: -51px;

  		&__btnInvite{
			position: absolute;
			bottom: 20px;
			right: 20px;
			display: inline-block;
			width: auto;
		}
		
 	}
 }