/***

APP NAME: groupPost	
DESCRIPTION: A card that contains a post in a group

***/

@import 'conf/conf.css.less';
.post {
	textarea{
		width: 165px;
	}
}

.groupPost {

		background-color: #fff;	
		margin-top: 15px;
		margin-bottom: 15px;
		border: 1px solid #c3c3c3;

	&__userName{
		color: @black;
		font-size: 30px;
		margin-bottom: 5px;
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 85%;
		a{
			color: @black;
		}
	}
	&__date{
		color: #677f8a;
		font-size: 14px;
	}
	&__postBody{
		padding: 10px 20px 20px;

	}
	&__avatar{
		width: 24%;
		float: left;
	}
	&__metaData{
		margin-bottom: 15px;

	}
	&__btn--comment{
		border: 1px solid @blue;
		padding: 5px 15px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
	}
	&__btn--addPicture{
		border: 1px solid @blue;
		padding: 5px 10px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
		margin-bottom: 5px;
    	margin-left: 10px;
    	font-size: 10px;
	}

	&__btn--like{
		border: 1px solid @blue;
		padding: 5px 15px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
	}

	&__comment--scroll{
		max-height: 300px;
		overflow-y:auto;
		overflow-x:hidden;  
	}

	&__btn--loadMore{
		width: 100%;
		text-align: center;
		background-color: #2099d0;
		padding: 10px 15px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
		color: #fff;

		&:hover{
			color:#fff;
			text-decoration: none;
			background: @main-dark-blue;
		}
	}

	&__comment{
		background-color: #F4F4F4;
		padding: 10px 20px 20px;
		border-top: 1px solid #c3c3c3;

		&__avatar{
			margin-right: 10px;
			float: left;
		}
		&__metaData{
			margin-bottom: 15px;
		}
		&__userName{
			color: @black;
			font-size: 20px;
			margin-bottom: 5px;
			a{
				color: @black;
			}
		}
	}

	&__commentForm{
		background-color: #F4F4F4;
		padding: 10px 20px 10px;
		border-top: 1px solid #c3c3c3;
		.form-group{
			margin-bottom: 0;
		}
		&__avatar{
		
			float: left;
			width: 15%;
		}
		&__form{
			width: 85%;
			margin-top: 5px;
			float: left;
		}

	}
	.editable{
		color: @black;
	}
}


/* Small devices (tablets, 400px and up) */
@media (min-width: @media-xsmall-max) {
	.post {
		textarea{
			width: 100%;
		}
	}

	.groupPost {
		&__btn--addPicture{
			border: 1px solid @blue;
			padding: 5px 15px 5px 10px;
			margin-right: 5px;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 0;
    		margin-left: 0;
    		font-size: 14px;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
	.post {
		textarea{
			width: 100%;
		}
	}

	.groupPost {
		&__btn--addPicture{
			border: 1px solid @blue;
			padding: 5px 15px 5px 10px;
			margin-right: 5px;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 0;
    		margin-left: 0;
    		font-size: 14px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */


@media (min-width: @media-medium-min) {
	.post {
		textarea{
			width: 100%;
		}
	}
	.groupPost {
		&__btn--addPicture{
			border: 1px solid @blue;
			padding: 5px 15px 5px 10px;
			margin-right: 5px;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 0;
    		margin-left: 0;
    		font-size: 14px;
		}
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
	.post {
		textarea{
			width: 100%;
		}
	}
	.groupPost {
		&__btn--addPicture{
			border: 1px solid @blue;
			padding: 5px 15px 5px 10px;
			margin-right: 5px;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 0;
    		margin-left: 0;
    		font-size: 14px;
		}
	}
}