/***

APP NAME: groupGridView
DESCRIPTION: CSS for styling a list of groups
***/

@import 'conf/conf.css.less';


.groupTableView{
	background-color: @white;

	&__cover{

	}	

	tr{
		
		&:hover{
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
			cursor: pointer;
		}
	}

	th{
		background-color: @main-bg;
		border: none;
		text-transform: uppercase;
		color: @blue-gray;
	}

	td{
		border:1px solid #dddddd;
	}
	
	table > tbody > tr > td&__colOne{
       width: 62%;
   	}

	table > tbody > tr > td &__col{
       vertical-align: middle;
       text-align: center;
   	}

	&__label{
		margin-left: 10px;
	}

	&__ribbon{
        background: image-url('groups/ribbon-orange-noShadow.png') no-repeat;
        background-size: contain;
        display: block;
        height: 100px;
        position: relative;
        top: -3px;
        width: 51px;
        z-index: 10;
        float:left;
    }

	&__actions{
        background-color: @blue-gray;
        
        border:none;
       
        text-align: center;
	        button{
	        	border:none;
	        	padding:10px 5px;
	        	background-color: @blue-gray;
	        	color: @white;
	        	width: 100%;
	        }

        }

    &__join{
    	background-color: #fff;
		border: 0px;
		color: @blue;
		margin: 30px 0px;
    }

	&__SubGroup{
    	cursor: pointer;
    }

    &__SubGroupList{
    	list-style: none;
    }
}

