/***

APP NAME: homeCard	
DESCRIPTION: shared styles among group applications

***/

@import 'conf/conf.css.less';


.homeCard{
		background-color: #fff;
		border: 1px solid #c3c3c3;

	&__userName{
		color: @blue;
		font-size: 20px;
		margin-bottom: 5px;
		a{
			color: @blue;
		}
	}
	&__date{
		color: #677f8a;
		font-size: 14px;
	}
	&__postBody{
		padding: 10px 20px 20px;

	}
	&__avatar{
		width: 12%;
		float: left;
	}
	&__metaData{
		margin-bottom: 15px;

	}
	&__btn--comment{
		border: 1px solid @blue;
		padding: 5px 15px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
	}
	&__btn--like{
		border: 1px solid @blue;
		padding: 5px 15px 5px 10px;
		margin-right: 5px;
		display: inline-block;
		text-transform: uppercase;
	}

	&__comment{
		background-color: #F4F4F4;
		padding: 10px 20px 20px;
		border-top: 1px solid #c3c3c3;

		&__avatar{
			margin-right: 10px;
			float: left;
		}
		&__metaData{
			margin-bottom: 15px;
		}
		&__userName{
			color: @black;
			font-size: 20px;
			margin-bottom: 5px;
			a{
				color: @black;
			}
		}
	}
	&__commentForm{
		background-color: #F4F4F4;
		padding: 10px 20px 10px;
		border-top: 1px solid #c3c3c3;
		.form-group{
			margin-bottom: 0;
		}
		&__avatar{
		
			float: left;
			width: 15%;
		}
		&__form{
			width: 85%;
			margin-top: 5px;
			float: left;
		}

	}
	.editable{
		color: @black;
	}

	
}