/***

APP NAME: homeSlideshow
DESCRIPTION: Slideshow that goes in the first page that the user sees after loging in

***/

@import 'conf/conf.css.less';

.homeSlideshow{
	margin-top: -111px;	

	&__caption{
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__banner{
		width: 100%;
  		height: 100%;
	}

	&__font {
    	color: #fff;
    	font-size: 0.8em;
	}
}

.carousel-inner > .item > a > .homeSlideshow{
	&__banner{
		width: 100%;
  		height: 150px;

	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {

	.homeSlideshow{
	
		&__font {
	    	color: #fff;
	    	font-size: 1.40em;
		}
	}

	.carousel-inner > .item > a > .homeSlideshow{
		&__banner{
			width: 100%;
	  		height: 430px;

		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {

	.homeSlideshow{
	
		&__font {
	    	color: #fff;
	    	font-size: 1.40em;
		}
	}

	.carousel-inner > .item > a > .homeSlideshow{
		&__banner{
			width: 100%;
	  		height: 430px;

		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) 
{

	.homeSlideshow{
	
		&__font {
	    	color: #fff;
	    	font-size: 1.40em;
		}
	}

	.carousel-inner > .item > a > .homeSlideshow{
		&__banner{
		width: 100%;
  		height: 430px;

		}
 	}

}