/***

APP NAME: importContactFOrm
DESCRIPTION: Forms to impor contactas and friends

***/

@import 'conf/conf.css.less';

.importContactForm{
	.note{
		color:#333;
		font-size: 12px;
	}
}

.uploadFileBox{
	background-color: white;
	border: 2px solid #677f8b;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	color: #333;
	text-align: center;
	a{
		color:@white;
 	 	padding: 8px 10px;
 	 	cursor:default;
 	 	background: #677f8b;
 	 	margin: 0 7px;
	}
	a:hover, a:visited, a:focus{
		text-decoration: none;
		color: white;
	}
}
#js-enter-contacts{
	resize:none;
}

.listContacts{
	list-style: none;
  	padding: 0;

  	& li{
  		background: @lighter-gray;
  		color: @black;
		padding: 5px 10px;
		margin-bottom: 5px;

  		& div{
  			display: inline-block;

  			&:nth-child(1){
	  			width: 49%;
	  		}

	  		&:nth-child(2){
	  			width: 50%;
	  		}
  		}
  	}
}

.menbrete{
	background-color: @blue-gray;
  	visibility: hidden;
  	padding: 5px 10px;
  	color: @white;

  	& div{
		display: inline-block;

		&:nth-child(1){
		  	width: 49%;
		}
	  
		&:nth-child(2){
		  	width: 50%;
		}
  	}

}