@import 'conf/conf.css.less';

.rounded-numbers-list{
	color: @dim-gray;
	span{
		font-size: 2em;
		border: 2px solid @dim-gray;
		height: 2em;
		width: 2em;
		line-height: 1.7em;
		border-radius:2em;
		text-align: center; 
		display: inline-block;
		margin-bottom: .2em;
		color: @dim-gray;
		margin-right: .2em;
	}
	li.--active{
		
		color:@blue;
		span{
			border-color: transparent;
			color:@white;
			background-color: @blue;
			}
	}

} 