/***

APP NAME: messageForm
DESCRIPTION: message form that allows the user to send messages
***/

@import 'conf/conf.css.less';


.messageForm{
	background-color:#f7f7f7;
	padding:  20px;
	border: 1px solid @gray;

	&__formGroup{
		margin-bottom: 5px;
	}
	&__textArea{
		min-height: 100px;
	}
}