/***

APP NAME: message
DESCRIPTION: message per se
***/

@import 'conf/conf.css.less';


.message{
	background-color: @white;
	padding:  20px;
	
	&__marginMessage{
		margin-top: -60px;
	}

	&__metaContainer{
		overflow: auto;
	}
	&__avatar{
		width: 16%;
		float: left;
		img{
			width: 40px;
			height: 40px;
		}
	}
	&__meta{
		width: 84%;
		float: left;
		margin-top: 0;
	}
	
	&__name{
		font-size: 16px;
		font-weight: 300;
		margin-left: 0;
	}
	&__date{
		color: @gray;
	}

	&__content{
		width: 84%;
		margin-left: 16%;
		white-space: pre-line;
	}

	&__mobileMensaje{
		position: fixed;
		top: 60px;
		left: 0;
		height: 90%;
		width: 100%;
		z-index: 1;
		overflow: auto;
	}

}

 /* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
	.message{
		
		&__marginMessage{
			margin-top: 0;
		}
		&__name{
			font-size: 26px;
			font-weight: 300;
			margin-left: 0;
		}
		&__meta{
			width: 84%;
			float: left;
			margin-top: 10px;
		}
		&__mobileMensaje{
			position: static;
			top: 0;
		}
		&__avatar{
			width: 16%;
			float: left;
			img{
				width: 80px;
				height: 80px;
			}
		}
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
	.message{
		
		&__marginMessage{
			margin-top: 0;
		}
		&__name{
			font-size: 26px;
			font-weight: 300;
			margin-left: 0;
		}
		&__meta{
			width: 84%;
			float: left;
			margin-top: 10px;
		}
		&__mobileMensaje{
			position: static;
			top: 0;
		}
		&__avatar{
			width: 16%;
			float: left;
			img{
				width: 80px;
				height: 80px;
			}
		}
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
	.message{
		
		&__marginMessage{
			margin-top: 0;
		}
		&__name{
			font-size: 26px;
			font-weight: 300;
			margin-left: 0;
		}
		&__meta{
			width: 84%;
			float: left;
			margin-top: 10px;
		}
		&__mobileMensaje{
			position: static;
			top: 0;
		}
		&__avatar{
			width: 16%;
			float: left;
			img{
				width: 80px;
				height: 80px;
			}
		}
	}
}