/***

APP NAME: message
DESCRIPTION: message per se
***/

@import 'conf/conf.css.less';


.messageViewer{
	background-color: @white;
	border: 1px solid @gray;
	&__messages{
		height: auto;
		overflow: scroll;
	}
	
	&__title{
			font-size: 20px;
			font-weight: 300;
			padding: 0 20px;
			color: @black;
	}
	&__reply{
		background-color:#f7f7f7;
		padding:  20px;
		border-top: 1px solid @gray;
	}
	&__formGroup{
		margin-bottom: 5px;
	}
	&__textArea{
		min-height: 100px;
	}
	&__editIcon{
		color: @blue;
		font-size: 18px;
	}
	&__actions{
		padding: 20px;
		// text-align: right;
	}
}

 /* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
	
	.messageViewer{

		&__title{
				font-size: 30px;
				font-weight: 300;
				padding: 0 20px;
				color: @black;
		}
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
	
	.messageViewer{

		&__title{
				font-size: 30px;
				font-weight: 300;
				padding: 0 20px;
				color: @black;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
	
	.messageViewer{

		&__title{
				font-size: 30px;
				font-weight: 300;
				padding: 0 20px;
				color: @black;
		}
	}
}
