/***

COMPONENT NAME: metaInfoCard
DESCRIPTION: this cards group information about the user and will mainly appear in the user profile containing data such as: languages, skills, etc..

***/

@import 'conf/conf.css.less';

.metaInfoCard{
   background: @white;
   margin-bottom: 2em;
   padding:15px;
   margin-top: 30px;
   border: 1px solid #c3c3c3;

   &--menu {
    padding: 0;
    border: 1px solid #c3c3c3;
    
    // width: 14.5%;

    ul li{
          border-bottom: 1px solid #c3c3c3;
          position: relative;
          margin: 0;
          cursor: pointer;

          &:last-child{
            border-bottom: none;
          }
          a{
              color: lighten(@blue-gray, 10%);
              cursor: pointer;
          }
          .glyphicon{
            position: absolute;
            right: 10px;
            top: 35%;

            
          }
        &:hover, &:hover a{
          background-color: @blue;
          color: @white;
        }

    }
   }
    &__language{
      display: inline-block;
      width: 100px;

      &__lvl{
        display: inline-block;
        width: 80px;
        float: right;
        margin-right: 5px;
      }

    }

   &__affix{ // note the affix sits outsite metaInfoCard in the HTML as a hack for styling bootstrap affix

    .affix{
      position: relative ;
      width: 100%;
      }

    .affix-top{
      top:0px;
    }
   }
   
   &__title{
     font-size: 28px;
     margin: 10px 0;
     color: @black;
   }
   &__list{
    list-style: none;
    padding: 0;

    &--skills{
      li:before{
        content: "\e605";
        font-family: 'profindaicons';
        display: inline-block;
        font-size: 16px;
        color: lighten(@blue-gray, 10%);
        

      }
      
    }

    li{
      border-bottom: 1px solid lighten(@blue-gray, 50%);
      padding: 10px 0;

      &:last-child{
          border-bottom: none;
       }
    }
   }
   &__concept{
        color: lighten(@blue-gray, 10%);
   }

   &__dropdown{
        background-color: transparent;
        color: #2099d0;
        border: 1px solid #22A1E0;
        padding: 2px;

        &:focus,&:active{
          pointer-events: none;
          box-shadow: none;
        }
   }

   &__Editprivacy{
      border: 1px solid #22A1E0;
      padding: 2px 10px; 

      &:hover,&:focus{
        text-decoration:none;
      }
   }

   &__contact{
      display: inline-block;
      width: 40%;

      &__select{
        width: 100px;
      }
   }
   
}

.skillScroll > div{
  height: 200px;
  overflow-y: auto;
}



// RESPONSIVE STYLES

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) { 



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) { 
  
.metaInfoCard {
        &__affix{
            .affix {
                top:100px;
                position: fixed;
                padding-left: 0;
                width: 14.5%;
                
            }
            .affix-top{
              top:0px;
            }
          }
      &__contact{

        &__select{
          width: 63px;
        }
      }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
  
.metaInfoCard {
        &__affix{
            .affix {
                top:100px;
                position: fixed;
                padding-left: 0;
                width: 14.5%;
                
            }
            .affix-top{
              top:0px;
              width: 100%;
            }
          }
        &__contact{

          &__select{
            width: 95px;
          }
        }
      }
}
@media (min-width: @media-mlarge-min) {
  
.metaInfoCard {

        &__contact{

          &__select{
            width: 100px;
          }
        }
      }
}
