/***

COMPONENT NAME: modal
DESCRIPTION: Styles for all modales 

***/

@import 'conf/conf.css.less';

.steps{
	& h3{
		font-weight: 400;
		font-size: 1.5em;
		text-align: center;
	}
}

.modalBox{
	padding: 20px;

	&__content{
		padding: 30px;

		&Join{
			margin: 0px 200px;
		}

		&__UploadImg{
			margin: 20px;
		}
	}

	div&__footer{
		margin: @no_spance;
	}
}