/***

COMPONENT NAME: modal
DESCRIPTION: Styles for all modales 

***/

@import 'conf/conf.css.less';

.steps{
	& h3{
		font-weight: 400;
		font-size: 1.5em;
		text-align: center;
	}
}

.modalBox{
	padding: 20px;

	&__content{
		padding: 30px;

		&Join{
			margin: 0px 200px;
		}

		&__UploadImg{
			margin: 20px;
		}
	}

	div&__footer{
		margin: @no_spance;
	}
}

.croppicModal{
	
	.cropControlCrop, .cropControlReset{
		display: none;
	}
}

.positionButtons{
	position: relative;
}

.modalPrograms{

	.bbm-modal{
		width: 800px;
    	max-width: 100%;
    	background-color: #E6E6E8;

    	.bbm-modal__topbar{
    		background-color: @blue;
    	}
	}

	.bbm-modal__title{
		font-size: 22px;
		font-family: sans-serif;
		color: @white;
	}

	.bbm-modal__section{
		p, ul, li{
			font-family: sans-serif;
		}
	}

	
}

.modalShare{
	padding: 5px 20px;
	color: @black;
	&__user{
		background-color: @white;
		padding: 10px;
		border: 1px solid @gray;
		img{
			width: 50%;
		}
	}

	.select2-container{
		margin-bottom: 10px;
	}

	.color > h3{
		a{
			color:@black;
		}
	}
	
}