/***

APP NAME: navigationTabs	
DESCRIPTION: tabed navigtation bar

***/

@import 'conf/conf.css.less';

.navigationTabs{
	border-bottom: 1px solid #ccc;
	margin-bottom: 3em;

	&__tab{
		font-size: 36px;
		color: #6778fa;
		font-weight: 300;
		
	}
	& li&__tab > a{
		background-color: transparent;
		box-shadow: none;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		&:hover{
			border-bottom: 2px solid #000;
		}
	}
	& li&__tab.active > a{
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom: 2px solid #000;
		&:hover{
			background-color: transparent;
		}
	}


}