/***

COMPONENT NAME: navTopSubBar
DESCRIPTION: Top navigation bar with menus admin section

***/

@import 'conf/conf.css.less';

.navTopSubBarAdmin{
    
    font-weight: 300;
    font-size: 19px;

    &__wrapper{
        background: @light-gray;
        border: none;
        box-shadow: none;
        margin-bottom: 0px;

    }

    &__wrapperAdmin{
        background: @light-gray;
        border: none;
        box-shadow: none;
        margin-bottom: 0px;
    
        & .nav > li > &__link:hover {
           background-color: darken(@light-gray, 10%);
           color: @white;
           border-color:@white; 
        }

        & .nav > li.active > &__link  {
            background-color: @light-gray;
            color: @white;
            border-bottom: 3px solid @white;
        }

        & .navbar-default .navbar-nav > .open > a{
            background-color: darken(@light-gray, 20%);
            color: @white;
            border-color:@white; 
        }

    }

    &__wrapper .nav > li > &__link {
        color: @white;
    }
    &__wrapper .nav > li > &__link:hover {
       background-color: darken(@light-gray, 10%);
       color: @white;
       border-color:@white; 
    }
    &__wrapper .nav > li.active > &__link  {
        background-color: @light-gray;
        color: @white;
        border-bottom: 3px solid @white;
    }
    .navbar-default .navbar-nav > .open > a{
        background-color: darken(@light-gray, 20%);
        color: @white;
        border-color:@white; 
    }

    &__icon{
        font-size: 15px;
    }
    &__dropdownMenu{
        min-width: 250px;
        background-color: @light-gray;
        li > a{
            padding-top: 10px;
            padding-bottom: 10px;
            color: @white;
            &:hover{
                background-color: darken(@light-gray,10%);
                color: @white;
            }
        }
    }


    & &__burguerMenu{
        background-color: darken(@light-gray, 10%);
        border-color: transparent;
        margin-right: 30px;
        color: @white;
        padding: 5px 16px; 
        &:hover{
            background-color: darken(@light-gray, 20%);
        }
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: rgba(255, 255, 255, 0.5)
    }
    &__btnPrimary{
        border-color: @white;
        background-color: darken(@light-gray, 10%);
        color: @white;
        &:hover{
            background-color: darken(@light-gray, 20%);
            color: @white;
            border-color: @white;

        }
    }
   
}





/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
    .navTopSubBar{
       
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
    .navTopSubBarAdmin{
        &__wrapperAdmin .nav > li > &__link {
            border-bottom: 3px solid  @white;
        }

        &__wrapper .nav > li > &__link {
            border-bottom: 3px solid  @light-gray;
        }
        &__wrapper .nav > li > &__link:hover {
           border-color:@white; 
           background-color: transparent;
        }
        .nav > li.active > a {
            border-color:@white; 
        }
        .navbar-default .navbar-nav > .open > a{
            border-color:@white; 
        }
    }

        
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
.navTopSubBarAdmin{
        &__wrapper .nav > li > &__link {
            border-bottom: 3px solid  @light-gray;
        }
        &__wrapper .nav > li > &__link:hover {
           border-color:@white; 
           background-color: transparent;
        }
        .nav > li.active > a {
            border-color:@white; 
        }
        .navbar-default .navbar-nav > .open > a{
            border-color:@white; 
        }
    }  
    
 }
