/***

COMPONENT NAME: navTopBar
DESCRIPTION: Top navigation bar with menus

***/

@import 'conf/conf.css.less';

.navTopBar{
    margin-bottom: 10px;
    &__container--top{
        background-color: @site_nav_bg;
    }
    &__container--topAdmin{
        background-color: @blue-gray;
    }

    &__mobileToggleBtn{
        color: @blue;
        margin-top: 5px;
        margin-right: 0;
        font-size: 20px;
    }

    &__item--right{
        font-size: 20px;
    }
    
    &__item--top{
        margin-top: 16px;
    }

   &__item--li{
      border-bottom-width: 1px !important;
      border-bottom-style: solid !important;
      &:hover{
          color: @gray;
          background-color: @black;
          
      }
      &--active, &:focus{
          background-color:@main-blue;
          color: @white;
          
      }
   }
   

    &__left{
    
        &__brand{
            display: block;
            height: auto;
            padding: 15px 0;

        }

        &__brandMovil{
            display: block;
            height: auto;
            padding: 10px 0;

        }
        .nav .open > &__item:focus{ //hack for bootstrap menu
            color: @white ;
            background-color: @black ;
        }  
        
        & &__item{
                color: @main-blue;
                font-size: 18px;
                font-weight: 300;
                line-height: 20px;
                padding: 20px 13px;
                text-align: center;
                text-transform: uppercase;
                transition: all 300ms ease 0s;                
            &:hover{
                color: @white;
                background-color: @black;
            }
            &--active, &:focus{
                background-color:@main-blue;
                color: @white;
            }


        }

         & &__itemMovil{
                color: @gray;
                background-color: #2B2B2B;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                padding: 20px 15px;
                text-align: left;
                text-transform: uppercase;
                transition: all 300ms ease 0s; 

            &:hover{
                color: @blue;
                background-color: @black;

            }
            &--active, &:focus{
                background-color:@main-blue;
                color: @white;
            }


        }

         & &__itemMovilSubmenu{
                color: #FFF;
                background-color: @black;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                padding: 20px 15px;
                text-align: left;
                transition: all 300ms ease 0s;  

            i{
               margin-left: 20px;
            }             
            &:hover{
                color: @blue;
                background-color: @black;
                
            }
            &--active, &:focus{
                background-color:@main-blue;
                color: @white;
                
            }


        }
    }

    &__right{
        &__list{
            margin-right: -15px;          
        }
        &__list &__item--memebershipWrapper{
            margin: 0px;
            padding: 6px 0 0;
            display: inline-block;

        } 
        

        .nav .open > &__item:focus, .nav .open > &__item--arrow:focus{ //hack for bootstrap menu
            color: @white ;
            background-color: @black ;
        }   
        &__list &__item
        {
            color: @main-blue;
            font-size: 20px;
            font-weight: 300;
            height: 59px;
            line-height: 18px;
            text-align: center;
            transition: all 300ms ease 0s;
            padding: 20px 12px;

              &:hover, &:focus{
                color: @white ;
                background-color: @black ;
            }
            &--points{
              padding-left:30px;
              span.corner-icon{
                  font-size: 23px;
                  margin-top: -4px;
                  position: absolute;
                  left:0px;
             
              }

            }

            &--membershipWrapper{
              padding: 15px 10px 6px;
              &:hover, &:focus{
                color: @white ;
                background-color: @black ;
              }
            }         

            &--becomeAMember{
              background-color: #f38e00;
              border-radius: 50px;
              color: #ffffff;                
              font-size: 13px;
              height: 45px;
              line-height: 1em;
              margin-top: -6px;
              display: inline-block;
              font-weight:bold; 
              padding: 3px 2px 2px 12px;
              width: 127px;
              &:hover{
                  background-color: darken(@orange, 10%)
              }
            }
            &--renew{
                background-color: #f38e00;
                border-radius: 50px;
                color: #ffffff;                
                height: 45px;
                line-height: 1em;
                margin-top: -6px;
                display: inline-block;
                padding: 3px 2px 2px 12px;
                position: relative; 
                z-index: 3000; 
                font-weight:bold; 
                font-size:15px;
                &:hover{
                    background-color: darken(@orange, 10%)
                }
            } 

            &--counter{
                background-color: #e06102;
                border-radius: 50px;
                color: #ffffff;
                height: 45px;
                display: block;
                position: absolute;
                margin-top: -45px;
                margin-left: 55px;
                font-size: 20px;
                line-height: 38px;
                vertical-align: middle;
                font-weight: 500;
                padding: 3px 52px 2px 12px;

                span{
                    margin-left:-3px;
                }
               
                .upline{
                    font-weight: 500;
                    font-size: 11px;
                    margin-top: -6px;
                    position: absolute;
                }
                .downline{
                    font-size: 11px;
                    font-weight: 500;
                }
            } 

            &--member{
                background-color: @main-blue;
                border-radius: 50px;
                color: #ffffff;                
                font-size: 13px;
                margin-top: -6px;
                height: 45px;
                line-height: 1em;                
                display: inline-block;
                padding: 3px 2px 2px 12px;
                &:hover{
                    background-color: darken(@main-blue, 10%)
                }
                span{
                    top:3px;
                }    
            }

            &--memberlifetime{
              background-color: @main-blue;
              border-radius: 50px;
              color: #ffffff;                
              font-size: 13px;
              margin-top: -6px;
              height: 45px;
              line-height: 1em;                
              display: inline-block;
              padding: 3px 2px 2px 12px;
              &:hover{
                  background-color: darken(@main-blue, 10%)
              }

              .big{
                top:4px;
                font-size: 16px;
              }
              span{
                  top:3px;
                  font-size: 11px;
              }    
            }

            &--membershipWrappe{
              padding: 10px 5px;

            }

            &--membershipExpires{
                width: 80%;
                margin: 0 auto;
                background-color: #E36300;
                border-radius: 30px;
                color: white;
                display: inline-block;
                height: 44px;  
                margin-top: -6px;               
                overflow: hidden;
                padding: 0;
                &__days{
                    font-size: 24px;
                    float: left;
                    font-weight: 300;
                    display: block;
                    padding: 11px 5px 0px 13px; 
                }
                &__text{
                    font-size: 10px;
                    float: left;
                    display: block;
                    margin-top: 4px;
                }
                .navTopBar__right__item--becomeAMember {
                     float: right;
                     display: block;
                     margin-top: 0;
                }

            }

            &__icon{
                font-size: 20px;
                
                &--notificationsIcon, &--cartIcon{
                  font-size: 20px;
                }

                &--iconChatSize{
                  font-size: 24px;
                }

            }
            &--arrow{
                display: block;
                font-size: 20px;
                height: 59px;
                margin-left: 5px;
                padding: 20px 10px 15px;
                &:hover, &:focus{
                    color: @white;
                    background-color: @black;
                 }  

            }         
            
        }
        
    }
    & &__registerLogoutLink{
        color: @white;
        .transition(.5s);
        &:hover{
            background-color: @blue;
        }

    }
    & &__avatar{
        margin-top: 10px;
        padding: 0;
        &:hover{
            background-color: transparent;
        }
    }
    &__dropdownMenu{
        min-width: 340px;
        padding: 0;
        background-color: @black;
        border: none;
        list-style: none;
        color: @white;
        & > li > a{
            color: @white;
            padding-top:10px;
            padding-bottom: 10px; 
        }
        &__divider{
            background-color: #444;
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
        }
    }
    &__notification{

        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
            
        }
        a:hover{
            text-decoration: none;
        }

        &__avatar{
            width: 18%;
            float: left;
            img{
                max-width: 100%;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
        &__content{
            width: 79%;
            padding-left: 5px;
            float: left;
            max-height:100px;
            overflow: hidden;
        }
        &__type{
            color: @white;
            padding: 10px;
        }
        &__title{
            color: #ffffff;
            font-size: 1.1em;
            display: block;
            font-weight: bold;
        }
        &__summary{
            font-size: 12px;
            color: @white;
            display: block;
        }
        &__date{
            font-size: 10px;
            color: darken(@white, 20%);
            display: block;
        }
        &__actions{
            width: 10%;
            float: left;
            margin-top: 20px;
        }
        &__showAll{
            border:1px solid @white;
            margin: 10px;
            float: left;
            width: 150px;
            text-align: center;
            text-transform: uppercase;
            display: block;
            padding: 8px;
            color: @white;
            &:hover{
                color: @white;
                background-color: lighten(@black, 10%)

            }
        }
    }
    &__badge{
        position: absolute;
        right: 0;
        text-align: center;
        top: 9px;
        background-color: @orange;
    }
  
    &__text{
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
        margin-left: 0 !important;
        margin-top: 17px;
        padding-left: 21px;
        float: left;
        padding-top: 0;
        padding-bottom: 0;
    }
    
}

.navTopBarMobile{
  &__item{
    padding: 10px;
    a{
      font-size: 25px;
      padding: 15px 9px;
    
      &:hover{
        color: @white;
        background-color: @black;
        text-decoration: none;

      }
      &--active, &:focus{
        background-color:@main-blue;
        color: @white;
        text-decoration: none;
      }
    } 
  }
  &__badge{
    position: absolute;
    text-align: center;
    background-color: #f5ac45;
    top: 5px;
  }
}

.logoMobile{
  padding: 13px 0px;
}

.menuNav{
  button{
    padding: 8px 15px;
  }
}

.searchMenu{
  padding: 12px 10px;
  input{
    padding: 5px;
    width: 170px;
    -webkit-transition: width .3s;
    transition: width .3s
  }
  button{
    margin-left: -7px;
    margin-top: -2px;
    background-color: @white;
    color: @light-gray;
    border-color: #CCCCCC;
    span{
      font-size: 12px;
    }
    &:hover{
      background-color: #0886BF;
      border-color: #0886BF;
    }
  }
  ::-webkit-input-placeholder {
    color: @lighter-gray;
    font-family: sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: @lighter-gray;
    font-family: sans-serif;
    font-weight: 300; 
    font-style: italic; 
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: @lighter-gray;
    font-family: sans-serif;
    font-weight: 300;
    font-style: italic;  
  }

  :-ms-input-placeholder {  
    color: @lighter-gray;
    font-family: sans-serif;
    font-weight: 300;
    font-style: italic;  
  }
}   
.navTopBarMobile__item {
  .searchMenu{
    display: inline-block;
    padding: 0;
    margin-right: 10px;
  }
}

.nameItemMenu{
  display: none;
}

.wideBar{
  button{
    background-color: @blue;
    border-color: @blue;
    color: @white;
  }
}

.member{
  line-height: 1.5;
}

.groupsSize{
  font-size: 20px;
}
/*menores a 400*/
@media (max-width: @media-smallweb) {
  .navTopBarMobile__item {
    .searchMenu{
      display: none;      
    }   
  } 
}
/*menores a 480*/
@media (max-width: @media-xsmall-max) {
  .navTopBarMobile__item {
    .searchMenu{      
      input {
        width: 140px;
      }
    }   
  } 
}


@media (min-width: @media-530) {
  .wideBar{
    input{
      width: 238px;
    }
  } 
}

@media (min-width: @media-600) {
  .wideBar{
    input{
      width: 300px;
    }
  } 
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-right: -10px;
    color: @white;
}

.dropdown-submenu:hover>a:after {
    border-left-color: @black;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
    .navTopBar{
        &__notification{
            width: 350px
        }
        &__right{
           &__list &__item{
                &--membershipExpires{
                    width: 80%;
                    margin: 0 auto;
                    height: auto;

                }

        
            &--points{
                padding-left:30px;
                span.corner-icon{
                    font-size: 23px;
                    margin-top: -4px;
                    position: absolute;
                    left:0px;
               
                }

            } 

          
            }
        }
    }
  .wideBar{
    input{
      width: 170px;
    }
  } 
 }

.drophover:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.icoChatSize{
  font-size: 24px;
}

/*850px*/
@media (min-width: @media-smmall-min) {
  .wideBar{
    input{
      width: 280px;
    }
  }     
}

/*900px*/
@media (min-width: @media-mediumm-min) {
  .wideBar{
    input{
      width: 330px;
    }
  }     
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
  .navTopBar{
      &__notification{
        width: 350px;
      }
      &__right{
        &__list &__item{
          &--membershipExpires{
             
              width: auto;
          }
        }
      }
  }
  .wideBar{
    input{
      width: 315px;
    }
  }  
}

/*1024px*/
@media (min-width: @media-smedium-max) {
  .wideBar{
    input{
      width: 315px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) { 
    .navTopBar{
        &__left{
            & &__item{
                color: @main-blue;
                font-size: 18px;
                font-weight: 300;
                line-height: 20px;
                padding: 20px 10px;
                text-align: center;
                text-transform: uppercase;
                transition: all 300ms ease 0s;                
                &:hover{
                    color: @white;
                    background-color: @black;
                }
                &--active, &:focus{
                    background-color:@main-blue;
                    color: @white;
                }
                span{
                  font-size: 15px;
                }
            }
        }

        &__notification{
            width: 350px;
        }
        &__right{
           &__list &__item{
              padding: 20px 10px;
            &--points{
                padding-left:30px;
                span.corner-icon{
                    font-size: 23px;
                    margin-top: -4px;
                    position: absolute;
                    left:0px;
               
                }

            }        
                &--membershipExpires{
                    width: auto; 


                }

                
                &--renew, &--membershipExpires, &--member, &--becomeAMember  {
                    display: block;
                    
                } 

                &--counter{
                    margin-left:-60px;
                }

            }
        }
    } 
  .wideBar{
    input{
      width: 350px;
    }
  }   
    
 }


/*1360px*/
@media (min-width: @media-mlarge-max) {
  .leftNav{
    margin-left: -50px;
  }
  .nameItemMenu{
    display: initial;
  }
  .wideBar{
    input{
      width: 170px;
    }
  }     
}

/*1400px*/
@media (min-width: @media-mmlarge-min) {
  .wideBar{
    input{
      width: 210px;
    }
  }     
}

/*1500px*/
@media (min-width: @media-mxlarge-min) {
  .wideBar{
    input{
      width: 295px;
    }
  }     
}

/*1600px*/
@media (min-width: @media-xlarge-min) {
  .wideBar{
    input{
      width: 380px;
    }
  }     
}


/*1800px*/
@media (min-width: @media-mxlarge-max) {
  .wideBar{
    input{
      width: 540px;
    }
  }
}

/*1920*/
@media (min-width: @media-xxlarge-max) {
  .leftNav{
    margin-left: 0;
  }
  .navTopBar{
    &__left{
      & &__item{
        padding: 20px 15px;
        span{
          font-size: 18px;
        }
      }
    }
    &__right{
      &__list &__item{
        padding: 20px 15px;
      }
    }
  }
  .wideBar{
    input{
      width: 445px;
    }
  }      
}
