/***

APP NAME: notificationsPage
DESCRIPTION: styles for notifications page

***/

@import 'conf/conf.css.less';


.notification{
	padding: 10px 90px;

	&__empty{
        text-align: center;
        display: block;
        padding: 20px 0;
        font-size: 1.1em;
    }

    &__beginDay{
    	width: 20px;
  		height: 20px;
  		background-color: #B7B8B8;
  		border-radius: 50%;
  		margin: 30px auto;
    }

	&__boxMenu{
		max-height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__info{
		text-align: right;
	}
	
	&__userName{
		color: #2299d0;
  		font-weight: 300;
  		margin: 0;
	}

	&__avatar{
		width: 100%;
		border-radius: 50%;
		position: relative;
		z-index: 1000;
	}

	&__line{
		width: 5px;
  		height: 80px;
  		background-color: #B7B8B8;
  		position: absolute;
  		z-index: 0;
  		left: 47%;
  		margin: 0 auto;
  		top: -80px;
	}

	&__contentBox{
		display: block;
		padding: 10px;
		color: @black;

		&:hover{
			text-decoration:none;
			color: @black;
		}

		&--unRead{
			background-color: @main-light-blue;
			border: 1px solid @blue;
		}

		&--Read{
			background-color: @white;
			border: 1px solid #B5B4B4;
		}
		
		&__markRead{
			text-decoration: underline;
		}

		&__delete{
			float: right;
			text-align: center;
		}

		&__go{
			float: right;
			text-align: center;
		}

	}

	&__markRead{
		color: @blue;
		margin-right: 90px;
		text-decoration: underline;
		text-align: right;
		display: block;
		margin-bottom: 10px;
	}
}
.notificationConf{
	&__notificationCard{
		background-color: @white;
		border: 1px solid @gray;
		width: 100%;
		padding: 10px;
		color: @black;
		h4{
			color: @black;
			font-weight: 400;
		}
		p{
			font-weight: 200;
		}
	}
}
.paddingIconSelect
{
	margin-top: -25px;
}