/***

APP NAME: notificationsPage
DESCRIPTION: styles for notifications page

***/

@import 'conf/conf.css.less';


.notification{
	padding: 0px 90px;
	
	&__userName{
		color: @blue;
		margin-top:@no_spance;
	}

	&__contentBox{
		display: block;
		background-color: #fff;
		border: 1px solid #B5B4B4;
		padding: 10px;
	}
}