@import 'conf/conf.css.less';
.onboardingResponsive{
	h2{

		font-size: 36px;
	}
	a{
		margin-top: 25px;
	}


}

.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

	&__menu {
      	width: 100%;
      	background-color: @blue;
  		margin-top: -93px;
  		padding: 10px 0 0;
	}
  	
  	&__menuList{
  			list-style: none;
        	color: #FFF;
        	li {
			    display: inline;
			}
  	}
  
  	

}
/* (Phone, 320px and up) */
@media (min-width: @media-smallest) { 
	
	.onboarding{

		&__menu {
	   
	  		margin-top: -103px;

		}
	  	
	  	&__menuList{

	        	height: 40px;
	}
	  
	  	

	}
	.onboardingResponsive{
		h2{

			font-size: 23px;	
		} 
		a{
			margin-top: 25px;
		}

	}
}

/* ( 480px and up) */
@media (min-width: @media-xsmall-max) { 

	.onboarding{
	  	
		&__menu {
	   
	  		margin-top: -103px;

		}
	  	
	  	&__menuList{

	        	height: 50px;
		}	
 }

	.onboardingResponsive{
		h2{

			font-size: 30px;	
		}
		a{
			margin-top: 25px;
		} 

	}
}

/* ( 768px and up) */
@media (min-width: @media-small-min) { 

	.onboarding{
	  	
		&__menu {
	   
	  		margin-top: -93px;

		}
	  	
	  	&__menuList{

	        height: 50px;
	  	}
	 }

}

/* ( 979px and up) */
@media (min-width: @media-medium-max) { 
	.onboarding{
	  	
		&__menu {
	   
	  		margin-top: -93px;

		}
	  	
	  	&__menuList{

	        	height: 60px;
	  	}
	 }

	.onboardingResponsive{
		h2{

			font-size: 36px;	
		}

	}
}




