@import 'conf/conf.css.less';
.orbordigResponsive{
	h2{

		font-size: 36px;
	}
	a{
		margin-top: 25px;
	}


}

.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

	&__menu {
      	width: 100%;
      	background-color: @blue;
  		margin-top: -93px;
  		padding: 10px 0 0;
	}
  	
  	&__menuList{
  			list-style: none;
        	color: #FFF;
        	li {
			    display: inline;
			}
  	}
  
  	

}
@media (min-width: @media-smallphone) { 
	
.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

	&__menu {
      	width: 100%;
      	background-color: @blue;
  		margin-top: -93px;
  		padding: 10px 0 0;
	}
  	
  	&__menuList{
  			list-style: none;
        	color: #FFF;
        	li {
			    display: inline;
			}
  	}
  
  	

}
	.orbordigResponsive{
		h2{

			font-size: 23px;	
		} 
		a{
			margin-top: 25px;
		}

	}
}

@media (min-width: @media-xsmall-max) { 
	.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

	&__menu {
      	width: 100%;
      	background-color: @blue;
  		margin-top: -93px;
  		padding: 10px 0 0;
	}
  	
  	&__menuList{
  			list-style: none;
        	color: #FFF;
        	li {
			    display: inline;
			}
  	}
  
  	

}


	.orbordigResponsive{
		h2{

			font-size: 30px;	
		}
		a{
			margin-top: 25px;
		} 

	}
}
@media (min-width: @media-large-min) { 
	.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

	&__menu {
      	width: 100%;
      	background-color: @blue;
  		margin-top: -93px;
  		padding: 10px 0 0;
	}
  	
  	&__menuList{
  			list-style: none;
        	color: #FFF;
        	li {
			    display: inline;
			}
  	}
  
  	

}

	.orbordigResponsive{
		h2{

			font-size: 36px;	
		}
	.btn-onboarding{
  		padding: 10px 16px;
  		font-size: 18px;
  		line-height: 1.33;
  		border-radius: 3px
	}

	}
}
