@import 'conf/conf.css.less';

.onboarding{
	&__groups{
		color: @black;
	}
	
	&__link{
		color: @blue;
	}

	&__members{
		img:first-child{
			margin-left: 0;
		}
		img{
			margin-left: -10px;
		}
	}

}