
/***

COMPONENT NAME: Paddings and Margins
DESCRIPTION: Displays paddings and margins

***/

.no-margin {
    margin: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}

// Juan's paddings 

/* Margins */
.margin_top{margin-top:2.18em}
.margin_left{margin-left:2.18em}
.margin_right{margin-right:2.18em}
.margin_bottom{margin-bottom:2.18em}

.margin_top_large{margin-top:6em}
.margin_left_large{margin-left:6em}
.margin_right_large{margin-right:6em}
.margin_bottom_large{margin-bottom:6em}

.margin_top_large{margin-top:4.68em}
.margin_left_large{margin-left:4.68em}
.margin_right_large{margin-right:4.68em}
.margin_bottom_large{margin-bottom:4.68em}

.margin_top_medium{margin-top:1.56em}
.margin_left_medium{margin-left:1.56em}
.margin_right_medium{margin-right:1.56em}
.margin_bottom_medium{margin-bottom:1.56em}

.margin_top_small{margin-top:1em}
.margin_left_small{margin-left:1em}
.margin_right_small{margin-right:1em}
.margin_bottom_small{margin-bottom:1em}

.margin_top_xsmall{margin-top:0.5em}
.margin_left_xsmall{margin-left:0.5em}
.margin_right_xsmall{margin-right:0.5em}
.margin_bottom_xsmall{margin-bottom:0.5em}

.margin_large{margin:6em} 
.margin_large{margin:4.68em} 
.margin_medium{margin:1.56em} 
.margin_small{margin:1em} 
.margin_xsmall{margin:0.5em} 

.margin_top_xlarge_minus{ margin-top:-6em;}
.margin_left_xlarge_minus{ margin-left:-6em;}
.margin_right_xlarge_minus{ margin-right:-6em;}
.margin_bottom_xlarge_minus{ margin-bottom:-6em;}

.margin_top_large_minus{ margin-top:-4.68em;}
.margin_left_large_minus{ margin-left:-4.68em;}
.margin_right_large_minus{ margin-right:-4.68em;}
.margin_bottom_large_minus{ margin-bottom:-4.68em;}

.margin_left_minus{ margin-left:-1em;}
.margin_right_minus{ margin-right:-1em;}
.margin_top_minus{ margin-top:-1em;}
.margin_bottom_minus{ margin-bottom:-1em;}

.margin_left_medium_minus{ margin-left:-1.56em;}
.margin_right_medium_minus{ margin-right:-1.56em;}
.margin_top_medium_minus{ margin-top:-1.56em;}
.margin_bottom_medium_minus{ margin-bottom:-1.56em;}

.margin_left_small_minus{ margin-left:-0.5em;}
.margin_right_small_minus{ margin-right:-0.5em;}
.margin_top_small_minus{ margin-top:-0.5em;}
.margin_bottom_small_minus{ margin-bottom:-0.5em;}

.margin_top_xsmall_minus{margin-top:-7px}
.margin_left_xsmall_minus{margin-left:-7px}
.margin_right_xsmall_minus{margin-right:-7px}
.margin_bottom_xsmall_minus{margin-bottom:-7px}

/* No margin */
.no_margin_left{ margin-left:0;}
.no_margin_right{ margin-right:0;}
.no_margin_top{ margin-top:0;}
.no_margin_bottom{ margin-bottom:0;}

/* Paddings */
.padding_top_xlarge{padding-top:6em}
.padding_left_xlarge{padding-left:6em}
.padding_right_xlarge{padding-right:6em}
.padding_bottom_xlarge{padding-bottom:6em} /* algo aqui */

.padding_top_large{padding-top:4.68em}
.padding_left_large{padding-left:4.68em}
.padding_right_large{padding-right:4.68em}
.padding_bottom_large{padding-bottom:4.68em} /* algo aqui */

.padding_top{padding-top:2.18em}
.padding_left{padding-left:2.18em}
.padding_right{padding-right:2.18em}
.padding_bottom{padding-bottom:2.18em}

.padding_top_medium{padding-top:1.56em}
.padding_left_medium{padding-left:1.56em}
.padding_right_medium{padding-right:1.56em}
.padding_bottom_medium{padding-bottom:1.56em}

.padding_top_small{padding-top:1em}
.padding_left_small{padding-left:1em}
.padding_right_small{padding-right:1em}
.padding_bottom_small{padding-bottom:1em}

.padding_top_xsmall{padding-top:0.5em}
.padding_left_xsmall{padding-left:0.5em}
.padding_right_xsmall{padding-right:0.5em}
.padding_bottom_xsmall{padding-bottom:0.5em}

.padding_xlarge{padding:6em} 
.padding_large{padding:4.68em} 
.padding_medium{padding:1.56em} 
.padding_small{padding:1em} 
.padding_xsmall{padding:0.5em} 

.padding_smsmall{padding:12px} 


