/***

COMPONENT NAME: payment
DESCRIPTION: styles for payment page

***/

@import 'conf/conf.css.less';

.pay{
	&__label{
		color: #000;
    font-size: 1.1em;
    font-weight: 300;
	}
}

.paymentwall{

    height: 890px;
    & > iframe{
      height: 100%;
      width: 100%;
    }
}

.ticket{

  &__background{

    background-color: @white;
    margin-top: 25px;
    width: 400px;
    height: 140px;
    text-align: left;
    margin-left: 285px;

    } 
}