/***

COMPONENT NAME: payment
DESCRIPTION: styles for payment page

***/

@import 'conf/conf.css.less';

.pay{
	&__label{
		color: #000;
    font-size: 1.1em;
    font-weight: 300;
	}
}

#paymentwall-content{
  & > iframe{
    height: 282px;
    width: 100%;
  }
}