/***

COMPONENT NAME: navTopBar
DESCRIPTION: Top navigation bar with menus

***/

@import 'conf/conf.css.less';

.pointsBar{
    background:#FFF;
    height: 70px;
    line-height: 65px;
    &__leftIcon{
        font-size: 35px;
        position: absolute;
        left: 0;

    }
    &__quantity{
        font-size:60px;
        font-weight:500;
        color:#222;
        margin-left:25px
    }
    &__topLegend{
        margin-top: -6px;
        position: absolute;
        color:#222;
        font-size:12px;
    }
    &__bottomLegend{
        margin-top: 6px;
        position:absolute;
        color:#222;
        font-size:12px;
    }
    &__prizes{
        color:#2099d0;
        font-size:30px;
    }

}