/***

APP NAME: Points
DESCRIPTION: CSS for earned points timeline
***/

@import 'conf/conf.css.less';
.pointsTimeline{
  &__collection{
    margin-top: 3em;
    &__item{

      &__quantity{
        vertical-align: middle;
        font-size: 50px;
        color: #677f8b;
        font-weight: 300;
        &--day{
          height: 30px;
          line-height: 30px;
          font-size: 30px;          
        }
        &--friend, &--group{
          height: 100px;
          line-height: 100px;          
        }
        &--self{
          height: 60px;
          line-height: 60px;          
        }
      }

      &__activity{
        margin-bottom: 20px;
        &__friend, &__group{
          line-height: 100px;
          vertical-align: middle;
          height: 100px;
          overflow: hidden;
          text-align: left;
          background-color: white;
          border: solid 1px @main-gray;
          &__landmarkTop{
            background-image: image-url('points/landmark_top.png');
            background-position: 0% 0%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 64px;
            top: 46px;
          }
          &__landmarkBottom{
            background-image: image-url('points/landmark_bottom.png');
            background-position: 0% 100%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 64px;
            bottom: 46px;
          }
          &__landmarkMiddle{
            background-image: image-url('points/landmark_middle.png');
            background-position: 0% 50%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 120px;
            top: -10px;
          }
          .cardImage{
            padding :0px;
              img{
                padding: 5px;
              }
          }
          .cardInfo{
            line-height: 20px;
            
            .legend{
              color:#323;
              font-size:12px;
              height: 20px;
              font-weight: 300px;              
            }
            .name{
              color: @main-blue;
              font-size: 24px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
            }
            .time{
              color: #677f8b;
              font-size: 10px;
              height: 16px;
            }
          }      

        }

        &__self{
          height: 60px;
          line-height: 60px;
          vertical-align: middle;
          overflow: hidden;
          text-align: left;
          padding: 10px 0px 0 10px;
          background-color: white;
          border: solid 1px @main-gray;
          &__landmarkTop{
            background-image: image-url('points/landmark_top.png');
            background-position: 0% 0%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 44px;
            top: 23px;
          }
          &__landmarkBottom{
            background-image: image-url('points/landmark_bottom.png');
            background-position: 0% 100%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 44px;
            bottom: 23px;
          }
          &__landmarkMiddle{
            background-image: image-url('points/landmark_middle.png');
            background-position: 0% 50%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 80px;
            top: -10px;
          }
          .cardInfo{
            line-height: 20px;
            
            .legend{
              color:#323;
              font-size:12px;
              height: 20px;
                           
            }
            .name{
              color: @main-blue;
              font-size: 24px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 100%;
              font-weight: 300px; 
            }
            .time{
              color: #677f8b;
              font-size: 10px;
              height: 16px;
            }
          } 
        

        }


        &__day{
          line-height: 30px;
          vertical-align: middle;
          height: 30px;
          font-size: 30px;
          overflow: hidden;
          text-align: left;
          color: #323;
          font-weight: 300;
          &__landmarkTop{
            background-image: image-url('points/landmark_top.png');
            background-position: 0% 0%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 29px;
            top: 15px;
          }
          &__landmarkBottom{
            background-image: image-url('points/landmark_bottom.png');
            background-position: 0% 100%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 24px;
            bottom: 10px;
          }
          &__landmarkMiddle{
            background-image: image-url('points/landmark_middle.png');
            background-position: 0% 50%;
            position: absolute;
            z-index: 1000;
            left: -4px;
            width: 6px;
            height: 40px;
            top: -10px;
          }        
        }
      }
    } 
  }
}