@import 'conf/conf.css.less';

.products{
	height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #C7C7C7;
    color:  #818181;
    background-color: #FFF;
    text-align: left;
    font-size: 15px;
    font-weight: 100;
    padding: 12px;
    margin-bottom: 0.2em;
	
	&:hover{
        color: #FFF;
    	background-color: @blue;

    }	
}

