/***

COMPONENT NAME: Rounded Numbers List
DESCRIPTION: Creates a vertical list of numbers where the numbers are within circles 

***/

@import 'conf/conf.css.less';

.roundedNumbersList
{
    margin-top: 0;
    margin-bottom: 0; 
    list-style: none;
    color: @dim-gray;
    
    &__addLanguages{
        text-align: center;
        margin-top: 35px;
    }

    &__textProfile{
        text-align: center;
        font-size: 20px;
        color: #111111;
        font-weight: 300;
        margin-bottom: 0.2em;
    }

    &__avatarProfile{
        img{
            width: 140px;
            height: 140px;
            border: 5px solid white;
        }
    }

    &__item
    {
        float: left;
        overflow: hidden;

        width: 40px;
        height: 40px;
        margin: 0px 1px;
        &--active
        {
            float: left;
            margin: 0px 1px;
            color: @blue;
            .roundedNumbersList__number
            {
                color: @white;
                border-color: transparent;
                background-color: @blue;
            }
             .roundedNumbersList__numberOnboarding
            {
                color: #FFFFFF;
                background-color: #2099D0;
                border-radius: 1em;
                border-style: solid;
                padding: 2px;
            }
        }
        &--inactive
        {
            float: left;
            overflow: hidden;
            width: 30px;
            height: 30px;
            margin: 0 10px 10px 0;

            color: @gray;
            .roundedNumbersList__number
            {
                color: @gray;
                border-color: @gray;
            }
        }
    }
    &__number
    {
        font-size: 1.4em;
        line-height: 1.7em;

        display: inline-block;

        width: 2em;
        height: 2em;
        margin-right: .2em;
        margin-bottom: .2em;

        text-align: center;

        color: @dim-gray;
        border: 1px solid @dim-gray;
        border-radius: 2em;
    }
    &__numberOnboarding
    {
        font-size: 1em;
        line-height: 1.7em;

        display: inline-block;

        width: 2em;
        height: 2em;
        margin-right: .2em;
        margin-bottom: .2em;

        text-align: center;
        background-color: #FFF;
        color: @blue;

        border-radius: 2em;
    }

    &__subNumber
    {
        font-size: 0.7em;
        line-height: 1.7em;
        
        display: inline-block;

        width: 2em;
        height: 2em;
        margin-right: .2em;
        margin-bottom: .2em;

        text-align: center;

        color: @dim-gray;
        border: 2px solid @dim-gray;
        border-radius: 2em;
    }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min)
{
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min)
{
	.roundedNumbersList
    {
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 0;

        &__addLanguages{
            text-align: left;
            margin-top: 0;
        }

        &__textProfile{
            text-align: left;
            font-size: 36px;
            color: #111111;
            font-weight: 300;
            margin-bottom: 0.2em;
        }
        &__avatarProfile{
            img{
                width: 240px;
                height: 240px;
                border-style: none;
            }
        }

        &__item
        {
            margin: 0 10px 10px 0;
            float: none;
            overflow: auto;

            width: auto;
            height: auto;
            &--active
            {
                margin: 0 10px 10px 0;
                float: none;
                overflow: auto;

                width: auto;
                height: auto;
            }
            &--inactive
            {
                float: none;
                overflow: auto;

                width: auto;
                height: auto;
            }
        }
        &__number
        {
            font-size: 2em;

            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;
            border: 2px solid @dim-gray;

     
        }
        &__numberOnboarding
        {
            font-size: 2em;
            font-weight: 100;
            line-height: 1.7em;

            display: inline-block;

            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;

            text-align: center;
            background-color: #FFF;
            color: @blue;
            padding: 0px 10px;
            border-radius: 2em;
        }

         &__subNumber
        {
            font-size: 1.5em;

            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min)
{
    .roundedNumbersList
    {
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 0;

        &__addLanguages{
            margin-top: 0;
            text-align: left;
        }

        &__textProfile{
            text-align: left;
            font-size: 36px;
            color: #111111;
            font-weight: 300;
            margin-bottom: 0.2em;
        }
        &__avatarProfile{
            img{
                width: 240px;
                height: 240px;
                border-style: none;
            }
        }

        &__item
        {
            margin: 0 10px 10px 0;
            float: none;
            overflow: auto;

            width: auto;
            height: auto;
            &--active
            {
                margin: 0 10px 10px 0;
                float: none;
                overflow: auto;

                width: auto;
                height: auto;
            }
            &--inactive
            {
                float: none;
                overflow: auto;

                width: auto;
                height: auto;
            }
        }
        &__numberOnboarding
        {
            font-size: 2em;
            font-weight: 100;
            line-height: 1.7em;

            display: inline-block;

            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;

            text-align: center;
            background-color: #FFF;
            color: @blue;
            padding: 5px 10px;
            border-radius: 2em;
        }
        &__number
        {
            font-size: 2em;
            text-align: center;
            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;
            border: 2px solid @dim-gray;

     
        }
        &__subNumber
        {
            font-size: 1.5em;

            width: 2em;
            height: 2em;
            margin-right: .2em;
            margin-bottom: .2em;
        }
    }
}
