/***

COMPONENT NAME: searchBar
DESCRIPTION: Used for  execute search queries. It includes a title at left hand side and a grid/list button on the right so the user can render the results as he likes. 

***/

@import 'conf/conf.css.less';


.searchBar{
    margin-top: 2em;
    margin-bottom: 1em;

    &__searchInput{
        height: 70px;
        padding: 0 20px;
    }
    &__searchBtn{
        padding: 24px 43px;
        color: @blue;
    }
    &__title{
        margin-top: 0;
    }
    &__renderOptions{
         margin-top: 10px;
        &__icon{
            display: inline-block;
            font-size: 40px;
            margin-left: 10px;
            &Active{
               color: @dark-blue;
            }
        }
        
    }
}

.input-group{
    .input-group-addon{
        border: 1px solid rgb(204, 204, 204);
        background: none repeat scroll 0% 0% rgb(255, 255, 255);   
        color: @main-blue; 
    }

    input{
        border: 1px solid #cccccc;
        font-style: italic;
        font-size: 100%;
    }

    input.small{
        height: 30px;
    } 

    input.medium{
        height: 50px;
    } 

    input.large{
        height: 70px;
    }  

    &--right{
        .input-group-addon{
            border-left: 0px;
            border-right: 1px solid rgb(204, 204, 204);
            padding: 0 5px 0 0;
        }
        input{
            border-right:0px;  

        }                
    }
    &--left{
        .input-group-addon{
            border-right: 0px;
            border-left: 1px solid rgb(204, 204, 204);
            padding-left: 0 0 0 5px;
        }
        input{ 
            border-left:0px;  
        }  
    }   
    input:focus{
        border-color: #CCC;
        box-shadow: none;                        
    } 

}
.input-group:focus{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}