@import 'conf/conf.css.less';

.submenuSettings{
	position: relative;
	padding: 5px 0 0 0;
	list-style: outside none none;
	margin-bottom: 0px;

	&__item{
		position: relative;
    display: block;
    float: left;
    list-style: none;
     &__link
    {
	    font-size: 18px;
	    padding: 0 9px 0px 9px;
	    color: #667E8A;
	    font-weight: 200;

	    &--active
      {
      	color: @black;
        background-color: transparent;
        -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        text-decoration: none;
        padding: 20px 10px;
      }

      &:hover,&:focus{
        text-decoration: none;
      }

	    &--invoices{
	    	font-size: 30px;
		    padding: 0px 30px 0px 0px;
		    color: #667E8A;
		    font-weight: lighter;
	    }

	    &--activeInvoices
      {
      	color: @black;
        background-color: transparent;
        -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        box-shadow: 0 3px 0 0 rgba(0,0,0,.75);
        text-decoration: none;
        padding: 0px 30px 19px 0px;
      }
	  }
	}
}