/***

APP NAME: staticContentBox
DESCRIPTION: styles for footer static pages

***/

@import 'conf/conf.css.less';

.staticContentBox{

  &__header{

    background-color: @site_nav_bg;
    padding: @space_medium;
      min-height: 130px;

    &__Logo{
      position:relative;
      left:50%;
      margin-left:-80px;
    }
  }

   &__content{
       background-color: #fff;
       border: 1px solid @gray;
       padding: 50px;
   }

   &__Img{
       float: right;
       padding: 10px;
   }

   &__firstP{
   		font-size: 1.4em;
   }
 
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
	.staticContentBox{
   		margin-top: -40px;

   		&__Img{
       		margin-right: none;
   		}
 
	}
}