/***

APP NAME: tableAdmin
DESCRIPTION: CSS for styling the admin tables
***/

@import 'conf/conf.css.less';


.tableAdmin{
	background-color: @white;	
	tr{
		&:hover{
			box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
		}
	}
	th{
		background-color: @main-bg;
		border: none;
		text-transform: uppercase;
		color: @blue-gray;
	}
	td{
		border:1px solid #dddddd;
	}
	
	table& > tbody > tr >  td&__colText{
       vertical-align: middle;
       text-align: center;
   	}

	&__actions{
        background-color: @blue-gray;
        
        border:none;
       
        text-align: center;
	        button{
	        	border:none;
	        	padding:10px 5px;
	        	background-color: @blue-gray;
	        	color: @white;
	        	width: 100%;
	        }

        }
}

