/***

COMPONENT NAME: userCard
DESCRIPTION: the card where the user atributes are loaded within a list of users.

***/

@import 'conf/conf.css.less';


.userCard{
   background: #fbfbfb;
   margin-bottom: 2em;
   padding: 10px;
   text-align: center;
  
  &:hover{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }

   &__animation{
    transition: all 300ms ease 0s;
    width: 70px;
    display: inline-block;
    float: right;
    &:hover{
        width: 150px;
        text-decoration: none;
      }
   }
    
    &__animation:hover &__actions__text{
      display: inline;
    }

   &__avatar{
    text-align: center;
   }

   &__name{
    color:@blue;
    font-size: 22px;
    margin-bottom: 5px;

   }

   &__attending{
      height: 60px;
      margin-top: -10px;
      padding: 20px 10px;
      text-align: center;
      color: #fff;
      font-size: 0.7em;

      &--status{
        background-color: @light-blue;
      }
      &--remove{
        background-color: @lighter-gray;
        &:hover{
          background-color: @light-gray;
          text-decoration: none;
        }
      }
   }

   &__actions{
    background-color: @light-blue;
    text-align: center;
    padding: 10px;
    color: @white;

    &__text{
      display: none;

    }

    &--isFriend{
      background-color: @light-blue;
      &:hover{
        background-color: @blue;
      }

      & span{
        text-transform: uppercase;
      }
    }
    
    &--unFriend{
      background-color: @lighter-gray;
      &:hover{
        background-color: @light-gray;
      }
    }

    &--Cancel{
      background-color: @light-orange;
      &:hover{
        background-color: @orange;
      }
    }

    &--Approve{
      position: relative;
      background-color:@lighter-green;
      color: @white;
      height: 50px;
      margin-top: -10px;
      text-align: center;
      padding-top: 20%;
      &:hover{
        background-color: @light-green;
      }
    }
    &--Decline{
      position: relative;
      background-color:@light-red;
      color: @white;
      height: 50px;
      text-align: center;
      padding-top: 20%;
      &:hover{
        background-color: @red;
      }
    }

   }

   &__GroupAdminActions{
    position: relative;

    
    li a&--changeRole{
        top: 5px;
      }
    li a&--upgradeMember{
        top: 30px;
        &:hover{ background-color: @orange;}
      }
     li a&--removeMember{
        top: 55px;
        &:hover{ background-color: @danger-color;}
      }
    a{
      width: auto;
      padding: 10px;
      position: inherit;
      right: 30px;
      color: @gray;
      text-align: center;
      overflow: auto;
      display: block;
      transition: all 300ms ease 0s;
      &:hover{
        width: auto;
        background-color: @blue;
        color: @white;
        text-decoration: none;
      }
      
    }
   }

  &__position{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

   &__approveBox{
    background-color: lighten(@blue, 42%);
    padding-bottom: 10px;
    h5{
      font-size: 22px;
      font-weight: 300;
      margin-bottom:10px; 
    }
    &__ok{
      margin-top:8px;
      &--success{
        color: @green;
      } 
    }
    &__actions{
      margin-top:3px;
      padding-left: 0;
    }
    .row{
      margin-top: 10px;
    }
   }
  
  &--selected
  { 
    border: 1px solid @main-blue;
    background-color: lighten(@main-blue,40%);
    h4{
      color:#434;
    }
  }
}


.membership{
  div{
    background-color: @main-blue;
    border-radius: 50px;
    color: #ffffff;                
    line-height: 20px;
    vertical-align: middle;
    padding: 3px;
    display:inline;
    .glyphicon{
      font-size: 8px;
      top:-1px;
      &__right{
        margin-right:2px;        
      }
      &__big{
        font-size: 12px;
        top:1px; 
      }
    } 

  }
  
            
      
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
    .userCard{
        height: auto;
    }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {
    .userCard{
        
        height: 100px;
        overflow: hidden;
        text-align: left;
        padding: 10px 0px 10px 10px;

        &--diffHeight{
            height: auto;
            padding-bottom: 20px;
        }

        &__avatar{
            text-align: right;
         }
        &__actions{
            height: 100px;
            padding: 40px 0 0;
            font-size:0.7em;
         }
        &__GroupAdminActions{
        position: relative;
          a{
            width: 20px;
            height: 26px;
            padding: 3px;
            position: absolute;
            overflow: hidden;
            text-align: center;
            right: 30px;
            &:hover{
              width: 120px;
              background-color: @blue;
              color: @white;
            }
          }
          &__text{
            display: none;
          }
          a:hover &__text{
            display: inline;
          
          }
       }
    }

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
    .userCard{

        height: 100px;
        overflow: hidden;
        text-align: left;
        padding: 10px 0px 0 10px;
    
        &--diffHeight{
            height: auto;
            padding-bottom: 20px;
        }

        &__avatar{
            text-align: right;
        }
        &__actions{
              height: 100px;
              margin-top: -10px;
              padding: 40px 0 0;
        }

       &__GroupAdminActions{
        position: relative;
          a{
            width: 20px;
            height: 26px;
            padding: 3px;
            position: absolute;
            overflow: hidden;
            text-align: center;
            right: 30px;
            &:hover{
              width: 120px;
              background-color: @blue;
              color: @white;
            }
          }
          &__text{
            display: none;
          }
          a:hover &__text{
            display: inline;
          
          }
       }
   }
 }