/***

COMPONENT NAME: userBox
DESCRIPTION: the box where the user atributes are loaded within a list of users.

***/

@import 'conf/conf.css.less';


.userBox{
   background: @white;
   margin-bottom: 2em;
   padding-top:10px;
   padding-bottom: 10px;
   height: 100px;
   overflow: hidden;
   &__avatar{
    text-align: right;
   }
   &__name{
    color:@blue;
    font-size: 22px;
   }
   &__actions{
    background-color: @blue;
    height: 100px;
    margin-top: -10px;

   }

}