/***

COMPONENT NAME: userBrowse
DESCRIPTION: Management users 

***/

@import 'conf/conf.css.less';

.userBrowse{

	&__colorFilter{
		background-color: #677f8b;
		color: @white;
		margin-left: 0px;
		margin-right: 0px;
		font-weight: 100;
	}

	&__btnSearch{
		margin-top: 10px;
		margin-left: 256px;
	  	border: #2099d0;
	  	background-color: #2099d0;
	  	text-transform: uppercase;
	  	font-size: inherit;
	}	

	&__iconDelete{
		margin-right: 500px;
		color: @white;
		background-color: #4c6672;
		margin-left: 305px;
	}

	&__font{
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: inherit;

	}

	&__selectIcon{
		color: #4c6672;
		position: absolute;
		margin-top: -30px;
		right: 10px;
		width: 34px;
		line-height: 34px;
		text-align: center;
		pointer-events: none;
	}

		&__selectIconJP{
		position: absolute;
		margin-top: -30px;
		right: 10px;
		width: 34px;
		line-height: 34px;
		text-align: center;
		pointer-events: none;
	}


}