/***

COMPONENT NAME: userCoverArea
DESCRIPTION: Hero area of the user profile page. it includes the name of the user and the cover as a background. 

***/

@import 'conf/conf.css.less';

.userCoverArea{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: -53px;
	padding: 10px 0;
	position: relative;

	&__title{
		font-size: 30px;
	    padding: 20px;
		color: @white;
		position: relative;
		left: auto;
	    top: auto;
	    z-index: 0;
	    text-transform: capitalize;
	    text-align: center;
		
		background: rgba(0, 0, 0, 0.3);
		a{
			color: @white;
			&:hover{
				text-decoration: none;

			}
		}
	}
	&__subTitle{
		padding: 10px;
		color: @white;
		position: relative;
		left: auto;
	    top: auto;
	    z-index: 0;
	    font-size: 18px;
	    font-weight: 300;
	    text-transform: capitalize;
	    text-align: center;
		
		background: rgba(0, 0, 0, 0.3);
	}
	
	&__avatar{
		position: relative;
		top: auto;
		left: auto;
		display: block;
		z-index: 100;
		margin: 0 auto;

		&__editAvatar{
			display: block;  
			margin-top: 5px;  
			position: relative;  
			width: initial;
		}

	}

	&__btnInvite{
		.transition (@transition:1s);
		position: relative;
		display: block;
		width: 250px;
		margin: 20px auto;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 15px 20px;
		color: @white;
		border-radius: 0;
		-webkit-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		border: 2px solid @white;
		&:hover{
			color: @white;
			background-color: rgba(0, 0, 0, 0.8);
		}

	}

	&__btnMessage{
		.transition (@transition:1s);
		position: relative;
		display: block;
		width: 250px;
		margin: 20px auto;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 17px 20px;
		color: @white;
		border-radius: 0;
		-webkit-border-radius: 0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		border: 2px solid @white;
		&:hover{
			color: @white;
			background-color: rgba(0, 0, 0, 0.8);
		}

	}
	&__editCover{
		display:block; 
		position:relative;
		display: block;
		text-align: center; 
		margin-right: 10px;
	}

	
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {
 	.userCoverArea{
 		height: 550px;
 		margin-top: -51px;
		
		&__btnInvite{
			position: relative;
			display: block;margin: 20px auto;
			
	 	}	

	 }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {	

 	.userCoverArea{
 		height: 428px;
 		margin-top: 0;

 		&__btnInvite{
			position: absolute;
			bottom: 20px;
			right: 20px;
			display: inline-block;
			width: auto;
		}
		&__btnMessage{
			position: absolute;
			bottom: 20px;
			right: 20px;
			display: inline-block;
			width: auto;
		}
		&__title{
			font-size: 60px;
		    padding: 10px 20px 10px 70px;
			color: @white;
			position: absolute;
			left: 190px;
		    top: 80px;
		    z-index: 0;
		    text-transform: capitalize;
			
			background: rgba(0, 0, 0, 0.3);
			a{
				color: @white;
				&:hover{
					text-decoration: none;

				}
			}
		}
		&__subTitle{
			padding: 10px 20px 10px 70px;
			color: @white;
			position: absolute;
			left: 190px;
		    top: 190px;
		    z-index: 0;
		    font-size: 30px;
		    font-weight: 300;
		    text-transform: capitalize;
			
			background: rgba(0, 0, 0, 0.3);
		}
			
		&__avatar{
			position: absolute;
			top: 50px;
			left: 0;
			display: block;
			z-index: 100;
		}
		&__editCover{			
			text-align: right; 			
		}
 	}
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {
    .userCoverArea{
    	height: 428px;
    	margin-top: -51px;

    	&__title{
			font-size: 60px;
		    padding: 10px 20px 10px 70px;
			color: @white;
			position: absolute;
			left: 190px;
		    top: 80px;
		    z-index: 0;
		    text-transform: capitalize;
			
			background: rgba(0, 0, 0, 0.3);
			a{
				color: @white;
				&:hover{
					text-decoration: none;

				}
			}
		}
		&__subTitle{
			padding: 10px 20px 10px 70px;
			color: @white;
			position: absolute;
			left: 190px;
		    top: 190px;
		    z-index: 0;
		    font-size: 30px;
		    font-weight: 300;
		    text-transform: capitalize;
			
			background: rgba(0, 0, 0, 0.3);
		}
			
		&__avatar{
			position: absolute;
			top: 50px;
			left: 0;
			display: block;
			z-index: 100;
		}

  		&__btnInvite{
			position: absolute;
			bottom: 20px;
			right: 20px;
			display: inline-block;
			width: auto;
		}

		&__btnMessage{
			position: absolute;
			bottom: 20px;
			right: 30px;
			display: inline-block;
			width: auto;
		}
		
 	}
 }