/***

COMPONENT NAME: userBrowse
DESCRIPTION: Management users 

***/

@import 'conf/conf.css.less';

.browse{

	&__colorFilter{

		background-color: #4c6672;
		color: @white;
		margin-left: 0px;
	}

	&__btnAdd{

		margin-top: 20px;
		margin-left: 0px;
	}

	&__iconDelete{

		margin-right: 500px;
		color: @white;
		background-color: #4c6672;
		margin-left: 315px;
	}

}