/*
 --------------------------- ---------------------------  ---------------------------


  Si quieres ver cual clase corresponde a cada icono gráficamente, es decir, para saber que imagen es (algo que todos queremos ver) 
entra en esta aplicación "https://icomoon.io/app/#/select" y dale "import", luego carga el archivo svg que esta en assets/fonts/alumnet-entypo.svg

  Nelson Ramirez :)

--------------------------  ---------------------------  ---------------------------
*/




// those variables might be usefull in styles so keep it global
@icon-linked-in-pos: 5px 1px;
@icon-linked-in-logo-pos: -36px -143px;
@icon-message-pos: 0 -18px;
@icon-reviews-pos: -79px -211px;
@icon-nav-pos: -97px -1px;
@icon-skill-pos: -68px 0;
@icon-qualification-pos: -111px -211px;
@icon-language-pos: -80px 0;
@icon-points-pos: -33px -18px;
@icon-email-pos: 0 -44px;
@icon-phone-pos: -122px -41px;
@icon-mobile-pos: -33px -44px;
@icon-twitter-pos: -92px -41px;
@icon-fb-pos: -153px -41px;
@icon-link-pos: -107px -73px;
@icon-msn-pos: -105px -105px;
@icon-skype-pos: -136px -73px;
@icon-star-full-pos: -56px -18px;
@icon-star-half-pos: -75px -18px;
@icon-star-empty-pos: -94px -18px;
@icon-time-pos: -113px -18px;
@icon-views-pos: -114px 0;
@icon-ratio-pos: -135px -18px;
@icon-brand-pos: -137px -1px;
@icon-experience-pos: -153px -2px;
@icon-star-big-empty-pos: -32px -78px;
// star full
@icon-star-big-full-pos: 0 -78px;
@icon-star-big-full-focus-pos: 0 -110px;
@icon-star-big-empty-focus-pos: -32px -110px;
// info icons
@icon-info-pos: -56px -42px;
@icon-info-width: 18px;
@icon-info-height: 18px;
@icon-info-hover-pos: -56px -60px;
@icon-info-up-pos: -74px -42px;
@icon-info-up-hover-pos: -74px -60px;
@icon-info-down-pos: -60px -211px;
@icon-info-down-hover-pos: -60px -229px;
@icon-big-tick-pos: -65px -78px;
@icon-big-about-pos: -144px -172px;
@icon-big-skill-pos: -33px -210px;
@icon-big-job-pos: 0 -210px;
@icon-big-avatar-pos: -35px -304px;
@icon-big-qualification-pos: 0 -304px;
@icon-big-project-pos: -98px -300px;
@icon-small-phone-pos: -149px -106px;
@icon-small-mobile-pos: -158px -18px;
@icon-small-fb-pos: -65px -130px;
@icon-small-skype-pos: -76px -130px;
@icon-small-twitter-pos: -97px -130px;
@icon-small-msn-pos: -122px -130px;
@icon-small-link-pos: -152px -130px;
@icon-small-blue-phone-pos: -98px -276px;
@icon-small-blue-mobile-pos: -122px -276px;
@icon-small-blue-fb-pos: -65px -151px;
@icon-small-blue-skype-pos: -76px -151px;
@icon-small-blue-twitter-pos: -97px -151px;
@icon-small-blue-msn-pos: -122px -151px;
@icon-small-blue-link-pos: -152px -151px;
@icon-qualification-blue-pos: -130px -228px;
@icon-qualification-white-pos: -110px -228px;
@icon-brand-blue-pos: 0 -175px;
@icon-brand-white-pos: 0 -193px;
@icon-position-blue-pos: -16px -175px;
@icon-position-white-pos: -16px -193px;
@icon-jobfunction-blue-pos: -135px -276px;
@icon-jobfunction-white-pos: -149px -276px;
@icon-skill-blue-pos: -34px -175px;
@icon-skill-white-pos: -34px -193px;
@icon-language-blue-pos: -48px -175px;
@icon-language-white-pos: -48px -193px;
@icon-sector-blue-pos: -63px -175px;
@icon-sector-white-pos: -63px -193px;
@icon-businessunit-blue-pos: -83px -175px;
@icon-businessunit-white-pos: -83px -193px;
@icon-department-blue-pos: -104px -175px;
@icon-department-white-pos: -104px -193px;
@icon-company-blue-pos: -124px -175px;
@icon-company-white-pos: -124px -193px;
@icon-new-message-pos: -48px -250px;
@icon-new-invite-pos: -73px -250px;
@icon-new-match-pos: -22px -251px;
@icon-new-review-pos: 0 -251px;
@icon-new-need-attention-message-pos: -73px -280px; // noicon
@icon-new-need-attention-invite-pos: -48px -273px; // noicon
@icon-new-need-attention-match-pos: -22px -277px; // noicon
@icon-new-need-attention-review-pos: 0 -280px; // noicon
@icon-lottery-watch-pos: -126px -246px;
@icon-lottery-points-pos: -98px -246px;
@icon-lottery-ticket-pos: -150px -246px;
@icon-lottery-ticket-white-pos: -150px -216px; // noicon
