.gradient (@top, @bottom) {
  background-color: mix(@bottom, @top);
  background-image: -webkit-linear-gradient(bottom, @bottom, @top);
  background-image: -moz-linear-gradient(bottom, @bottom, @top);
  background-image: -o-linear-gradient(bottom, @bottom, @top);
  background-image: -ms-linear-gradient(bottom, @bottom, @top);
  background-image: linear-gradient(bottom, @bottom, @top);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@top,@bottom));
}

.box-sizing (@type) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.inline-block() {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.transition-delay(@ms){
  -webkit-transition-delay: @ms;
  -moz-transition-delay: @ms;
  -ms-transition-delay: @ms;
  -o-transition-delay: @ms;
  transition-delay: @ms;
}

.transform (@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.opacity (@opacity) {
  @opacityPercentage: @opacity * 100;
  opacity: @opacity;
  -khtml-opacity: @opacity;
  -moz-opacity: @opacity;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opacityPercentage})";
  filter: ~"alpha(opacity=@{opacityPercentage})";
}

.clearfix() {
  *zoom: 1;
  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

.border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box-sizing(@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.premium-clearfix() {
  *zoom: 1;
  &:after,
  &:before {
    display: table;
    line-height: 0;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

.ico() { // usefull when you try to reuse font icons without using additional <i> tag
  font-family: 'profindaicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
