/***
VARIABLES NAME: sMargins
DESCRIPTION: Displays s and margins
***/

/* Margins */

@space_medium: 2em;
@space_large:  4em;
@space_xlarge: 6em;
@space_small:  1em;
@space_xsmall: 0.5em;
@no_spance:    0em;

