@media-xlarge-min: 1600px;
@media-xxlarge-min: 1900px;
@media-mmlarge-min: 1400px;
@media-mlarge-min: 1300px;
@media-large-min: 1200px;
@media-medium-min: 980px;
@media-medium-max: 979px;
@media-small-min: 768px;
@media-small-max: 767px;
@media-xsmall-min: 481px;
@media-xsmall-max: 480px;
@media-smallest: 319px; // less then iphone

@desktop-nav-at: 992px;

@radius: 2px;
@radius-small: 1px;

@site-margin: 20px;
@gutter: 9px;

@margin: 24px;
@padding: 24px;