<div class="container-fluid ">
	<div class="row groups-container">
	</div>
</div>
<div class="text-center">
	<span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %></span>
</div>
