<div class="container-fluid">
	<div class="row groups-container margin_top_small listGroupsAlign">
	</div>
</div>
<div class="text-center">
	<span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %></span>
</div>
