<h1>Welcome to Alumnet App</h1>
loading...
 <div id="main-region" class="container">

  <p>Here is static content in the web page. You'll notice that it gets
  replaced by our app as soon as we start it.</p>

 </div>
<script type="text/html" id="table">
  <table>
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Avatar</th>
         <th></th>
       </tr>
     </thead>
     <tbody></tbody>
  </table>
</script>

<script type="text/html" id="row-table">
  <td><%%= name %></td>
  <td><%%= avatar %></td>
  <td><button class="js-delete">Eliminar</button></td>
  <td><a href="#" class="js-show">Mostrar</a></td>
</script>

