<article class="container staticContentBox">
    <h1>Join our Management Team</h1>
    <article class="staticContentBox__content">
        <%= image_tag('static_pages/AIESEC_Alumni.jpg', class: "img-responsive staticContentBox__Img", alt: "About us" ) %>
        <p>
            <b>Come Join Our Team.</b> One of the highlights of your AIESEC Alumni International (AAI) Management Team experience will be your ability to have a personal impact on the organisation’s success. Working alongside many experienced, ambitious and vibrant professionals, you will see your strategic inputs shape the landscape of the AIESEC Alumni journey. And there’s no limit to what you can learn at AIESEC Alumni International (AAI). Our Executive Board and Directors make it a priority to help you contribute back to the wider Alumni community across the world.
        </p>
        <p> 
            Teamwork is key to our success and the support you receive from your team will enhance your AIESEC Alumni Journey. Personal impact, global professional network, and teamwork are just a few of the benefits of joining AIESEC Alumni International (AAI) Management Team.
        </p>
        <p>
            <b>Management Team at AAI.</b> The Management Team and volunteers work with the Executive Board to develop and deliver programs and run AAI’s operating infrastructure.  The following volunteer positions are immediately available:
            <ul>
                <li>Social Media – LinkedIn Group Manager & Social Media Manager</li>
                <li>A-Groups Program Leader</li>
                <li>Regional Development Directors – Middle East & Africa</li>
                <li>Director, AIESEC History Project</li>
            </ul>
        </p>
        <p>
            <b>Who We’re After.</b> In order to fully implement our Transformation Plan,the most critical ingredient that we still need is more volunteers to help us lead the effort.  We’re looking for experienced, skilled leaders with entrepreneurial talent, who are passionate about their lifelong connection with AIESEC and who are willing to help us turn our shared global vision into reality.  Specifically, we’re looking for people with the following attributes:
            <ul>
                <li>At least up to 5 years of professional experience, with demonstrated leadership skills;</li>
                <li>Results-driven, hands-on, self-starters with the ability to work with little supervision and meet deadlines;</li>
                <li>The ability to recruit, coordinate and manage teams;</li>
                <li>Excellent collaboration and communication skills;</li>
                <li>Strong project management abilities;</li>
                <li>Senior AIESEC leadership experience at the MC or AI level – ideal but not necessary;</li>
                <li>10-20 hours per month of available time to dedicate to the effort.</li>
            </ul>
        </p>
        <p>
            We are always keen to hear from talented and experienced alumni in any area, whether or not we have immediate vacancies.
        </p>
        <p>
            If you believe you have experience that would add value to the organisation and our Alumni community, please get in touch with our Recruitment Manager William Huang at <b>william.huang@aiesec-alumni.org</b>
        </p>
    </article>
</article>