<% content_for :title, "AlumNet - Donate to the AAI Seed Fund" %>
<article class="container staticContentBox">
	<h1>Donate to the AAI Seed Fund</h1>
	<article class="staticContentBox__content">
		<section>
			<%= image_tag('static_pages/ImgDonate.jpg', class: "img-responsive staticContentBox__Img", alt: "About us" ) %>
			<p class="staticContentBox__firstP">
				AAI is pleased to recognize the generous contributions received to the AAI Seed Fund in 2014 from a dedicated group of alumni, in support of the <a href="http://aiesec-alumni.org/wp-content/uploads/2014/08/StrategicPlanforAAI2014-2017.pdf">AAI Transformation Project</a>. These distinguished individuals have committed to investing in AAI’s vision of building our alumni association into an active global network, with hundreds of thousands of AIESECers working together to advance international understanding for a better world. Their financial support is critical to the execution of our strategic plan, and would be impossible without it. We salute and honor them for their contributions!
			</p>
		</section>
		<section>
			<h2>Donor Levels</h2>
			<section>
				<h3>Visionary Circle – €30,000 or above</h3>
				<ul>
					<li> Anonymous – USA</li>
				</ul>
			</section>
			<section>
				<h3>Leader’s Circle – €10,000</h3>
				<ul>
					<li>*David Epstein, USA</li>
					<li>*Frank Foti, USA</li>
					<li>Przemek Gacek, Poland</li>
					<li>*Rolando Gosiengfiao, Philippines</li>
					<li><a href="http://aiesec-alumni.org/donor-profile-haruo-j-kano/">*Haruo Kano, Mexico</a></li>
					<li>*Victor Loewenstein, UK</li>
					<li>*Dale Martin, Austria</li>
					<li>*Andrew Rowe, USA</li>
					<li><a href="http://aiesec-alumni.org/alumni-profile-olga-ryabova-and-mikhail-kiselev/">*Olga Ryabova & Mikhail Kiselev, Russia</a></li>
					<li>*Lionel Simons, USA & UK</li>
					<li>*Peter Y. B. Tay, Singapore</li>
					<li>*Anonymous, Mexico</li>
					<li>*10 for €10K Campaign Contributors</li>
				</ul>
			</section>
			<section>
				<h3>Entrepreneur’s Circle – €5,000</h3>
				<span>Your name could be here</span>
			</section>
			<section>
				<h3>Lifetime Members – €1,000</h3>
				<ul>
					<li>Cevc Balthasar, Germany</li>
					<li>Jos Behiels, Belgium</li>
					<li>Herbert Chau, Hong Kong</li>
					<li>David Epstein, USA</li>
					<li>Frederik Hawie, Peru</li>
					<li>Guillermo Herrera, Colombia</li>
					<li>Hiro Kinashi, Japan</li>
					<li>Tomasz Kliesiewicz, Poland</li>
					<li>Joseph Loughrey, USA</li>
					<li>Oumar Sylla, Senegal</li>
					<li>Victor Loewenstein, UK</li>
					<li>Sudeep Malhotra, India</li>
					<li>Ana María Mejía, Colombia</li>
					<li>Gavin Ng, Singapore</li>
					<li>Andrew Rowe, USA</li>
					<li>Lionel Simons, USA</li>			
				</ul>
			</section>
		</section>
		<section>
			<h2>Join The Cause!</h2>
			<p>
				Are you interested in investing along with these alumni in AAI’s global expansion? Our total fundraising campaign goal for the AAI Seed Fund is €300,000 by the end of 2015. Learn more about the AAI Seed Fund by <a href="http://aiesec-alumni.org/wp-content/uploads/2014/09/AAI-Seed-Fund-proposal-November-18-2013.pdf">Clicking Here</a>, contact us at <a href="mailto:#">aaiseedfund@aiesec-alumni.org</a> . Please contact us at finance@aiesec-alumni.org, if you are interested in a tax deductible transfer.
			</p>
			<p>
				Are you interested in volunteering to join the AAI Seed Fund Campaign Committee?  Do you know any alumni with fundraising expertise? Please contact us at <b>info@aiesec-alumni.org</b>.
			</p>
		</section>
	</article>
</article>