<% content_for :title, "AlumNet - Terms Of Use" %>
<article class="container staticContentBox">
	<h1>Privacy Policy </h1>
	<article class="staticContentBox__content">
		<h4>Page under development</h4>
	    <p>
	      This Page is still under development. If you want to learn more about this page, or if you have a question or comment about it, please join the AlumNet group
	    </p>
	    <button type="button" class="btn btn-primary">Join AlumNet Group</button>
	</article>
</article>