<% content_for :title, "AlumNet - Error" %>
<article class="donate">
	<div class="donate__error text-center">
		<div class="container">
		  <div class="row">
		  	<div class="col-md-10 col-md-offset-1 text-center">
		  		<%= image_tag('static_pages/aiesec-logo.png', alt: "AIESEC", height: "100") %>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-md-8 col-md-offset-2">
		    	<div class="text text-left">
		  			<span class="textLarge">Sorry!</span><br><br>
		  			<span class="textMedium">We can't seem to find the <br> page wou're looking for.</span><br><br>
		  			<span class="textSmall">Error name here</span><br><br>
		  			<span>Here are some helpfull links instead:</span>
	  				<ul>
	  					<!-- Aun no estan definidos los link -->
	  					<li><a href="#">Link 1</a></li>
	  					<li><a href="#">Link 2</a></li>
	  					<li><a href="#">Link 3</a></li>
	  				</ul>
		  		</div>
					<div>
						<%= image_tag('static_pages/error-image-donate.jpg', alt: "ERROR", height: "550", width: "800") %>
					</div>
				</div>
		  </div>
		</div>
	</div>
</article>