<% content_for :title, "AlumNet - Donate" %>
<article class="container-fluid publicProfile">
  <div class="row col-md-10 col-md-offset-1">
    <div class="col-md-3">
      Donaitons here
    </div>
  </div>
</article>