<script>
	$(document).ready(function() {
	   	$('.btnFacebook').click(function(){
			FB.ui({
			  method: 'share',
			  href: 'http://alumnet.aiesec-alumni.org/donations',
			}, function(response){});
		});
	});
</script>
<% content_for :title, "AlumNet - Thank you" %>
<div class="donate__steps padding_bottom_xlarge">
	<div class="container">
		<div class="row">
  		<div class="col-md-10 col-md-offset-1">

  			<ul class="nav nav-tabs">
				  <li><a data-toggle="tab" href="#">STEP 1: Donate</a></li>
				  <li><a data-toggle="tab" href="#">STEP 2: Pay</a></li>
				  <li class="active"><a data-toggle="tab" href="#">STEP 3: Share</a></li>
				</ul>

				<div class="tab-content">

					<!-- STEP 1 -->
				  <div id="step1" class="tab-pane fade ">
				    
				  </div>
				  <!-- END STEP 1 -->

				  <!-- STEP 2 PAYMENTWALL -->
					<div id="step2" class="tab-pane fade text-center step2"></div>
					<!-- END STEP 2 PAYMENTWALL -->

					<!-- STEP 3 -->
				  <div id="step3" class="tab-pane fade in active text-center">
						<h3>Thank you for your donation</h3>
						<div class="donations">
							<div class="donations__information">
								<div class="donations__information--shared">
						    		<div class="row">
							    		<div class="col-md-10 col-md-offset-1 margin_bottom_small">
							    			<span class="text pull-left">Any amount of money you can contribute to this fund is greatly appreciated. Help spread the word!</span>
							    		</div>
							    	</div>
							    	<div class="row">
							    		<div class="col-md-4">
							    			<button class="btn btn-primary btnFacebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share</button>
							    		</div>
							    		<div class="col-md-4">
							    			<button class="btn btn-primary btnTwitter"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
							    		</div>
							    		<div class="col-md-4 numberShared padding_top_small">
							    			<span><b>58K</b> total shares</span>
							    		</div>
							    	</div>
							    </div>
							</div>
						</div>
						<a href="/donations" class="back">Back to	Campaing</a>
					</div>
					<!-- END STEP 3 -->

				</div>
  		</div>
  	</div>
	</div>
</div>