<script>
	$(document).ready(function() {
	   	$('.fb-invite').click(function(){
			FB.ui({
			  method: 'share',
			  href: 'http://alumnet.aiesec-alumni.org/donations',
			}, function(response){
				$('html, body').animate({scrollTop: $('#challenge').offset().top}, "slow");
			});
		});
	});
	$(document).ready(function() {
	   	$('.fb-challenge').click(function(){
			FB.ui({
			  method: 'share',
			  href: 'http://alumnet.aiesec-alumni.org/donations/challenge',
			}, function(response){});
		});
	});
</script>
<% content_for :title, "AlumNet - Thank you" %>
<div class="donate__steps padding_bottom_xlarge">
	<div class="container">
		<div class="row">
  		<div class="col-md-10 col-md-offset-1">

  			<ul class="nav nav-tabs">
				  <li><a data-toggle="tab" href="#">STEP 1: Donate</a></li>
				  <li><a data-toggle="tab" href="#">STEP 2: Pay</a></li>
				  <li class="active"><a data-toggle="tab" href="#">STEP 3: Share</a></li>
				</ul>

				<div class="tab-content">

					<!-- STEP 1 -->
				  <div id="step1" class="tab-pane fade ">
				    
				  </div>
				  <!-- END STEP 1 -->

				  <!-- STEP 2 PAYMENTWALL -->
					<div id="step2" class="tab-pane fade text-center step2"></div>
					<!-- END STEP 2 PAYMENTWALL -->

					<!-- STEP 3 -->
				  <div id="step3" class="tab-pane fade in active">
				  		<div id="invite">
					  		<div class="text-center"><h3>CHALLENGE OTHERS!</h3></div>
							<div class="donations">
								<div class="donations__information">
									<div class="donations__information--shared">
								    	<div class="row">
								    		<div class="col-md-12 margin_bottom_small">
								    			<div class="col-md-4 text-center">
									    			<img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/share-alumni-pionner-challenge.png" class="image">
									    			<p>Press "CHALLENGE" and a Facebook window will pop up (you have to login if you are not logged in to Facebook already)</p>
								    			</div>
								    			<div class="col-md-4 text-center">
									    			<img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/tag-alumni-pionner-challenge.png" class="image">
									    			<p>Tag your AIESEC colleagues and write a message inviting them to join. (To tag use "@" then type their names).</p>
								    			</div>
								    			<div class="col-md-4 text-center">
									    			<img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/invite-alumni-pionner-challenge.png" class="image">
									    			<p>Challenge other teams, could be your LC, MC or AI team colleagues, or alumni friends you're in contact with from throughout your career. All of them are welcome to participate.</p>
								    			</div>
								    		</div>
								    	</div>
								    	<div class="row">
								    		<div class="col-md-6 col-md-offset-3">
								    			<button class="btn btn-primary btnFacebook fb-invite"><i class="fa fa-facebook-official" aria-hidden="true"></i> Challenge</button>
								    		</div>
								    		<!-- <div class="col-md-4">
								    			<button class="btn btn-primary btnTwitter"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
								    		</div>
								    		<div class="col-md-4 numberShared padding_top_small">
								    			<span><b>58K</b> total shares</span>
								    		</div> -->
								    	</div>
								    </div>
								</div>
							</div>
						</div>
						<div id="challenge">
					  		<div class="text-center"><h3>SPREAD THE WORD!</h3></div>
							<div class="donations">
								<div class="donations__information">
									<div class="donations__information--shared">
							    		<div class="row">
								    		<div class="col-md-10 col-md-offset-1 margin_bottom_small">
								    			<p>It takes tremendous global community support to fund a dream like this! Let your alumni friends know about this. Crowdfunding is about lots of people getting together to donate modest amounts of money. So, please, share this page on your social networks and via email.</p>
								    		<div class="text-center">
								    			<span class='st_twitter_large' displayText='Tweet' st_url='http://alumnet.aiesec-alumni.org/donations/challenge'></span>
												<span class='st_facebook_large' displayText='Facebook' st_url='http://alumnet.aiesec-alumni.org/donations/challenge'></span>
												<span class='st_googleplus_large' displayText='Google +' st_url='http://alumnet.aiesec-alumni.org/donations/challenge'></span>
												<span class='st_email_large' displayText='Email' st_url='http://alumnet.aiesec-alumni.org/donations/challenge'></span>
								    		</div>
								    		<!-- <div class="col-md-4">
								    			<button class="btn btn-primary btnTwitter"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
								    		</div>
								    		<div class="col-md-4 numberShared padding_top_small">
								    			<span><b>58K</b> total shares</span>
								    		</div> -->
								    	</div>
								    </div>
								</div>
							</div>
						</div>
						<div class="text-center"><a href="/donations" class="back">Back to Campaign</a></div>
					</div>
					<!-- END STEP 3 -->

				</div>
  		</div>
  	</div>
	</div>
</div>