@import 'conf/conf.css.less';

.library-edit {
  .file-name {
    font-weight: 500;
    margin-right: 4px;
  }
  .block-upload {
    background: @download-gray;
    border-radius: @radius;
    height: 40px;
    padding: 60px 0;
    text-align: center;
    margin-top: 25px;
  }
  .form-footer {
    margin: 0 0 40px 0;
    border: 0;
    background: @white;
    max-width: 100%;
    padding-top: 0;
  }
}
