<div id="" class="ng-scope">
  <div class="container-fluid">
    <form class="row formANet form ">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="textColor--blue ">Post a Job</h1>
        <!-- ROW 1 ON -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-feedback">
              <label class="control-label">Title of the job post</label>
              <input type="text" name="name"  id="task-name"  class="form-control input-lg">
              <span class="formANet__input__icon glyphicon glyphicon-user form-control-feedback"></span>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-feedback">
              <label class="control-label">Name of the Company</label>
              <input class="js-companies" type="hidden" name="company_id" id="task-company" style="width: 100%">
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback">
              <label class="control-label">Job Description (responsabilities)</label>
              <textarea name="description" id="task-description" class="form-control input-lg" rows="5" style="resize:none"></textarea>
              <span class="formANet__input__icon icon-entypo-dot-3 form-control-feedback"></span>
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <!-- ROW 1 OFF -->
        <hr>
        <!-- ROW 2 ON -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback">
              <label class="control-label">your offer, could be salary, perks, etc</label>
              <textarea name="offer" id="task-offer" class="form-control input-lg" rows="5" style="resize:none"></textarea>
              <span class="formANet__input__icon icon-entypo-dot-3 form-control-feedback"></span>
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <!-- ROW 2 OFF -->
        <hr>
        <!-- ROW 3 ON -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback">
              <label class="control-label">Skills required (Must have)</label>
              <input class="js-profinda-object" type="hidden" name="must_have_list" id="task-must-have" style="width: 100%">
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <!-- ROW 3 OFF -->
        <hr>
        <!-- ROW 4 ON -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback">
              <label class="control-label">Skills desired (Nice to have)</label>
              <input class="js-profinda-object" type="hidden" name="nice_have_list" id="task-nice-have" style="width: 100%">
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <!-- ROW 4 OFF -->
        <hr>
        <!-- ROW 5 ON -->
        <div class="row">
          <div class="col-md-4">
            <span class="fontSize--lg glyphicon glyphicon-map-marker textColor--gray "></span>
            <h2 class="textColor--black margin_top_xsmall ">Location (Optional)</h2>
          </div>
          <div class="col-md-4 margin_top_medium ">
            <div class="form-group">
              <label class="control-label">Country</label>
              <input class="js-countries" type="hidden" name="country_id" id="country_id" style="width: 100%">
              <span class="help-block"></span>
            </div>
          </div>
          <div class="col-md-4 margin_top_medium">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="js-cities" type="hidden" name="city_id" id="city_id" style="width: 100%">
              <span class="help-block"></span>
            </div>
          </div>
        </div>
        <!-- ROW 5 OFF -->
        <hr>
        <!-- ACTIONS ON -->
        <div class="text-right">
          <button class="btn btn-default btn-lg js-cancel">CANCEL</button>
          <button class="btn btn-primary btn-lg js-submit">SAVE & SEE MATCHES</button>
        </div>
        <!-- ACTIONS OFF -->
      </div>
    </form>
  </div>
</div>