<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag('premium/AAI.jpg', alt: "AAI MEMBERSHIP", width:"auto", height: "400px") %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 margin_bottom">
    <h3 class="text-center"><b>The AIESEC Alumni (AA) Member Advantage</b></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>
      If you're an alum who wants access to the full breadth and depth of possibilities within the global AIESEC Network, then AIESEC Alumni (AA) membership is for you. Only AA members may use exclusive features ofAlumNetthat have been carefully designed to serve the needs of AIESEC alumni who want more. Do you wish to reconnect with old AIESEC friends and make new ones? Do you want support from AIESEC Alumni around the world in the pursuit of your goals and dreams, both personal and professional? Or do you simply want to have more AIESEC adventures? You can have all these and much more when you join AA. 
    </p>

    <p>Find your dream job or build your dream team in <b>Global Job Market.</b></p>

    <p>Get advice and investors for your venture in <b>Global Business Exchange.</b></p>

    <p>Enjoy extraordinary vacations on every continent through <b>Home Exchange.</b></p>

  </div>
  <div class="col-md-6">
    <p>Enjoy discounts on <b>AA global and regional tours and events.</b></p>

    <p>Take the step to joining an official <b>A-Group</b>, or lead one yourself  </p>

    <p>Create a request for a <b>Meetup</b> to gather with other members anywhere on earth.</p>
    
    <p>
      As an alum, you know that that the global AIESEC community is like no other. Through AA Membership, you can engage in the unique connections and interactions that can help fulfill your potential as a leader,as a global citizen, and as a human being. Dive into a new and exciting global adventure that continues throughout your lifetime. From the comfort of anywhere you happen to be in the world.  
    </p>

    <p><i><b>Become an AIESEC Alumni Member today!</b></i></p>

  </div>
</div>
<div class="row margin_top margin_bottom">
  <div class="col-md-6 col-md-offset-3 text-center">
    <p>
      Membership supports the viability and continuity of this vision and <b>gets you access to <a href="#" id="js-modal">Members Only</a> special programs and features.</b>
    </p>
  </div>
</div>

<div class="row main-events-area">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%% for item in @items: %>
        <div class="col-md-6 text-center products">
          <div class="row">
            <div class="col-md-12 text-center products__memberships overfloadText">
                <span class="glyphicon glyphicon-certificate"></span><br>
                <%%= item.name %>
            </div>
          </div>
          <div class="row text-center margin_top_medium">
            <div class="col-md-12 products__memberships--price">
                <%%= Math.round(item.total_price) %> EUR     
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12 margin_top_small">
              <a class="btn btn-default-blue btn-lg js-item margin_bottom_xsmall" id="<%%= item.id %>">BUY MEMBERSHIP</a>
            </div>
          </div>
        </div>
      <%% end %>
    </div>
  </div>
  <hr>
</div>
<div id="container-modal-members"></div>
