<div class="container-fluid">
  <div id="companies-container" class="row company__containerMin">

  </div>
</div>

<div class="text-center">
  <span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
</div>



