<div class="text-center">
  <span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
</div>
<div class="container">
  <div class= "col-sm-12 col-xs-12 listGroupsTable">
    <table class="table companiesTable">
      <thead>
        <tr>
          <th></th>
          <th class="text-center">
            <span class="glyphicon glyphicon-envelope hidden-xs"> </span>
          </th>
          <th>

          </th>
          <th>
            <span class="ico-sector hidden-xs"></span>
          </th>
          <th>
            <span class="icon-entypo-suitcase hidden-xs"></span>
          </th>
          <th>
            <span class="ico ico-company hidden-xs"></span>
          </th>

        </tr>
      </thead>
      <tbody id="companies-container">

      </tbody>
    </table>
  </div>
</div>