<div class="container-fluid">
  <div class="tab-content no-padding">
    <div role="tabpanel" class="tab-pane active" id="table">
      <div class="row main-events-area"><!-- Begin group container -->
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="calendar">
      <div id="calendar" class="container">

        <!-- Events Calendar View -->
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
</div>