
.manage-group-box   {
    background: #ffffff;
    margin: 15px;
    width: 47% !important;
    text-align: left;
}
.manage-group-image-container
{
    width: 110px;
}
.manage-groups-small-search-box {
}



.invite-box-itself{
    background: #fff;


}

.invite-box {
    background: none repeat scroll 0 0 #fff;
    float: left;
    height: 100px;
    margin: 15px;
    width: 375px !important;
}
.invite-member-name {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 300;
}

.member-position {
    font-family: "roboto";
    font-size: 12px;
    font-weight: 300;
}

.select-invite {
    background: none repeat scroll 0 0 #8dcae6;
    color: #fff;
    height: 100px;
}
.blue-text{
 color: #2099d0;
}


.leave-group-button {
    height: 104px;
}
.join-group-button:hover {
    background:#107daf;
}
.leave-group-button:hover {
    background:#107daf;
}
.invite-member-button {
    border: medium none;
    height: 100px;
    width: 100% !important;
}
.invite-member-button:hover {
    background:#107daf;
}
.grey-bg.col-md-6.border-1-white {
    height: 37px;
}

.grey-bg.col-md-12.border-1-white {
    height: 45px;
}
.manage-group-name {
    font-family: "roboto";
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.manage-groups-small-info-boxes {
    height: 52px;
    background: none repeat scroll 0 0 #e1ecf1;
    border: 1px solid #fff;
    padding-left: 6px;
    padding-top: 11px;
}


.inline{
    display:inline!important;
}
.add-group {
    margin-top: 40px;
}
.groups-home {
    margin-top: 100px;
}
.add-members {
    margin-top: 40px;
}
.like-face-small {
    margin-left: -20px;
    padding-left: 5px;
    float:left;


}
.main-invite-boxes-area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.grid-wrapper {
    margin: 0 auto;
    width: 425px;   /* 1 column */
}
.group-dash-image.pad-0 {
    height: 100% !important;
    overflow: hidden !important;
}
.groups-big-search {
    border-color: #c6c6c6 -moz-use-text-color #c6c6c6 #c6c6c6 !important;
    border-left: 1px solid #c6c6c6 !important;
    border-style: solid none solid solid !important;
    border-width: 1px medium 1px 1px !important;
    color: #666;
    font-family: "Roboto";
    font-size: 100%;
    height: 70px !important;
    padding: 20px !important;
    width: 100% !important;
}
.groups-small-search {
    border-color: #c6c6c6 -moz-use-text-color #c6c6c6 #c6c6c6 !important;
    border-left: 1px solid #c6c6c6 !important;
    border-style: solid none solid solid !important;
    border-width: 1px medium 1px 1px !important;
    color: #666;
    font-family: "Roboto";
    font-size: 100%;
    height: 50px !important;
    padding: 5px !important;
    width: 100% !important;
}
.groups-search-button {
    border-left: medium none !important;
    border-radius: 0 !important;
    border-right: 1px solid #c6c6c6 !important;
    height: 70px;
}
.groups-search-small-button {
    border-left: medium none !important;
    border-radius: 0 !important;
    border-right: 1px solid #c6c6c6 !important;
    height: 50px;
}




.invite-member {
    color: #fff;
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}
.adv-search-link {
    text-decoration:none;
    color:#2099d0;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
.adv-search-link a:hover
{
    text-decoration:none;
    color:#2099d0;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
.search-icon-blue
{
    color:#000!important;
}


.groups-right-sort-menu .link {
    color: #677f8a;
    font-size: 100%;
}
.sub-groups-container {

    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: #485257;
    opacity: 0.9;
}
.sub-groups-container ul {
    color: #fff;
    font-family: "roboto";
    list-style: none outside none;
    padding-left: 0px;


}
.sub-groups-title {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;

}
.sub-groups-container ul li {
    border-bottom: 1px solid #aaa;
    height: 30px;
    padding-top: 5px;
}
.sub-groups-container ul li a {
    color: #c6c6c6;
    padding-left: 10px;
    font-size: 13px;
}
.sub-groups-container ul li a:hover {
    color: #fff!important;
}
.create-group {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
}
.timeline-main-settings {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 1000px;
}

.timeline-main-container{
    text-align: left;
}
.right-buttons-container{
    float: right;

    text-align: right;
}
.timeline-photos-main {
    margin-bottom: 50px;
    margin-top: 20px;
}
.timeline-photos-main {
    margin-top: 20px;
}

.timeline-main-photos {
   
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 1000px;
    text-align: left;

}
.timeline-photos-menu-container {



}
.timeline-photos-menu {
    display: inline;
    float: left;
    height: 40px;
    margin-top: 10px;
}

.timeline-photos-menu li {

    display: inline;
}

.timeline-photos-menu li a {
    color: #555;
    display: inline;
    font-family: "roboto";
    font-size: 23px;
    font-weight: 300;
    padding: 15px;
}
.timeline-photos-menu li a:hover {
    border-bottom: 3px solid #000;
}
.photo-box {
    float: left;
    margin: 10px;
    width: 300px;
      margin: 10px ;
}
.photo-box > a {
    color: #555;
}
.radios-ul {
    display: inline;
    list-style: none outside none;
}
.radios-ul li {

    display: inline;
    height: 70px;
    list-style: none outside none;
}
.radios-ul li a {
    display: inline;
    height: 70px;
    list-style: none outside none;
    padding: 27px;
}
.radios-ul li a:hover {
    display: inline;
    list-style: none outside none;
    height: 70px;

    border-bottom: 3px solid #2099d0;
}

.timeline-settings-official-group{

}



.timeline-main-posts{
    display: inline-block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left;
}
.timeline-main-about{
    display: inline-block;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left;
}
.add-cover-photo
{
    width:100%;
    height:280px;
    background: #2099d0;
    margin-top: 25px;
}
.cover-photo-link > img {
    width: 100% !important;
}
.timeline {
    text-align: center;
}
.new-post {
    background: none repeat scroll 0 0 #f4f4f4;
    height: auto;
    margin: 20px;
    padding: 20px;
    width: 522px;
}
.timeline-box {
    background: none repeat scroll 0 0 #f4f4f4;
    float: left;
    height: auto;
    margin: 10px;
    padding: 15px;
     width: 98%;
}
.timeline-half-box {
    background: none repeat scroll 0 0 #f4f4f4;
    height: auto;
    margin: 10px;
    padding: 15px;
   width: 512px;
    float:left;

}
.timeline-half-box h3 {
margin-top:0;
margin-bottom:5px;
}
.post{
 background: none repeat scroll 0 0 #f4f4f4;
 padding: 20px;
 margin: 20px;
 width: 522px;
 height: auto;
}

.text-small{
    font-size:11px;
}
.insert-group-name {
    height: 85px;
}
.insert-group-decription {
}
.create-group input
{
    height: 50px;
}

.create-group select
{
    height: 50px;
}
.add-group-buttons
{

}
.comment-button
{

}
.upload-photo-button
{
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #2d9ed2;
    border-radius: 0;
    color: #2d9ed2;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}
.upload-photo-button:hover {
    background:#2d9ed2;
    border: 2px solid #2d9ed2;
    border-radius: 0;
    color: #fff;
}
.create-album-button {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #2d9ed2;
    border-radius: 0;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2d9ed2;
    text-transform: uppercase;
}

.create-album-button:hover {
    background:#2d9ed2;
    border: 2px solid #2d9ed2;
    border-radius: 0;
    color: #fff;
}

.timeline-main-about h3 {
    font-size: 23px;
    font-weight: 400;
}


.add-members-top

{

}


