/***

COMPONENT NAME: Home_display_groups
DESCRIPTION: Displays a list of groups in the Groups homepage

***/


.main-groups-area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
}
.box {
    float: left;
    height: 245px;
    margin: 10px;
    width: 395px!important;
    text-align: left;

}
.well{
    float:left!important;
    background: none repeat scroll 0 0 #fff!important;
}
.well-box-text-right{
    height: 114px!important;
}

.groups-right-sort-menu {
    font-family: "roboto",sans-serif;
    font-size: 90%;
    margin-left: 0 !important;
    padding-left: 0;
    width: 250px !important;
    height: 27px!important;
    text-align: right!important;
}
.groups-right-sort-menu li:hover {
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}
.groups-right-sort-menu li a:hover {
    color: #333;
}
.groups-container {
    width: 98% !important;
}
.home-groups-small-info-boxes {
    height: 37px;
    background: none repeat scroll 0 0 #e1ecf1;
    border: 1px solid #fff;
    padding-left: 5px;
    padding-top: 5px;
}
.group-box-date
{
    color:#bbb;
    text-align: left;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
}
.group-box-last-post
{
    color:#bbb;
    font-size: 13px;
    text-align: left;
    font-family: "Roboto",sans-serif;
}
.group-box-members
{
    color:#bbb;
    font-size: 13px;
    text-align: left;
    font-family: "Roboto",sans-serif;
}

.group-box-members-friends {
    color: #bbb;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    text-align: left;
}
.group-box-join {
    color: #fff;
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}
.join-group-button {
    height: 37px;
}
.group-status-icon-public {
    background: url("../images/groups/public-group-ball.png") no-repeat scroll right center rgba(0, 0, 0, 0) !important;
    height: 25px;
    width: 25px;
    float:right;
}
.group-status-icon-closed {
    background: url("../images/groups/closed-group-ball.png") no-repeat scroll right center rgba(0, 0, 0, 0) !important;
    height: 25px;
    width: 25px;
}
.groups-name {
    font-family: "Roboto",sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-top: 0px;
    text-transform: none;
    float:left;
    max-width: 140px;
    overflow: hidden;
}
.groups_small_desc {
    font-size: 13px;
    font-family: "Roboto",sans-serif;
    float:left;
}

@media (min-width: 810px) {
    .grid-wrapper {width: 830px;} 

      /* 2 columns */
}
@media (min-width: 1280px) {
    .grid-wrapper {width: 1215px;} /* 3 columns */
    .box {margin: 5px!important;} 

}
@media (min-width: 1650px) {
    .grid-wrapper {width: 1620px;} /* 4 columns */
    .box {margin: 2px!important;} 

}