@import 'conf/conf.css.less';

.dashboard-comparision {
  position: relative;
  margin-bottom: 50px;
  .left {
    @media (min-width: 480px) {
      float: left;
    }
  }
  .right {
    @media (min-width: 480px) {
      float: right;
    }
    @media (min-width: 640px) {
      margin-right: 2%;
    }
    @media (min-width: 1300px) {
      margin-right: 8%;
    }
    @media (min-width: 1500px) {
      margin-right: 16%;
    }
  }

  .header {
    margin-bottom: 5px;
  }

  h2,
  .vs,
  .person {
    line-height: normal;
    vertical-align: text-bottom;
    .inline-block();
    margin-bottom: 0;
  }
  .vs {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
  }
  .comparision-options {
    list-style: none;
    margin: 0 0 20px 0;
    li {
      .inline-block();
    }
    .icon {
      width: 30px;
      .inline-block();
      text-align: center;
      color: @dim-gray;
      font-size: 1.4em;
      vertical-align: middle;
    }
    a {
      .inline-block();
      color: @mid-gray;
      padding: 10px 2px;
      min-width: 110px;
    }
    a:hover,
    li.active a {
      color: @black;
      .icon {
        color: @main-blue;
      }
    }

    @media (min-width: 480px){
      margin: 0;
      a {
        padding: 5px 10px 5px 0;
      }
      li {
        display: block;
      }
    }
    @media (min-width: 1200px){
      margin-left: 150px;
    }
  }

  .result {
    position: relative;
    margin-top: 0;
    margin-right: 20px;
    min-height: 370px;
    &.other-win {
      .desc i,
      .info {
        color: @dim-gray;
      }
    }
  }

  .desc i {
    color: @main-blue;
    font-size: 72px;
    top: -2px;
    position: relative;
  }

  .halos {
    margin: 0 auto;
    max-width: 200px;
    padding-right: 50px;
    position: relative;
    @media(min-width: 480px){
      position: static;
      padding: 0;
      max-width: 500px;
      margin: 0;
      float: left;
    }
  }

  .desc {
    min-width: 200px;
    max-width: 300px;
    color: @black;
    font-weight: 300;
    margin-left: 0px;
    margin-top: 10px;
    i {
      vertical-align: middle;
    }
    h3 {
      vertical-align: middle;
      font-size: 28px;
      margin: 0 0 10px 0;
      @media (min-width: 640px){
        font-size: 34px;
      }
    }
    .num {
      display: block;
      font-size: 60px;
      color: @main-blue;
      font-weight: 600;
      line-height: normal;
    }
    .part {
      line-height: 2em;
      margin-bottom: 24px;
    }
    @media (min-width: 480px){
      margin-top: 280px;
    }
    @media (min-width: 640px){
      margin-top: 450px;
    }
    @media (min-width: 950px){
      margin-top: 100px;
      margin-left: 420px;
    }
  }

  .halo-wrap { // .you and .other
    position: relative;
    .icon,
    .halo,
    img {
      position: absolute;
    }
    .icon,
    .halo {
      top: 0;
      left: 0;
      width:  100%;
      height: 100%;
    }
    .icon {
      line-height: 45px;
      font-size: 25px;
      text-align: center;
      border-radius: 50%;
      color: @white;
      background: @main-blue;
      @media(min-width: 640px){
        line-height: 85px;
        font-size: 55px;
      }
      &.winner {
        left: -30px;
      }
      i {
        top: 3px;
        position: relative;
      }
    }

    .data {
      color: @main-blue;
    }
    &.dim {
      .data {
        color: @dim-gray;
      }
      .icon {
        background: @dim-gray;
        &.winner {
          background: @main-blue;
        }
      }
    }
  }

  .you {
    top: 0;
    left: 0;
    width:  200px;
    height: 200px;
    margin-right: 50px;
    canvas {
      width:  200px;
      height: 200px;
    }
    img {
      top: (200px - 140px) / 2;
      left: (200px - 140px) / 2;
      width:  140px;
      height: 140;
      border-radius: 50%;
    }

    @media (min-width: 640px){
      width:  370px;
      height: 370px;
      canvas {
        width:  370px;
        height: 370px;
      }
      img {
        top: (370px - 260px) / 2;
        left: (370px - 260px) / 2;
        width:  260px;
        height: 260px;
      }
    }
  }

  .info {
    font-size: 16px;
    padding-top: 14px;
    text-align: center;
    line-height: normal;
    max-width: 200px;
    color: @main-blue;
    &.dim {
      color: @dim-gray;
    }
    strong {
      font-size: 28px;
      font-weight: 500;
      display: block;
    }
    @media (min-width: 640px){
      max-width:  370px;
    }
  }

  .other {
    position: absolute;
    top: 0;
    left: 195px;
    width: 45px;
    height: 45px;
    canvas {
      width: 65px;
      height: 65px;
    }
    img {
      top: (65px - 40px) / 2;
      left: (65px - 40px) / 2;
      width:  40px;
      height: 40px;
      border-radius: 50%;
    }
    .data {
      padding-top: 70px;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }
    @media (min-width: 640px){
      left: 335px;
      width: 85px;
      height: 85px;
      canvas {
        width: 85px;
        height: 85px;
      }
      img {
        top: (85px - 50px) / 2;
        left: (85px - 50px) / 2;
        width:  50px;
        height: 50px;
      }
      .data {
        text-align: left;
        padding-left: 95px;
        padding-top: 32px;
      }
    }
  }

  .select2-container .select2-choice > .select2-chosen {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
  }
}
