@import 'conf/conf.css.less';

.dashboard-tabs {
  float: right;
  min-height: 72px;
  vertical-align: bottom;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    .inline-block();
    vertical-align: bottom;
    margin: 4px 0 -10px 0;
  }
  a {
    .inline-block();
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: @gray;
    font-size: 42px;
    i {
      top: 10px;
      position: relative;
    }
  }
  a:hover,
  li.active a {
    color: @black;
  }
  li.active a {
    background: @white;
  }
}
