@import "conf/conf.css.less";

.viewers-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  .empty {
    line-height: 2.8em;
    a {
      margin: 0 5px;
    }
  }
  li {
    text-align: center;
    img {
      border-radius: 50%;
      margin-bottom: 10px;
      width: 100px;
      height: 100px;
    }
    .box {
      margin: 0;
      display: block;
      border-radius: @radius;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      &:hover {
        background: @main-blue;
        .visit-date,
        .viewer-name {
          color: @white;
        }
      }
    }
  }
}
