<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag('premium/AAI.jpg', alt: "AAI MEMBERSHIP", width:"auto", height: "400px") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center"><b>AAI MEMBERSHIP</b></h3><br>
  </div>
</div>

<div class="row">
  <div class="col-md-6 margin_bottom">

    <p>Following this spirit AAI has developed an ambitious vision and strategic plan for transforming itself into and active, global network. This plan will make it possible for as many as 1.000.000 alumni to connect and collaborate on programs that will provide lifelong value to alumni, support AIESEC and make a positive difference in the world.</p>

  </div>
  <div class="col-md-6 margin_bottom">

    <p>According to nowadays times and in oder to make it happen AAI has launched AlumNet platform with the hope to bring alumni around the world together into a single online community, where they will find aggregated value through business, career and life connections.</p>

  </div>
</div>

<div class="row margin_bottom">
  <div class="col-md-6 col-md-offset-3 text-center">
    <p>Membership will support viability and continuity of this dream and will <b>get you access to <a href="#" id="js-modal">"Only-Members"</a> special programs and features.</b></p>
  </div>
</div>
<hr>

<div class="row">
	<div class="col-md-12">
    <p class="text-center">In order to generate payment options accordingly with your place of residence, please complete the following information:
    </p><br>
  </div>
</div>

<div class="row main-events-area">
  <div class="row">
    <div class="col-md-12">
      <form class="row formANet form ">
        <%% for item in @items: %>
          <div class="col-md-3 text-center products">
            <div class="row">
              <div class="col-md-12 text-center products__memberships overfloadText">
                  <span class="glyphicon glyphicon-certificate"></span> <%%= item.quantity %> <span class="glyphicon glyphicon-certificate"></span><br>
                  <%%= item.name %>
              </div>
            </div>
            <div class="row text-center margin_top_medium">
              <div class="col-md-12 products__memberships--price">
                  <%%= item.price %> EUR     
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12 margin_top_small">
                <a class="btn btn-default-blue btn-lg js-item margin_bottom_xsmall" id="<%%= item.id %>">BUY MEMBERSHIP</a>
              </div>
            </div>
          </div>
        <%% end %>
      </form>
    </div>
  </div>
</div>
<div id="container-modal-members"></div>