@import 'conf/conf.css.less';

.huge-enumerable-wrap {
  counter-reset: huge-enumerable-counter;
}

.huge-enumerable {
  font-weight: 400;
  font-size: 48px;
  color: inherit;
  margin-bottom: 48px;
  &:before {
    content: counter(huge-enumerable-counter) '. ';
    counter-increment: huge-enumerable-counter;
  }
}

.task-edit {
  .chars-counter {
    text-align: right;
    margin-top: -0.5em;
  }

  label .btn {
    i {
      margin-right: 0;
    }
  }

  .field-wrap {
    .inline-block();
    position: relative;
    padding-top: 5px;
    input {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .fileinput-wrap {
    overflow: hidden;
    position: absolute;
    .opacity(0.01);
    clip: rect(0, 0, 0, 0);
  }
  .filename {
    padding-left: 0.7em;
  }
  .files-list {
    margin: 0;
    li {
      position: relative;
      span {
        display: block;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      display: block;
      background: @main-dark-blue;
      border: 0;
      padding: 5px;
      margin-bottom: 5px;
      border-radius: 3px;
      cursor: pointer;
      &:after {
        position: absolute;
        display: block;
        height: 16px;
        width: 32px;
        text-align: center;
        right: 0;
        top: 50%;
        margin-top: -10px;
        content:"\00d7";
        margin-left: 0.6em;
      }
    }
  }
  &.new .files-list li {
    background: @form-green-dark;
  }

}
.new-task-nice-to-have {
  .select2-choices {
    min-height: 120px;
  }
}
