<hr>

<a id="js-btnNewBanner" href="#" class="createBaner__btn createBaner__btnAdd" title="Add baner">
  Add new banner
</a>

<div id="js-newBanner" class="visibility">
  <h2>Add new banner</h2>

  <div class="form-group">
    <img id="preview-baner" class="createBaner__img" src="">
    <label class="createBaner__fileLabel">
      <span class="glyphicon glyphicon-open"></span>Upload image
      <input class="createBaner__file" type="file" id="BanerImg">
    </label>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
            <label class="createBaner__label" for="banerTitle">Baner's title:</label>
            <input type="text" class="form-control" id="banerTitle" placeholder="Enter the title">
          </div>
          <div class="form-group">
            <label class="createBaner__label" for="banerLink">Link:</label>
            <input type="text" class="form-control" id="banerLink" placeholder="Enter the link">
          </div>
     </form>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
            <label class="createBaner__label" for="banerContent">Content:</label>
           <textarea class="form-control" rows="5" for="banerContent" placeholder="Enter the content"></textarea>
          </div>
      </form>
    </div>
    <div>
      <a href="#" class="createBaner__btn createBaner__btnAdd" title="Add baner">create banner</a>
      <a id="js-cancelNewBanner" href="#" class="createBaner__btn createBaner__btnCancel" title="Add baner">Cancel</a>
    </div>
  </div>
</div>