<h2>Add new baner</h2>
<div class="row">
  <div class="col-md-7">
    <form>
      <div class="form-group">
          <label class="createBaner__label" for="banerTitle">Baner's title:</label>
          <input type="text" class="form-control" id="banerTitle" placeholder="Enter the title">
        </div>
        <div class="form-group">
          <label class="createBaner__label" for="banerLink">Link:</label>
          <input type="text" class="form-control" id="banerLink" placeholder="Enter the link">
        </div>
        <div class="form-group">
          <label class="createBaner__label" for="banerContent">Content:</label>
         <textarea class="form-control" rows="3" for="banerContent" placeholder="Enter the content"></textarea>
        </div>
   </form>
  </div>
  <div class="col-md-5">
    <form>
      <div class="form-group">
        <img id="preview-baner" class="createBaner__img" src="">
        <label class="createBaner__fileLabel">
          <span class="glyphicon glyphicon-open"></span>Upload picture
          <input class="createBaner__file" type="file" id="BanerImg">
        </label>
        </div>
    </form>
       <a href="#" class="createBaner__btn createBaner__btnAdd" title="Add baner">Add</a>
  </div>
</div>