@import 'conf/conf.css.less';

@font-face {
  font-family: 'profindaicons';
  src: font-url('profindaicons.eot?loatv0');
  src: font-url('profindaicons.eot?#iefixloatv0') format('embedded-opentype'),
  font-url('profindaicons.woff?loatv0') format('woff'),
  font-url('profindaicons.ttf?loatv0') format('truetype'),
  font-url('profindaicons.svg?loatv0#profindaicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  .ico();
}

.ico-views:before {
  content: "\e600";
}
.ico-user:before {
  content: "\e601";
}
.ico-trophy:before {
  content: "\e602";
}
.ico-timebank:before {
  content: "\e603";
}
.ico-task:before {
  content: "\e604";
}
.ico-skill:before {
  content: "\e605";
}
.ico-select:before {
  content: "\e606";
}
.ico-sector:before {
  content: "\e607";
}
.ico-search:before {
  content: "\e608";
}
.ico-rating:before {
  content: "\e609";
}
.ico-qualification:before {
  content: "\e60a";
}
.ico-position:before {
  content: "\e60b";
}
.ico-points:before {
  content: "\e60c";
}
.ico-pie:before {
  content: "\e60d";
}
.ico-phone:before {
  content: "\e60e";
}
.ico-new-match:before,
.ico-match:before {
  content: "\e60f";
}
.ico-lottery:before {
  content: "\e610";
}
.ico-location:before {
  content: "\e611";
}
.ico-lib:before {
  content: "\e612";
}
.ico-jobfunction:before {
  content: "\e613";
}
.ico-graph:before {
  content: "\e614";
}
.ico-language:before,
.ico-globe:before {
  content: "\e615";
}
.ico-give-help:before {
  content: "\e616";
}
.ico-get-help:before {
  content: "\e617";
}
.ico-edit:before {
  content: "\e618";
}
.ico-download:before {
  content: "\e619";
}
.ico-department:before {
  content: "\e61a";
}
.ico-dashboard:before {
  content: "\e61b";
}
.ico-company:before {
  content: "\e61c";
}
.ico-circle-user:before {
  content: "\e61d";
}
.ico-circle-twitter:before {
  content: "\e61e";
}
.ico-circle-thumbsup:before {
  content: "\e61f";
}
.ico-circle-thumbsdown:before {
  content: "\e620";
}
.ico-circle-page:before {
  content: "\e621";
}
.ico-circle-linkedin:before {
  content: "\e622";
}
.ico-circle-facebook:before {
  content: "\e623";
}
.ico-circle-chat:before {
  content: "\e624";
}
.ico-chat:before {
  content: "\e625";
}
.ico-calendar:before {
  content: "\e626";
}
.ico-businessunit:before {
  content: "\e627";
}
.ico-brand:before {
  content: "\e628";
}
.ico-quote:before {
  content: "\e629";
}
.ico-star:before {
  content: "\e62a";
}
.ico-star-half:before {
  content: "\e62b";
}
.ico-attachment:before {
  content: "\e62c";
}
.ico-mobile:before {
  content: "\e62d";
}
.ico-facebook:before {
  content: "\e62e";
}
.ico-skype:before {
  content: "\e62f";
}
.ico-twitter:before {
  content: "\e630";
}
.ico-website:before {
  content: "\e631";
}
.ico-email:before {
  content: "\e632";
}
.ico-msn:before {
  content: "\e633";
}
.ico-lottery-ticket:before {
  content: "\e634";
}
.ico-watch:before {
  content: "\e635";
}
.ico-out:before {
  content: "\e636";
}
.ico-project:before {
  content: "\e637";
}
.ico-menu:before {
  content: "\e638";
}
.ico-circle-ok:before {
  content: "\e639";
}
.ico-circle-share:before {
  content: "\e63a";
}
.ico-circle-set-default:before {
  content: "\e63b";
}
.ico-circle-add:before {
  content: "\e63c";
}
.ico-circle-remove:before {
  content: "\e63d";
}
.ico-new-message:before {
  content: "\e63e";
}
.ico-new-review:before {
  content: "\e63f";
}
.ico-new-invite:before {
  content: "\e640";
}
.ico-avatar:before {
  content: "\e641";
}
.ico-tick:before {
  content: "\e642";
}
.ico-cog:before {
  content: "\e643";
}
.ico-statistics:before {
  content: "\e644";
}
.ico-manage-users:before {
  content: "\e645";
}
.ico-yes:before {
  content: "\e646";
}
.ico-no:before {
  content: "\e647";
}
.ico-triangle-down:before {
  content: "\e648";
}
