<div class="clearfix "></div>
<div id="groups_container" class="row main-groups-area"><!-- Begin group container -->
</div>
<div class="text-center">
	<span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %> Loading...</span>
</div>
