<div class="col-md-12">
	<div class="pull-right">
		<a class="searchBar__renderOptions__icon searchBar__ViewCard js-viewCard" title="View results in cards">
			<span class="glyphicon glyphicon-th-large iconTypeGroup"></span>
		</a>
		<a class="searchBar__renderOptions__icon searchBar__ViewList js-viewList" title="View results in list">
			<span class="glyphicon glyphicon-align-justify iconTypeGroup"></span>
		</a>
	</div>
</div>
<div class="clearfix "></div>
<div id="groups_container" class="row main-groups-area groupTableView__marginText"><!-- Begin group container -->
</div>
<div class="text-center">
	<span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %></span>
</div>
