<div class="col-md-12">
	<div class="pull-right">
		<a class="searchBar__renderOptions__icon searchBar__ViewCard js-viewCard" title="View results in cards">
			<span class="glyphicon glyphicon-th-large iconTypeGroup"></span>
		</a>
		<a class="searchBar__renderOptions__icon searchBar__ViewList js-viewList" title="View results in list">
			<span class="glyphicon glyphicon-align-justify iconTypeGroup"></span>
		</a>
	</div>
</div>
<div class="container">
	<!-- Table view of the groups -->
	<div class="row">
	 	<div class= "col-sm-12 col-xs-12 listGroupsTable">
			<table id="users-table" class="table groupTableView">
				<thead class="hidden-xs">
				<tr>

					<th></th>
					<th></th>
					<th>
					<span class="glyphicon glyphicon-time"> </span>
					</th>
					<th>
					<span class="glyphicon glyphicon-file"></span>
					</th>

					<th>
					<span class="ico-company"></span>
					</th>
					<th class="hidden-md">
					<span class="glyphicon glyphicon-user"></span>
					<span class="glyphicon glyphicon-ok"></span>
					</th>
					<th> </th>

				</tr>
				</thead>
				<tbody class="main-groups-area ">

				</tbody>
			</table>
		</div>
	</div>

</div>
<div class="text-center">
	<span class="throbber-loader"><%= image_tag('vendors/select2-spinner.gif') %></span>
</div>