@import 'conf/conf.css.less';

.badge {
  background: @main-blue;
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: @white;
  white-space: nowrap;
  vertical-align: baseline;
  &.dimmmed {
    background: @gray;
  }
  &.big {
    padding: 6px 12px;
  }
  &.middle {
    vertical-align: middle;
  }
}