@import 'conf/conf.css.less';

.box {
  background: @white;
  min-height: 20px;
  padding: 20px;
  margin-bottom: 21px;
  position: relative;
  &.narrow {
    max-width: 400px;
    margin: 0 auto;
  }
  &.no-padding {
    padding: 0;
  }
  &.fit {
    padding: 0;
    margin: 0;
  }
  @media (max-width: @media-small-max){
    &.phone-max-450 {
      max-width: 450px;
      padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.with-icon {
    padding: 0 0 0 60px;
    .side-icon-wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: @main-blue;
      min-width: 60px;
      line-height: 46px;
      text-align: center;
    }
    .value {
      display: block;
      padding: 20px;
    }
  }

  &.with-info {
    padding-right: 120px;
    padding-left: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 19px;
    font-size: 14px;
    color: lighten(@main-text, 7%);
    margin-bottom: 2px;
    font-weight: 300;
    .info-wrap {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: @main-dark-bg;
      padding-right: 10px;
      min-width: 100px;
    }
    .side-icon-wrap {
      position: absolute;
      bottom: 7px;
      left: 7px;
    }
    strong {
      display: block;
      margin-top: 9px;
      font-size: 26px;
      font-weight: 300;
    }
    small {
      color: @main-light-text;
      font-size: 13px;
      display: block;
    }
    a {
      font-size: 12px;
    }
  }
  &.blue {
    font-size: 1.1em;
    background: @main-blue;
    &, h1, h2 {
      color: @white;
    }
    a {
      color: @yellow;
      font-weight: 500;
    }
  }
}

.stat {
  margin-bottom: 22px;
  border: 1px solid @light-gray;
  position: relative;
  border-radius: 4px;
  padding: 20px 1%;
  .corner {
    position: absolute;
    top: -12px;
    right: -12px;
  }
  .corner-top {
    position: absolute;
    top: -24px;
    right: -12px;
  }
  .val {
    font-weight: 500;
    font-size: 44px;
    line-height: 55px;
    display: block;
    @media (min-width: @media-small-min) and (max-width: @media-medium-max) {
      font-size: 40px;
    }
  }
  .explain {
    min-height: 30px;
    color: @mid-gray;
    display: block;
  }
  .change {
    color: @dim-gray;
    font-weight: 500;
    &.more {
      color: @green;
    }
    &.less {
      color: @error-color;
    }
    small {
      font-weight: normal;
    }
  }
  .no-data {
    color:  @dim-gray;
    margin: 0 3%;
    i {
      margin-right: 12px;
    }
  }
  .more {
    min-width: 50px;
    text-align: center;
    &:focus {
      outline: 0;
    }
  }

  @media (max-width: @media-xsmall-max) {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
  }
}

.premium-box-blue,
.premium-box {
  position: relative;
  .border-box();
  padding: 20px;
  background: @white;
  border-radius: @radius;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border: 1px solid darken(@white, 20%);
  color: @black;
  h2 {
    color: inherit;
  }
}

.white-section .premium-box,
.premium-box-blue {
  border: none;
  box-shadow: none;
  background: @main-blue;
  color: @white;
}
