@import 'conf/conf.css.less';

.loading {
  padding: 50px 0;
  text-align: center;
  color: @main-light-text;
  background: transparent image-url('loader.gif') 50% 50% no-repeat;
  &.inline {
    .inline-block();
    padding: 0;
    height: 32px;
    width: 32px;
  }
  &.loading-tight {
    width: 100%;
    padding: 0;
    height: 27px;
    &:after {
      content:"\00a0"; // &nbsp;
    }
  }
  &.in-list {
    padding: 0;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -16px;
    @media (max-width: @media-small-max){
      margin-top: 5px;
      top: 0;
    }
  }
  &.blue-bg {
    background-image: image-url('loader_blue_bg.gif');
  }
}

.loading-over {  // should have position: (relative|absolute)
  .opacity(0.8);
  &:after {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    display: block;
    content: ' ';
    background: image-url('loader.gif') no-repeat;
  }
  &.loading-cover {
    &:after {
      z-index: 2;
    }
    &:before {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255,255,255,0.2);
      background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'); // ie hack
      z-index: 1;
    }
  }
}

.loading-big {
  text-align: center;
  padding: 120px 50px 50px 50px;
  img {
    max-width: 80%;
  }
  .loading-text {
    display: block;
    margin-bottom: 20px;
    font-size: 2em;
    color: @gray;
    @media(max-width: 767px){
      font-size: 1.5em;
    }
  }
  .old-ie-support {
    display: none;
  }
}
