@import 'conf/conf.css.less';

.rating-small {
  // just put .picon-star-small-(gray|blue) inside 3 times
  letter-spacing: -2px;
  white-space: nowrap;

  .ico-star {
    color: @main-blue;
    position: relative;
    font-size: 1.2em;
    &.empty {
      color: @gray;
    }
    &.half {
      zoom: 1;
      .inline-block();
      &:after {
        color: @gray;
        content: "\e62b";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.rate-widget {
  width: 33px * 3;
  i {
    font-size: 32px;
    color: @gray;
    margin: 0;
    cursor: pointer;
    float: left;
    outline: 0;
    &.active {
      color: @main-blue;
    }
  }
  .rate-message {
    font-size: 0.9em;
    color: @dim-gray;
    text-transform: lowercase;
  }
}
