@import 'conf/conf.css.less';

.spinner-wrap {
  position: relative;
  .inline-block();
  height: 48px;
  width: 50px + 16px + 50px + 50px;
  input {
    border-radius: 0;
    text-align: center;
    width: 66px;
    height: 34px;
    padding: 8px 0;
    font-size: 18px;
    z-index: 1;
    border-width: 0;
    left: 50px;
  }

  input:focus {
    z-index: 5;
    outline: 0;
  }

  a,
  button {
    position: absolute;
    top: 0;
  }
  a {
    width: 50px;
    height: 50px;
    border-width: 0;
    font-size: 20px;
    line-height: 50px;
    padding: 0;
    z-index: 2;
    color: @white;
    background: @main-blue;
  }
  a:hover {
    background: darken(@main-blue, 5%);
  }
  a:active {
    border-color: @main-blue;
  }
  .more {
    right: 0;
  }
  .less {
    left: 0;
  }
  .desc {
    position: absolute;
    width: 50px + 16px;
    top: 30px;
    left: 50%;
    margin-left: -(50px + 16px)/2;
    text-align: center;
    color: @dim-gray;
    z-index: 3;
  }
}