@import 'conf/conf.css.less';

.verbose-result {
  display: inline;
  .badge {
    float: right;
    font-size:  1.1em;
    line-height: 1.2em;
    margin-top: 10px;
  }
  p,
  small {
    color: @dim-gray;
  }
  p {
    margin-right: 30px
  }
  strong {
    font-weight: 500;
  }
  i {
    font-size: 16px;
    color: @main-blue;
  }
}

.select2-highlighted .verbose-result {
  p,
  i,
  small {
    color: @white;
  }

  .badge {
    background: @white;
    color: @main-blue;
  }
}
