@import 'conf/conf.css.less';

.more-info {
  padding-top: 6px;
  padding-bottom: 12px;
}

.more-info-tooltip {
  position: relative;
  text-align: left;
  white-space: normal;
  font-weight: 300;
  font-size:  14px;
  color: tint(@main-dark-blue, 10%);
  background: @main-light-blue;
  padding: 10px;
  max-width: 445px;
  width: 90%;
  margin-right: 4px;
  &:after {
    display: block;
    content: ' ';
    position: absolute;
    border: 13px solid transparent;
    border: 13px solid rgba(255,255,255,0);
    border-bottom-color: @main-light-blue;
    top: -24px;
    left: 10px;
  }
  &.lower {
   margin-top: -5px;
  }
  &.in-list {
    margin-top: 0;
    max-width: 100%;
  }
  &.arrow-bottom {
    &:after {
      top: auto;
      bottom: -22px;
      border: 12px solid transparent;
      border: 12px solid rgba(255,255,255,0);
      border-top-color: @main-light-blue;
    }

  }
  &.margin-auto {
    margin-left: auto;
    margin-right: auto;
  }
  &.no-content {
    margin-left:auto;
    margin-top: 25px;
    margin-bottom: 55px;
    &:after {
      left: auto;
      right: 10px;
    }
    &:before {
      left: auto;
      right: 8px;
    }

  }

  .separated-list li {
    border-top-width: 0;
  }
}