$bg: #F5F5F5;
$header-bg: #484848;
$blue: #009cff;
$white: #fff;
$text-color: #444;

.mail-all {
  font-family: helvetica, arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: $bg;
}

.mail-body {
  font-size: 14px;
  color: $text-color;
}

.mail-header-wrap {
  background: $header-bg;
  border-bottom: 24px solid $blue;
}

.mail-header {
  max-width: 630px;
}

.mail-header-inner {
  padding: 12px 0 12px 0;
}

.mail-content {
  width: 600px;
  background: $white;
}

.mail-content-inner {
  padding: 10px 10px 10px 20px;
}

h1 {
  font-size: 24px;
  font-weight: lighter;
  color: #000;
  padding-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 8px;
}

p {
  line-height: 1.5em;
}

a {
  color: $blue;
  text-decoration: none;
}

.hint {
  color: #9e9e9e;
}

.magic-line-marker {
  color: #666;
  font-size: 14px;
}

.mail-sep {
  height: 40px;
}

.small-footer {
  @extend .hint;
  clear: both;
  font-size: 0.8em;
  text-align: center;
  height: 65px;
  vertical-align: middle;
}

.mail-label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: $blue;
  color: $white;
  padding: 1px 6px;
  margin: 0 2px;
}

.mail-img {
  padding-top: 10px;
  padding-right: 10px;
}