@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-regular.eot');
  src: font-url('roboto-regular.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-regular.woff') format('woff'),
  font-url('roboto-regular.ttf') format('truetype'),
  font-url('roboto-regular.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-italic.eot');
  src: font-url('roboto-italic.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-italic.woff') format('woff'),
  font-url('roboto-italic.ttf') format('truetype'),
  font-url('roboto-italic.svg#robotoitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-light.eot');
  src: font-url('roboto-light.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-light.woff') format('woff'),
  font-url('roboto-light.ttf') format('truetype'),
  font-url('roboto-light.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-medium.eot');
  src: font-url('roboto-medium.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-medium.woff') format('woff'),
  font-url('roboto-medium.ttf') format('truetype'),
  font-url('roboto-medium.svg#robotomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-bold.eot');
  src: font-url('roboto-bold.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-bold.woff') format('woff'),
  font-url('roboto-bold.ttf') format('truetype'),
  font-url('roboto-bold.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
