.block {
  display: block;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.display-none {
  display: none;
}

.display-table {
  display: table;
  width: 100%;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-top {
  vertical-align: top;
}

.full-wrap {
  margin-left: 5%;
  margin-right: 5%;
}

.full-width {
  width:  100%;
}

.nowrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

@media (max-width: @media-small-max) {
  .responsive-margin {
    margin-left: 5%;
    margin-right: 5%;
  }
  .responsive-fixed-margin { // use with headers before .box
    margin-left: 20px;
    margin-right: 20px;
  }

  .responsive-center {
    text-align: center;
  }
  .collapsed-hide {
    display: none !important;
  }
  .responsive-padding-bottom {
    padding-bottom: @padding;
  }
}

.tight-form-bottom .form-footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-margin {
  margin: 0 !important;
}

.margin {
  margin: @margin;
}
.margin-small {
  margin: @margin / 2;
}

.margin-top {
  margin-top: @margin;
}
.margin-bottom {
  margin-bottom: @margin;
}
.margin-bottom-big {
  margin-bottom: @margin * 2;
}
.margin-left {
  margin-left: @margin;
}
.margin-right {
  margin-right: @margin;
}
.margin-top-small {
  margin-top: @margin / 2;
}
.margin-bottom-small {
  margin-bottom: @margin / 2;
}
.margin-bottom-tiny {
  margin-bottom: @margin / 4;
}
.margin-left-small {
  margin-left: @margin / 2;
}
.margin-right-small {
  margin-right: @margin / 2;
}
.margin-top-quad {
  margin-top: @margin / 4;
}
.margin-left-quad {
  margin-left: @margin / 4;
}


.padding {
  padding: @padding;
}
.padding-small {
  padding: @padding/2;
}
.padding-top {
  padding-top: @padding;
}
.padding-bottom {
  padding-bottom: @padding;
}
.padding-left {
  padding-left: @padding;
}
.padding-right {
  padding-right: @padding;
}
.padding-top-small {
  padding-top: @padding / 2;
}
.padding-bottom-small {
  padding-bottom: @padding / 2;
}
.padding-left-small {
  padding-left: @padding / 2;
}
.padding-right-small {
  padding-right: @padding / 2;
}

.header-actions {
  padding: 0 0 5px 5px;
  float: right;
  font-weight: 300;
  a {
    margin-left: 6px;
  }
  .main {
    margin-left: 10px;
  }
  .secondary {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.border-box-textarea,
.form-horizontal input.border-box-input,
input.border-box-input {
  max-width: none;
  width: 100%;
  .box-sizing(border-box);
  height: 34px;
  padding-bottom: 0;
  padding-top: 0;
}

.tldr {
  background: @white;
  line-height: 1.7em;
  margin-top: 10px;
  height: 300px;
  overflow: auto;
  border: 1px solid @gray;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
  @media (max-width: @media-xsmall-max){
    height: 200px;
    font-size: 13px;
  }
}

.text-blue {
  color: @main-blue;
}

.blue-bg {
  background: @main-blue;
  border: 2px solid @main-blue;
  vertical-align: middle;
}
.more-info {
  .blue-bg {
    margin-top: -3px;
  }
}


.scrollbars {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: @main-blue;
    border: 3px solid @white;
    border-radius: 6px;
  }

  &.dark {
    &::-webkit-scrollbar-thumb {
      background: @white;
      border: 3px solid @main-dark;
    }
  }
}

.scrollbars-main-bg {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: @main-blue;
    border: 3px solid @main-bg;
    border-top-width: 0;
    border-bottom-width: 8px;
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile-center {
  text-align: center;
  @media (min-width: 640px){
    text-align: inherit;
  }
}

.premium-clearfix {
  .premium-clearfix();
}

.border-box {
  .border-box();
}
