/***
DESCRIPTION: I (Juan) created this temporary file to keep the styles written by João while we organise the naming conventions with Profinda's team.

TABLE OF CONTENTS

GENERAL STYLE - Body, typography 
MISCELLANEOUS  - Margins, Paddings and common use classes

***/


// GENERAL STYLE ON
body {
    background: none repeat scroll 0 0 #e6e6e8;
    color: #818181;
    font-family: Roboto,sans-serif;
}
#wrapper {
    display: inline-block;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: none repeat scroll 0 0 #e6e6e8;
}
#main-region{
    height: 100%;
    padding: 0;
    background-color: #e6e6e8;
    margin: 90px 0 100px;
}
hr{
        border-color: #ccc;
}

// Variables 
@gray: #333;