/***
DESCRIPTION: I (Juan) created this temporary file to keep the styles written by João while we organise the naming conventions with Profinda's team.

TABLE OF CONTENTS

GENERAL STYLE - Body, typography 
MISCELLANEOUS  - Margins, Paddings and common use classes

***/


// GENERAL STYLE ON
body {
    background: none repeat scroll 0 0 #e6e6e8!important;
    color: #818181;
    font-family: 'Roboto'
}
hr {
    border-color: rgba(220, 220, 220, 0.2);
}
.tooltip{
position:relative!important;
}

.overlay-subgroups{
display:none;
}

.center-text{
text-align: center;
}

​div.group-dash-image:hover div.overlay
{
 display:block!important;   
}​



a, a.list-group-item {
    color: #2a76db;
}
a:visited {
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: none!important;
    cursor:pointer;
}
h2 {
    text-transform: uppercase;
}
h3 {
    font-size: 12pt;
    font-weight: 800;
    letter-spacing: 1.4px;

}
h4 {
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.label, .badge {
    font-family: 'Roboto';
}
.text-primary {
    color: #3b87ec;
}
.text-info {
    color: #67c7f8;
}
.text-warning {
    color: #f8d145;
}
.text-danger {
    color: #ff4f3d;
}
.text-success {
    color: #6dc96d;
}
.text-muted {
    color: rgba(110, 110, 110, 0.6);
}

#wrapper {
    display: inline-block;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: none repeat scroll 0 0 #e6e6e8;
}
#main-wrapper {
    height: 100%;
  margin: 121px auto 0;

    padding: 0;
    background: none repeat scroll 0 0 #e6e6e8;
}
footer {
    height: 50px;
    margin-top: 30px;
}
a {
    outline: 0 none;
}
a:hover, a:focus {
    text-decoration: none;
}
textarea {
    resize: none;
}
input.form-control:focus {
    box-shadow: none;
    transition: none 0s ease 0s ;
}
.pad-15 {
    padding: 15px;
}
.pad-30 {
    padding: 30px;
}
.pad-5 {
    padding: 5px !important;
}
.pad-5 {
    padding: 5px !important;
}
.pad-2 {
    padding: 2px !important;
}
.pad-10 {
    padding: 10px !important;
}
.pad-0 {
    padding: 0 !important;
}
.pad-left-0 {
    padding-left: 0;
}
.pad-right-0 {
    padding-right: 0;
}
.pad-left-5 {
    padding-left: 5px;
}
.pad-top-10 {
    padding-top: 10px;
}
.pad-top-15 {
    padding-top: 15px;
}
.pad-bottom-15 {
    padding-bottom: 15px;
}
.pad-right-5 {
    padding-right: 5px;
}
.pad-left-15 {
    padding-left: 15px;
}
.pad-right-15 {
    padding-left: 15px;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-1 {
    margin: 1px !important;
}
.margin-3
{
    margin: 3px !important;
}
.margin-5
{
    margin: 5px !important;
}
.no-margin {
    margin: 0 !important;
}
.border-1-white
{
    border:1px solid #fff;
}
.border-bottom-1-grey
{
    border-bottom:1px solid #c8c8c8;
}
.overhidden{
    overflow:hidden!important;
}
.alert-inverse {
    background-color: #2a2a2a;
    border-color: #333;
    color: #eee;
    min-width: 250px;
    opacity: 0.9;
}
.badge-error, .badge-danger {
    background-color: #b94a48;
}
.badge-error:hover, .badge-danger:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #444444;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}
.menu-icon {
    text-align: center;
    width: 20px;
}
.push-right {
    float:right!important;
}
.push-left {
    float:left!important;
}


.grey-bg{
    background: #e1ecf1;
}
.light-blue-bg{
    background: #8fcce7;
}
.blue-huge-title {
    color: #2099d0;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size:350%;
}
.black-big-title {
    font-family: "Roboto";
    font-size: 210%;
    font-weight: 300;
    margin-top: 60px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
}
.black
{
    color:#000!important;
}

// REWRITING JOAO - By Juan
 
#main-wrapper{
    margin: 170px 0 0;
}


// Variables 
@gray: #333;