<header id="header" class="navTopBar navbar  navbar-fixed-top">
  <div class="navTopBarAdmin__container container-fluid">  <!-- Top Bar -->
  
  <div class="navbar-header col-md-2">
    <button class="navTopBarAdmin__mobileToggleBtn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="ico-menu"></span>
    </button>
    <a class="navTopBarAdmin__left__brand navbar-brand " href="/">
      <%= image_tag("general/alumnet_logo.png", alt: "AlumNet") %>
    </a>
  </div>
  <nav class="navTopBarAdmin__left collapse navbar-collapse ">
    <ul class="navTopBarAdmin__left__list nav navbar-nav js-left-menu ">
      <!-- Left Menu top -->
      <li>
        <a class="navTopBarAdmin__left__item" href="#admin/users">
          <i class="icon-entypo-user"></i>
          Users
        </a>
      </li>
      <li>
        <a class="navTopBarAdmin__left__item" href="#admin/groups">
          <i class="icon-entypo-share"></i>
          Groups
        </a>
      </li>
      <%% if @isAlumnetAdmin: %>
        <li>
          <a class="navTopBarAdmin__left__item" href="#admin/regions">
            <i class="icon-entypo-share"></i>
            Regions
          </a>
        </li>
      <%% end %>
      <li>
        <a class="navTopBarAdmin__left__item" href="#admin/banner">
          <i class="icon-entypo-share"></i>
          Banner
        </a>
      </li>
    </ul>
    <ul class="navTopBarAdmin__right__list nav navbar-nav  navbar-right js-right-menu">
      <!-- Right menu top -->
      <li>
        <a href="#registration/experience" class="navTopBar__avatar " title="<%%= @name %>">
          <img src="<%%= @avatar.medium %>" alt="<%%= @name %>" class="img-circle">
        </a>
      </li>
      <li>
        <a class="navTopBarAdmin__right__item--arrow dropdown-toggle" href="#" data-toggle="dropdown" title="Profile settings">
          <span class="icon-entypo-down-open"></span>
        </a>
        <ul class="navTopBarAdmin__dropdownMenu dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profileoptions">

          <li role="presentation"><a role="menuitem" tabindex="-1" href="#posts" id="js-changeHeader">User Section</a></li>
          <li role="presentation" class="navTopBarAdmin__dropdownMenu__divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="sign_out">Logout (<%%= @first_name %>)</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
</div>
<div id="submenu-region">
</header>