<header id="header" class="navTopBar navbar  navbar-fixed-top">
  <div class="navTopBar__container--top container-fluid">  <!-- Top Bar -->
  <div class="navbar-header col-md-2">
    <button class="navTopBar__mobileToggleBtn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="ico-menu"></span>
    </button>
    <a class="navTopBar__left__brand navbar-brand " href="/#posts">
     <%= image_tag("general/alumnet_logo.png", alt: "AlumNet") %>

    </a>
  </div>
  <nav class="navTopBar__left collapse navbar-collapse ">
    <ul class="navTopBar__left__list nav navbar-nav js-left-menu ">
      <!-- Left Menu top -->
      <li>
        <a class="navTopBar__left__item" href="#friends/find" id="alumniLayoutOption">
          <i class="icon-entypo-user"></i>
          Alumni
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item" href="#groups" id="groupsLayoutOption" >
          <i class="icon-entypo-share"></i>
          Groups
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item" href="#events" id="eventsLayoutOption">
          <i class="ico-calendar"></i>
          Events
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item dropdown-toggle" href="#programs" role="menu" aria-labelledby="programs" data-toggle="dropdown" id="programsLayoutOption">
          <i class="ico-give-help"></i>
          Programs  <span class="icon-entypo-down-open"></span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs" id="programsList">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#business-exchange/your-tasks"><span class="icon-entypo-bookmark"></span> Global Business exchange </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#job-exchange/my-posts"><span class="icon-entypo-briefcase"></span> Global Job Exchange</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/home-exchange"><span class="icon-entypo-home"></span> Global Home exchange</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#meetup-exchange/your-tasks"><span class="icon-entypo-chat"></span> Global Meet-Ups</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/alumnite"><span class="icon-entypo-moon"></span>
          ALUMnite</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/a-groups"><span class="icon-entypo-users"></span>A-Groups</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navTopBar__right__list nav navbar-nav  navbar-right js-right-menu">
      <!-- Right menu top -->
      <li>
        <!-- CART ICON -->
       <!--<a href="#" class="navTopBar__left__item" title="Points earned" data-toggle="modal" data-target="#devAlertModal">-->
        <a href="#points" class="navTopBar__left__item navTopBar__right__item--points" title="Points earned">
          <span class="icon-entypo-lifebuoy corner-icon"></span>
          <span class="totalPoints"><%%= @points %></span>
        </a>
      </li>
      <li>
        <!-- BELL ICON -->
        <a href="#" class="navTopBar__right__item dropdown-toggle " title="Notifications" data-toggle="dropdown" id="js-menu-notifications">
          <span class="navTopBar__right__item__icon--notificationsIcon glyphicon glyphicon-bell navTopBar__left__item"></span>
          <span class="navTopBar__badge badge" id="js-notifications-badge">
          <%%= @unread_notifications_count  %>
          </span>
        </a>
        <!-- NOTIFICATIONS ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="notifications">
          <!-- NOTIFICATIONS LIST -->
          <div id="js-menu-notifications-box" class="notification__boxMenu"></div>
          <!-- SHOW ALL NOTIFICATIONS LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#notifications" >Show all</a>
          </div>
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#notifications" id="js-notifications-mark-all">Mark all as read</a>
          </div>
        </div>
        <!-- NOTIFICATIONS OFF -->
      </li>
      <li>
        <!-- CHAT ICON -->
        <a href="#" class="navTopBar__right__item dropdown-toggle" title="Messages" data-toggle="dropdown" title="Messages" id="js-menu-messages">
          <span class="navTopBar__right__item__icon ico-chat "></span>
          <span class="navTopBar__badge badge" id="js-messages-badge">
          <%%= @unread_messages_count %>
          </span>
        </a>
        <!-- MESSAGES ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="messages">
          <!-- MESSAGES LIST -->
          <div id="js-menu-messages-box"></div>
          <!-- SHOW ALL MESSAGES LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#conversations" >Show all</a>
          </div>
        </div>
        <!-- MESSAGES OFF -->
      </li>
      <li>
      <%% if @member==0: %>
        <a href="#premium" class="navTopBar__right__item navTopBar__right__item--membershipWrapper " title="<%%= @memberTitle()%>">
          <span class=" navTopBar__right__item--becomeAMember">
            Become a member
            <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar">
          </span>
        </a>
      <%% else: %>
        <%% if @member==2: %>
          <a href="#premium" class="navTopBar__right__item navTopBar__right__item--membershipWrapper" title="<%%= @memberTitle()%>" style="padding-left: 60px;">
            <span class=" navTopBar__right__item--renew">
               Renew membership
              <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar">
            </span>
            <span class=" navTopBar__right__item--counter">
              <span><%%= @daysLeft%></span>
              <span class="upline">days</span>
              <span class="downline">left</span>
            </span>
          </a>
        <%% else: %>
          <a href="" class="navTopBar__right__item navTopBar__right__item--membershipWrapper " title="<%%= @memberTitle()%>">
          <span class=" navTopBar__right__item--member">
          <span class="glyphicon glyphicon-certificate"></span>
          <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar">
          </span>
          </a>
        <%% end %>
      <%% end %>
      </li>
      <li>
        <a class="navTopBar__right__item--arrow dropdown-toggle" href="#" data-toggle="dropdown" title="Profile settings">
          <span class="icon-entypo-down-open"></span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profileoptions" id="accountList">

          <li role="presentation"><a role="menuitem" tabindex="-1" href="#users/<%%= @id %>/posts">My Profile</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#privacy/settings">Privacy Settings</a></li>

          <%% if @isAdmin: %>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#dashboard/alumni" id="js-changeHeader">Admin Section</a></li>
          <%% end %>
          <li role="presentation" class="navTopBar__dropdownMenu__divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="sign_out">Logout (<%%= @first_name %>)
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div id="submenu-region">
</div>
</header>

<!-- modal -->
<div class="modal fade" id="devAlertModal" tabindex="-1" role="dialog" aria-labelledby="devAlertModallLabel" aria-hidden="true">
  <!-- modal-dialog -->
  <div class="modal-dialog">
    <!-- /.modal-content -->
    <div class="modal-content" id="devAlertModal" tabindex="-1" role="dialog" aria-labelledby="devAlertModallLabel" aria-hidden="true">
      <div class="modal-body margin_medium">

        <button type="button" class="close margin_smal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Module under development</h4>
        <p>
          This module is still under development. If you want to learn more about this module, or if you have a question or comment about it, please join the AlumNet group
        </p>

        <button type="button" class="btn btn-primary">
        <a href="#groups/1/posts"></a>Join AlumNet Group</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
