<header id="header" class="navTopBar navbar  navbar-fixed-top">
  <div class="navTopBar__container--top container-fluid">
    <!-- Top Bar -->
  <div class="navbar-header col-md-2 hidden-xs hidden-sm">
    <button class="navTopBar__mobileToggleBtn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="ico-menu"></span>
    </button>
    <a class="navTopBar__left__brand navbar-brand" href="/#posts">
     <%= image_tag("general/alumnet_logo.png", alt: "AlumNet") %>
    </a>
  </div>


  <div class="navbar-header col-md-12 visible-xs visible-sm">
    <div class="text-left">
      <a class="navTopBar__left__brand navbar-brand " href="/#posts">
        <%= image_tag("home/LogoMovilMenu.png", alt: "AlumNet", style: "height: 30px") %>
      </a>
    </div>

    <div class="text-right visible-xs">
      <div class="menuNav">
        <button class="navTopBar__mobileToggleBtn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" id="menuButton">
        <span class="ico-menu"></span>
        </button>
      </div>

      <div class="navTopBarMobile__item menuNavRight">
        <!-- <a href="#" title="Search for..." id="searchIcon">
          <span class="glyphicon glyphicon-search" style="font-size: 20px;"></span>
        </a> -->
        <div class="ui-widget searchMenu js-searchBar">          
          <input type="text" class="js-search-input" placeholder="Search for...">
          <button class="btn btn-primary js-globalsearch-btn" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <a href="#notifications" title="Notifications">
          <span class="glyphicon glyphicon-bell" style="font-size: 20px;"></span>
          <span class="navTopBarMobile__badge badge" id="js-notifications-badge">
          <%%= @unread_notifications_count  %>
          </span>
        </a>

        <a href="#conversations" title="Messages" title="Messages">
          <span class="ico-chat"></span>
          <span class="navTopBarMobile__badge badge" id="js-messages-badge">
          <%%= @unread_messages_count %>
          </span>
        </a>

      </div>
    </div>
  </div>
   
  <nav class="navTopBar__left collapse navbar-collapse">
 <!--    Movil -->
    <ul class="navTopBar__left__list nav navbar-nav js-left-menu visible-xs">
      <!-- Left Menu top -->
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="#users/<%%= @id %>/posts">
          <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar" style="width: 7%; margin-top: -5px;"> My Profile
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#privacy/settings">
          <i class="icon-entypo-lock"></i>
          Privacy Settings
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="#friends/find">
          <i class="icon-entypo-user"></i>
          Alumni
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#alumni/friends">
          <i class="ico-user"></i>
          My Friends
        </a>
      </li>
       <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#friends/contacts">
          <i class="ico-new-invite"></i>
          Invite friends
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#alumni/approval">
          <i class="ico-yes"></i>
          Approval Requests
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="#groups">
          <i class="ico-globe"></i>
          Groups
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#groups/manage">
          <i class="ico-menu"></i>
          My Groups
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="#events">
          <i class="ico-calendar"></i>
          Events
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovilSubmenu" href="#events/manage">
          <i class="ico-menu"></i>
          My Events
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="#companies">
          <i class="icon-entypo-suitcase"></i>
          Companies
        </a>
      </li>
      <li id="menuMovil">
        <a class="navTopBar__left__itemMovil" href="sign_out">
          <i class="ico-out"></i>
          Logout
        </a>
      </li>
    </ul>
  <!-- End movil -->

    <ul class="navTopBar__left__list nav navbar-nav js-left-menu leftNav">
      <!-- Left Menu top -->
      <li class="hidden-xs drophover">
        <a class="navTopBar__left__item dropdown-toggle alumniDiscover" role="menu" href="#alumni/discover" id="alumniLayoutOption">
          <i class="icon-entypo-user"></i>
          <span class="nameItemMenu">Alumni</span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs" id="alumniList">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#alumni/discover" class="alumniDiscover"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#alumni/friends"><span class="ico-user"></span> My Friends</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#alumni/approval"><span class="ico-yes"></span> Approval Requests</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#friends/contacts"><span class="ico-new-invite"></span> Invite friends</a></li>
        </ul>
      </li>
      <li class="hidden-xs drophover">
        <a class="navTopBar__left__item dropdown-toggle" role="menu" href="#groups/discover" id="groupsLayoutOption">
          <i class="ico-alumnet-nav_groups groupsSize"></i>
          <span class="nameItemMenu">Groups</span>   
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs" id="groupsList">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#groups/discover"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#groups/my_groups"><span class="ico-alumnet-nav_groups"></span> My Groups</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#groups/new"><span class="icon-entypo-plus"></span> Create a new group</a></li>
        </ul>
      </li>
      <li class="hidden-xs drophover">
        <a class="navTopBar__left__item dropdown-toggle" role="menu" href="#events" id="eventsLayoutOption">
          <i class="ico-calendar"></i>
          <span class="nameItemMenu">Events</span>           
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs" id="eventsList">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#events/manage"><span class="ico-calendar"></span> My Events</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#events"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#events/new"><span class="icon-entypo-plus"></span> Create a event</a></li>
        </ul>
      </li>
      <li class="hidden-xs drophover">
        <a class="navTopBar__left__item dropdown-toggle" role="menu" href="#companies" id="companiesLayoutOption">
          <i class="icon-entypo-suitcase"></i>
          <span class="nameItemMenu">Companies</span>           
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs" id="companiesList">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#my-companies"><span class="icon-entypo-suitcase"></span> My Companies</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#companies"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#companies/new"><span class="icon-entypo-plus"></span> Add new Company</a></li>
        </ul>
      </li>
      <li class="hidden-xs drophover">
        <a class="navTopBar__left__item dropdown-toggle" href="#programs" role="menu" aria-labelledby="programs" id="programsLayoutOption">
          <i class="ico-give-help"></i>
          <span class="nameItemMenu">Programs</span>             
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu multi-level" role="menu" aria-labelledby="programs" id="programsList">
          
          <li role="presentation" class="dropdown-submenu"><a role="menuitem" tabindex="-1" href="/#business-exchange/home"><span class="icon-entypo-bookmark"></span> Global Business Exchange </a>
            <ul class="dropdown-menu navTopBar__dropdownMenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/home"> <span class="glyphicon glyphicon-home"></span> Global Business Exchange</a></li>
              <li role="presentation" class="dropdown-submenu drophover"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-th-list"></span> Your tasks</a>
                <ul class="dropdown-menu navTopBar__dropdownMenu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/your-tasks"><span class="glyphicon glyphicon-th-list"></span> Your tasks</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/applied"><span class="glyphicon glyphicon-th-list"></span> Applied</a></li>
                </ul>
              </li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/automatches"> <span class="glyphicon glyphicon-star"></span> Automatches</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/invitations"> <span class="ico-new-message"></span> Invites</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#business-exchange/new"> <span class="icon-entypo-plus"></span> Post a new Task</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown-submenu"><a role="menuitem" tabindex="-1" href="/#job-exchange"><span class="icon-entypo-briefcase"></span> Global Job Market</a>
            <ul class="dropdown-menu navTopBar__dropdownMenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange/applied"><span class="glyphicon glyphicon-th-list"></span> My Applications</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange/my-posts"><span class="glyphicon glyphicon-th-list"></span> My Job Posts</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange/automatches"><span class="glyphicon glyphicon-star"></span> Automatches</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange/invitations"><span class="ico-new-message"></span> Invitations</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#job-exchange/new"> <span class="icon-entypo-plus"></span> Post a Job</a></li>        
            </ul>
          </li>

          <li role="presentation" class="dropdown-submenu"><a role="menuitem" tabindex="-1" href="/#meetup-exchange"><span class="icon-entypo-chat"></span> Global Meet-Ups</a>
            <ul class="dropdown-menu navTopBar__dropdownMenu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange"><span class="glyphicon glyphicon-search"></span> Discover</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange/applied"><span class="glyphicon glyphicon-th-list"></span> Meetup Exchange</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange/your-tasks"><span class="glyphicon glyphicon-th-list"></span> My Meetups</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange/automatches"><span class="glyphicon glyphicon-star"></span> Automatches</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange/invitations"><span class="ico-new-message"></span> Invitations</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#meetup-exchange/new"> <span class="icon-entypo-plus"></span> Create a new meet up</a></li>        
            </ul>
          </li>

          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/home-exchange"><span class="icon-entypo-home"></span> Global Home Exchange</a></li>

          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/alumnite"><span class="icon-entypo-moon"></span> ALUMnite</a></li>

          <li role="presentation"><a role="menuitem" tabindex="-1" href="/#programs/a-groups"><span class="icon-entypo-users"></span> A-Groups</a></li>
          <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/#companies"><span class="icon-entypo-users"></span>Business Directory</a></li>-->
        </ul>
      </li>
    </ul>


    <ul class="navTopBar__right__list nav navbar-nav  navbar-right js-right-menu">

      <!-- Right menu top -->
      <!-- <li> -->
        <!-- CART ICON -->
       <!--<a href="#" class="navTopBar__left__item" title="Points earned" data-toggle="modal" data-target="#devAlertModal">-->
       <!--  <a href="#points" class="navTopBar__left__item navTopBar__right__item--points" title="Points earned">
          <span class="icon-entypo-trophy corner-icon"></span>
          <span class="totalPoints"><%%= @points %></span>
        </a>
      </li> -->
      <li>
      <!-- SEARCH INPUT -->
        <div class="ui-widget searchMenu hidden-xs js-searchBar">          
          <input type="text" class="js-search-input" placeholder="Search for...">
          <button class="btn btn-primary js-globalsearch-btn" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
      <!--  -->  
      </li>

      <li class="drophover hidden-xs">
        <!-- BELL ICON -->
        <a href="#requests" class="navTopBar__right__item dropdown-toggle" title="Friend Requests" id="js-menu-friendship-notifications">
          <span class="iconNotification  navTopBar__right__item__icon icon-entypo-users"></span>
          <span class="navTopBar__badge badge" id="js-friendship-notifications-badge">
          <%%= @unread_friendship_notifications_count  %>
          </span>
        </a>
        <!-- NOTIFICATIONS ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="friendship-notifications">
          <!-- NOTIFICATIONS LIST -->
          <div id="js-menu-friendship-notifications-box" class="notification__boxMenu"></div>
          <!-- SHOW ALL NOTIFICATIONS LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#requests" >Show all</a>
          </div>
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#requests" id="js-friendship-notifications-mark-all">Mark all as read</a>
          </div>
        </div>
        <!-- NOTIFICATIONS OFF -->
      </li>
      <li class="drophover hidden-xs">
        <!-- BELL ICON -->
        <a href="#notifications" class="navTopBar__right__item dropdown-toggle " title="Notifications" id="js-menu-notifications">
          <span class="navTopBar__right__item__icon--notificationsIcon glyphicon glyphicon-bell"></span>
          <span class="navTopBar__badge badge" id="js-notifications-badge">
          <%%= @unread_notifications_count  %>
          </span>
        </a>
        <!-- NOTIFICATIONS ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="notifications">
          <!-- NOTIFICATIONS LIST -->
          <div id="js-menu-notifications-box" class="notification__boxMenu"></div>
          <!-- SHOW ALL NOTIFICATIONS LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#notifications" >Show all</a>
          </div>
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#notifications" id="js-notifications-mark-all">Mark all as read</a>
          </div>
        </div>
        <!-- NOTIFICATIONS OFF -->
      </li>
      <li class="drophover hidden-xs">
        <!-- CHAT ICON -->
        <a href="#conversations" class="navTopBar__right__item dropdown-toggle" title="Messages" title="Messages" id="js-menu-messages">
          <span class="navTopBar__right__item__icon ico-chat navTopBar__right__item__icon--iconChatSize"></span>
          <span class="navTopBar__badge badge" id="js-messages-badge">
          <%%= @unread_messages_count %>
          </span>
        </a>
        <!-- MESSAGES ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="messages">
          <!-- MESSAGES LIST -->
          <div id="js-menu-messages-box" class="notification__boxMenu"></div>
          <!-- SHOW ALL MESSAGES LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#conversations" >Show all</a>
          </div>
        </div>
        <!-- MESSAGES OFF -->
      </li>
      <li class="visible-lg">
      <%% if @member==0: %>
        <a href="#premium" class="navTopBar__right__item--membershipWrapper member " title="<%%= @memberTitle()%>">
          <span class=" navTopBar__right__item--becomeAMember">
            <div class="row">
              <div class="col-md-6 text-center"><span class="member">Become Member</span></div>
              <div class="col-md-6"><img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar"></div>
            </div>
          </span>
        </a>
      <%% else: %>
        <%% if @member==2: %>
          <a href="#premium" class="navTopBar__right__item--membershipWrapper member" title="<%%= @memberTitle()%>" style="padding-left: 60px;">
            <span class=" navTopBar__right__item--renew">
               Renew
              <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar">
            </span>
            <span class=" navTopBar__right__item--counter">
              <span><%%= @daysLeft%></span>
              <span class="upline">days</span>
              <span class="downline">left</span>
            </span>
          </a>
        <%% else: %>
          <a href="" class="navTopBar__right__item--membershipWrapper member " title="<%%= @memberTitle()%>">
          <span class=" navTopBar__right__item--member">
          <span class="glyphicon glyphicon-certificate"></span>
          <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle" id="header-avatar">
          </span>
          </a>
        <%% end %>
      <%% end %>
      </li>
      <li class="drophover hidden-xs">
        <a class="navTopBar__right__item--arrow dropdown-toggle" href="#" title="Profile settings">
          <span class="icon-entypo-down-open visible-lg"></span>
          <span class="ico-menu hidden-lg"></span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profileoptions" id="accountList">

          <li role="presentation"><a role="menuitem" tabindex="-1" href="#users/<%%= @id %>/posts">My Profile</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#privacy/settings">Privacy Settings</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#users/<%%= @id %>/notifications">Manage notifications</a></li>
<!--           <li role="presentation">
            <a href="#" onclick="receptivePublicLib.loginAndRedirect()">Suggest Features</a>
          </li> -->
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#contact">Contact</a></li>
          <%% if @isAdmin: %>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#dashboard/alumni" id="js-changeHeader">Admin Section</a></li>
          <%% end %>
          <li role="presentation" class="navTopBar__dropdownMenu__divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="sign_out">Logout (<%%= @first_name %>)
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div id="submenu-region" class="hidden-xs">
</div>
<script type="text/javascript">
var $mcGoal = {'settings':{'uuid':'9cdf81ee709cb0def3fc74dae','dc':'us5'}};
(function() {
var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
})();
</script>
</header>

<!-- modal -->
<div class="modal fade" id="devAlertModal" tabindex="-1" role="dialog" aria-labelledby="devAlertModallLabel" aria-hidden="true">
  <!-- modal-dialog -->
  <div class="modal-dialog">
    <!-- /.modal-content -->
    <div class="modal-content" id="devAlertModal" tabindex="-1" role="dialog" aria-labelledby="devAlertModallLabel" aria-hidden="true">
      <div class="modal-body margin_medium">

        <button type="button" class="close margin_smal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Module under development</h4>
        <p>
          This module is still under development. If you want to learn more about this module, or if you have a question or comment about it, please join the AlumNet group
        </p>

        <button type="button" class="btn btn-primary">
        <a href="#groups/1/posts"></a>Join AlumNet Group</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
