<header id="header" class="navTopBar navbar  navbar-fixed-top">
  <div class="navTopBar__container--top container-fluid">  <!-- Top Bar -->
  <div class="navbar-header col-md-2">
    <button class="navTopBar__mobileToggleBtn navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="ico-menu"></span>
    </button>
    <a class="navTopBar__left__brand navbar-brand " href="/#posts">
     <%= image_tag("general/alumnet_logo.png", alt: "AlumNet") %>

    </a>
  </div>
  <nav class="navTopBar__left collapse navbar-collapse ">
    <ul class="navTopBar__left__list nav navbar-nav js-left-menu ">
      <!-- Left Menu top -->
      <li>
        <a class="navTopBar__left__item" href="#friends/find">
          <i class="icon-entypo-user"></i>
          Alumni
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item" href="#groups">
          <i class="icon-entypo-share"></i>
          Groups
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item" href="#">
          <i class="ico-calendar"></i>
          Events
        </a>
      </li>
      <li>
        <a class="navTopBar__left__item dropdown-toggle" href="#programs" data-toggle="dropdown" role="menu" aria-labelledby="programs">
          <i class="ico-give-help"></i>
          Programs  <span class="icon-entypo-down-open"></span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="programs">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon-entypo-bookmark"></span>  Business exchange </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon-entypo-briefcase"></span> Job Exchange</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="icon-entypo-home"></span> Home exchange</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navTopBar__right__list nav navbar-nav  navbar-right js-right-menu">
      <!-- Right menu top -->
      <li>
        <!-- CART ICON -->
        <a href="#" class="navTopBar__right__item dropdown-toggle " title="Notifications" data-toggle="dropdown">
          <span class=" navTopBar__right__item__icon--cartIcon glyphicon glyphicon-shopping-cart"></span> 3
        </a>
      </li>
      <li>
        <!-- BELL ICON -->
        <a href="#" class="navTopBar__right__item dropdown-toggle " title="Notifications" data-toggle="dropdown" id="js-menu-notifications">
          <span class="navTopBar__right__item__icon--notificationsIcon glyphicon glyphicon-bell"></span>
          <span class="navTopBar__badge badge" id="js-notifications-badge">
          <%%= @unread_notifications_count  %>
          </span>
        </a>
        <!-- NOTIFICATIONS ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="notifications">
          <!-- NOTIFICATIONS LIST -->
          <div id="js-menu-notifications-box"></div>
          <!-- SHOW ALL NOTIFICATIONS LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#notifications" >Show all</a>
          </div>
        </div>
        <!-- NOTIFICATIONS OFF -->
      </li>
      <li>
        <!-- CHAT ICON -->
        <a href="#" class="navTopBar__right__item dropdown-toggle" title="Messages" data-toggle="dropdown" title="Messages" id="js-menu-messages">
          <span class="navTopBar__right__item__icon ico-chat "></span>
          <span class="navTopBar__badge badge" id="js-messages-badge">
          <%%= @unread_messages_count %>
          </span>
        </a>
        <!-- MESSAGES ON -->
        <div class="navTopBar__dropdownMenu dropdown-menu" role="menu" aria-labelledby="messages">
          <!-- MESSAGES LIST -->
          <div id="js-menu-messages-box"></div>
          <!-- SHOW ALL MESSAGES LINK -->
          <div role="presentation">
            <a class="navTopBar__notification__showAll" role="menuitem" tabindex="-1" href="#conversations" >Show all</a>
          </div>
        </div>
        <!-- MESSAGES OFF -->
      </li>
      <li>
        <a href="" class="navTopBar__right__item navTopBar__right__item--becomeAMemberWrapper " title="Become a member">
          <!-- When membership is about to expire activate from here ...
          <div class="navTopBar__right__item--membershipExpires">
            <span class="navTopBar__right__item--membershipExpires__days">30</span> <span class="navTopBar__right__item--membershipExpires__text">days <br>left</span>
          ... to here and the closing </div> before the </a>-->
          <span class=" navTopBar__right__item--becomeAMember">

          Become a member

          <%% console.log this %>  
          <img src="<%%= @avatar.medium%>" alt="<%%=@name%>" class= "img-circle">
 
          </span>


          <!-- </div> -->
        </a>
      </li>
      <li>
        <a class="navTopBar__right__item--arrow dropdown-toggle" href="#" data-toggle="dropdown" title="Profile settings">
          <span class="icon-entypo-down-open"></span>
        </a>
        <ul class="navTopBar__dropdownMenu dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="profileoptions">
          <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li> -->

          <li role="presentation"><a role="menuitem" tabindex="-1" href="#users/<%= @id %>/posts">My Profile</a></li>

          <%% if @isAlumnetAdmin: %>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#admin/users" id="js-changeHeader">Admin Section</a></li>
          <%% end %>
          <li role="presentation" class="navTopBar__dropdownMenu__divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="sign_out">Logout (<%%= @first_name %>)
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div id="submenu-region">
</div>
</header>