@import 'conf/conf.css.less';

.inline-key {
  padding:  3em 0;
  label {
    display: inline;
    color: @dim-gray;
    font-size: 0.9em;
  }
  div {
    display: inline;
    font-size: 2em;
  }
}

.align-to-id {
  margin-left: 70px;
  margin-top: 20px;
  @media(min-width: 992px){
    margin-left: 0;
    margin-top: 0;
  }
}
