<div class="container">
  <div class= "col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
    <table class="table segmentTableView">    
      <thead>
        <tr>
        <th>
        <h2 class="text-left no-margin">Segments</h2>
        </th>
        <th colspan="2" rowspan="1"> 
          <div class="input-group segmentTableView__search text-right">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </th>

        </tr>
      </thead>
      <tbody id="segment-container">

      </tbody>
    </table>
    <div class="text-center">
      <button class="btn btn-primary" id="js-new-segment">CREATE NEW SEGMENT</button>
    </div>
  </div>
 
</div>
<div id="container-modal-new-segment" class="modalNewSegment"></div>
