<div class="col-md-3 col-xs-6 col-sm-6 "  >
	<div class="emails__user" id="js-select-user">
		<div class="row">
		<a title="Select user">

		  <div class="col-md-3 col-xs-3 col-sm-3 emails__user--avatar">
		     	<%= image_tag('avatar/large_default_avatar.png') %>
			</div>

		  <div class="col-md-7 col-xs-7 col-sm-7 emails__user--name">John McClane
		 	</div>
		 	<div class="col-md-2 col-xs-2 col-sm-2 emails__user--selectUser"><i class="fa fa-check"></i></div>

		</a>
		</div>
	</div>

</div>