<div class="container padding_top">
	<div class="row-fluid">

	<!-- ************** PACKAGE CARDS START ******************************** -->
		<div class="col-md-3 packageCard">
			<div>
				<div class="packageCard__image"></div>
				<span class="packageCard__cost">
					<div class="text-center">
						450
						<div class="packageCard__cost--legend">
							POINTS
						</div>
					</div>
				</span>
				<span class="packageCard__legend">
					<div class="text-center packageCard__legend--number">
						3 <span class="glyphicon glyphicon-briefcase"></span>	
					</div>
				</span>
			</div>
			<div class="packageCard__info text-center">
				<div class="margin_top_small">
					Package to apply for <br/>
					<strong>3 job posts</strong>
				</div>
				<a class="btn btn-large margin_top margin_bottom packageCard__info__button" href="#">
					BUY
				</a>
			</div>

		</div>


		<div class="col-md-3 packageCard">
			<div>
				<div class="packageCard__image"></div>
				<span class="packageCard__cost">
					<div class="text-center">
						70
						<div class="packageCard__cost--legend">
							POINTS
						</div>
					</div>
				</span>
				<span class="packageCard__legend">
					<div class="text-center packageCard__legend--text">
						7 DAYS	
					</div>
				</span>
			</div>
			<div class="packageCard__info text-center">
				<div class="margin_top_small">
					Package to apply for <br/>
					<strong>3 job posts</strong>
				</div>
				<a class="btn btn-large margin_top margin_bottom packageCard__info__button" href="#">
					BUY
				</a>
			</div>

		</div>



	<!-- ************** PACKAGE CARDS END ******************************** -->
		

	</div>
</div>