<article class="container staticContentBox">
	<h1>Contact</h1>
	<section class="staticContentBox__content row">
		<div class="col-md-7">
		
		<h2>Feel free to reach us as follows…</h2>	
		<p>
			<strong>Email</strong><br>
			News for inclusion in the AAI newsletter: editor (at) aiesec-alumni.org <br>
			Membership questions: membership (at) aiesec-alumni.org <br>
			Any other questions: info (at) aiesec-alumni.org <br>
			…and by using the contact form at the bottom of this page.
		</p>

		<p>
			<strong>Facebook</strong><br>
			Main AAI group: <a href="https://www.facebook.com/groups/AIESECAlumniInternational/">AIESECAlumniInternational</a> <br>
			ALUMnite events: <a href="https://www.facebook.com/groups/ALUMnitebyAAI/">ALUMnitebyAAI</a> <br>
			A-Groups (peer groups): <a href="https://www.facebook.com/groups/aiesecagroups/">A-Groups</a> <br>
			International Startup Meetings (ISUM): <a href="https://www.facebook.com/groups/ISUMbyAAI/">ISUMbyAAI</a> 
		</p>
		<address>
			<strong>Regular mail</strong><br>
			Our legal and mailing address is: <br>
			AIESEC Alumni International <br>
			Avenue de Tervueren, 300 <br>
			B-1150 Brussels, Belgium
		</address>
		</div>
		<div class="col-md-5">
			<%= image_tag('static_pages/ImgContact.jpg', class: "img-responsive staticContentBox__Img", alt: "Contact
		 us" ) %>
		</div>
		<hr>
		<form class="row formANet form ">
			<div class="col-md-7 margin_top_medium ">
	            <div class="form-group">
					<label class="control-label">Subject related to:</label>
					<select class="form-control input-lg" id="email" name="email">
						<option value="editor@aiesec-alumni.org">News for inclusion in the AAI newsletter</option>
						<option value="membership@aiesec-alumni.org">Membership questions</option>
						<option value="alumnet@aiesec-alumni.org">Technical questions</option>
						<option value="info@aiesec-alumni.org">Any other questions</option>
					</select>
					<span class="help-block"></span>
	            </div>
	            <div class="form-group">
					<label class="control-label">Message:</label>
					<textarea class="form-control input-lg " rows="5" name="message" id="message"></textarea>
					<span class="help-block"></span>
	            </div>
	        </div>
	        <!-- ACTIONS ON -->
	        <div class="col-md-7 margin_top_medium ">
		        <div class="text-right">
					<button class="btn btn-primary btn-lg js-submit">SEND</button>
		        </div>
	        </div>
	        <!-- ACTIONS OFF -->
		</form>
	</section>
</article>