/***

APP NAME: homeAlumNet
DESCRIPTION: Styles for the home page of alumnet

***/

@import 'conf/conf.css.less';


.homeAlumNet{
	font-family: 'roboto', san-serif;
	&__heroArea{
		background: url('/assets/home/homeBackground.jpg') no-repeat center top;
	    background-size: cover; 
	    min-height: 600px;
	    padding-top: 30px; 
	    color:@white;

	    h2{
	    	font-size: 5em;
	    	font-weight: 300;
	    	margin-top: 2*@space_small;
	    }
	    .lead{
	    	font-weight: 300;


	    }
	    &__call2action{
	    	border: 1px solid @white;
	    	padding: @space_small;
	    	margin-top: @space_medium;
	    	display: inline-block;
	    	background-color: rgba(0,0,0,.1);
	    }
	    &__loginForm{
			input[type="email"], input[type="password"]{
				background-color: rgba(255, 255, 255, 0.5);
				border-radius:@radius-small;
				width: 170px;
			}
			a{
				color: @white;
			}
			.checkbox{
				margin-left: @space_xsmall;
			}
			&:hover{
				input[type="email"], input[type="password"]{
					background-color: rgba(255, 255, 255, 1);
				}
			}
		}

	}
	&__features{
		background-color: lighten(@gray, 20%);
		padding: @space_large 0 1.5*@space_large;
		h3{
			font-weight: 300;
		}

	}
	&__values{
		background-color: lighten(@black, 85%);
		padding: @space_large 0 1.5*@space_large;
		&__number{
			font-size: 5em;
			color: lighten(@blue-gray, 10%);
			font-style: italic;
			font-weight: 300;
		}
		h3{
			color: lighten(@blue-gray, 10%);
			font-weight: 300;
		}
		h2{
			font-size: 4em;
			font-weight: 300;
		}
		.row{
			padding: @space_small 0;
		}
	}
	
	&__blog{
		background: url('/assets/home/backgroundBlogHome.jpg') no-repeat center top;
		background-size: cover;
		color: @white;
		padding: @space_large 0 1.5*@space_large; 
		h2{
			font-size: 4em;
			font-weight: 300;
		}
	}
	


}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @media-small-min) {


 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @media-medium-min) {


 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @media-large-min) {


 }