<!DOCTYPE html>
<html>
<head>
  <title>AlumNet</title>
  <%#= stylesheet_link_tag    'bootstrap.min' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
