/***

COMPONENT NAME: Error 404 
DESCRIPTION: estilos del error 404 

***/
/***
VARIABLES NAME: sMargins
DESCRIPTION: Displays s and margins
***/
/* Margins */
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-regular.eot');
  src: font-url('roboto-regular.eot?#iefix') format('embedded-opentype'), font-url('roboto-regular.woff') format('woff'), font-url('roboto-regular.ttf') format('truetype'), font-url('roboto-regular.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-italic.eot');
  src: font-url('roboto-italic.eot?#iefix') format('embedded-opentype'), font-url('roboto-italic.woff') format('woff'), font-url('roboto-italic.ttf') format('truetype'), font-url('roboto-italic.svg#robotoitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-light.eot');
  src: font-url('roboto-light.eot?#iefix') format('embedded-opentype'), font-url('roboto-light.woff') format('woff'), font-url('roboto-light.ttf') format('truetype'), font-url('roboto-light.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-medium.eot');
  src: font-url('roboto-medium.eot?#iefix') format('embedded-opentype'), font-url('roboto-medium.woff') format('woff'), font-url('roboto-medium.ttf') format('truetype'), font-url('roboto-medium.svg#robotomedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-bold.eot');
  src: font-url('roboto-bold.eot?#iefix') format('embedded-opentype'), font-url('roboto-bold.woff') format('woff'), font-url('roboto-bold.ttf') format('truetype'), font-url('roboto-bold.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: font-url('roboto-lightitalic.eot');
  src: font-url('roboto-lightitalic.eot?#iefix') format('embedded-opentype'), font-url('roboto-lightitalic.woff') format('woff'), font-url('roboto-lightitalic.ttf') format('truetype'), font-url('roboto-lightitalic.svg#robotobold') format('svg');
  font-weight: 100;
  font-style: italic;
}
body {
  padding: 0px;
  margin: 0px;
}
.boxHeaderError {
  background-color: #484848;
  padding: 2em;
}
.boxHeaderError__Logo {
  position: relative;
  left: 50%;
  margin-left: -80px;
}
.boxBodyError {
  background-color: #e6e6e8;
  padding: 100px 0px;
  color: #667e88;
  font-family: Roboto;
}
.boxBodyError__TextRight500 {
  margin-top: 4em;
}
.boxBodyError__TextRight {
  margin-top: 2em;
}
.boxBodyError__Text404 {
  float: right;
  font-size: 180px;
  margin-top: -10px;
}
.boxBodyError__Parrafo {
  font-size: small;
}
.boxBodyError__Input {
  padding: 10px;
  width: 60%;
  border-radius: 0px;
  border: 1px solid #b9b9b9;
  font-style: italic;
  font-size: small;
  color: #b9b9b9;
  position: relative;
  z-index: 0;
}
.boxBodyError__lupa {
  z-index: 1;
  position: relative;
  margin-left: -40px;
}
